
@{
    ViewBag.Title = "List";
    ViewBag.userInfo = ViewBag.userInfo ?? "{}";
}

@if (ViewBag.Html != null && (bool)ViewBag.Html == true)
{
    <div class="container-fluid" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo,linkUrl:'@(Url.Content("~/"))'})" keyboard="ctrl.keys">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title clearfix">
                    <span><i class="fa fa-fw fa-star-o"></i>Báo cáo doanh thu</span>
                    <div class="btn-group btn-group-sm pull-right">
                        <a class="btn btn-primary" data-toggle="collapse" data-target="#SearchCollapse"><i class="fa fa-fw fa-search"></i> Tìm kiếm (F3)</a>

                    </div>
                </div>
            </div>

            <div class="collapse fade" id="SearchCollapse">
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row form-group form-group-sm">
                            <label class="control-label col-sm-2">Ngày</label>
                            <div class="form-inline col-sm-9">
                                <input type="text" id="tungay" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.startDate" /> ~
                                <input type="text" id="denngay" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.endDate" />
                            </div>
                        </div>
                        <div class="row form-group form-group-sm">
                            <label class="control-label col-sm-2">Loại hợp đồng</label>
                            <div class="col-sm-9">
                                <cbo-loai-hop-dong id="cbxLoaiHopDong" data-function-code="KD0015" data-loaihopdongid="ctrl.data.searchLoaiHopDongId" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/loaihopdong/showcombobox?viewname=cboLoaiHopDong"></cbo-loai-hop-dong>
                            </div>
                        </div>
                        <div class="row form-group form-group-sm">
                            <label class="control-label col-sm-2">Tìm kiếm nhanh</label>
                            <div class="col-sm-9">
                                <input class="form-control ng-pristine ng-valid ng-empty ng-touched" id="txtsearch" placeholder="Mã nhân viên, số hợp đồng" ng-model="ctrl.data.searchString" ng-keypress="$event.keyCode===13?ctrl.action.getPage():0" autofocus="">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-sm btn-primary" ng-click="ctrl.action.getPage()">Tìm kiếm (F8)</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-sm btn-default" ng-click="ctrl.action.reset()">Thiết lập lại</a>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <!---->

            <div class="panel-heading">
                <a class="btn btn-sm btn-primary" ng-click="ctrl.action.In()"><i class="fa fa-print"></i> In danh sách</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.XuatExcel()"><i class="fa fa-file-excel-o"></i> Xuất Excel</a>
            </div>
            <div class="table-container panel-body">
                <table class="table table-bordered table-condensed  table-hover " st-table="ctrl.data.listBaoCaoDoanhThu" st-pipe="ctrl.action.getPage">
                    <thead class="bg-default text-primary">
                        <tr>
                            <th class="text-center" style="width: 40px;vertical-align:middle">STT</th>
                            <th class="text-center"
                                style="width:{{cot.DoRong}}px;"
                                st-sort="{{cot.MaCot}}"
                                ng-repeat="cot in ctrl.data.listCot|filter:ctrl.action.checkCot">
                                <span ng-bind="cot.TenCot"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="ctrl.data.error.code>0">
                            <td colspan="100" class="text-center danger" ng-bind="ctrl.data.error.message"></td>
                        </tr>
                        <tr ng-repeat="BaoCaoDoanhThu in ctrl.data.listBaoCaoDoanhThu">
                            <td class="text-center">{{$index + 1}}</td>

                            <td ng-repeat="cot in ctrl.data.listCot|filter:ctrl.action.checkCot" ng-switch="cot.MaCot">
                                <span ng-switch-when="SoTien" ng-bind="BaoCaoDoanhThu[cot.MaCot]|number" style="display:block;text-align:right"></span>
                                <span ng-switch-when="ThoiGian" ng-bind="BaoCaoDoanhThu[cot.MaCot]" style="display:block;text-align:center"></span>
                                <span ng-switch-default ng-bind="BaoCaoDoanhThu[cot.MaCot]"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-right" colspan="5" style="color: red;font-weight: bold;text-align: center;">TỔNG</td>
                            <td class="text-right" ng-bind="(ctrl.data.listBaoCaoDoanhThu|sumOfValue:'SoTien')|number" style="color: brown;"></td>
                            <td class="text-right" style="color: red;font-weight: bold;text-align: center;"></td>
                            <td class="text-right" style="color: red;font-weight: bold;text-align: center;"></td>
                        </tr>
                        <tr>
                            <td colspan="100" class="text-center hidden-print">
                                <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="modal fade bs-example-modal-full" id="reportmodal" style="z-index:2000" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-full" style="margin: 0px; width:90%">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myLargeModalLabel">Báo cáo doanh thu</h4>
                    </div>
                    <div class="modal-body">
                        <iframe src="" width="100%" height="1000px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view></div>
}
else if (ViewBag.ImportStyles != null && (bool)ViewBag.ImportStyles == true) { }
else if (ViewBag.SetupStyles != null && (bool)ViewBag.SetupStyles == true)
{
}
else if (ViewBag.ImportScripts != null && (bool)ViewBag.ImportScripts == true) { }
else if (ViewBag.SetupScripts != null && (bool)ViewBag.SetupScripts == true) { }
else if (ViewBag.ImportAngular != null && (bool)ViewBag.ImportAngular == true) { }
