
@{
    ViewBag.Title = "Nhà cung cấp";
}
<div class="container-fluid">

    <div ng-controller="NhaCungCapListCtrl as ctrl" class="panel panel-default" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <span><i class="fa fa-fw fa-star-o"></i>Nhà cung cấp</span>
                <div class="pull-right">
                    <form class="form-inline">
                        <div class="form-group form-group-sm">
                            <div class="input-group input-group-sm">
                                <input class="form-control" id="txtsearch" ng-model="ctrl.data.searchString" ng-keypress="$event.keyCode===13?ctrl.action.getPage():0" autofocus />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" ng-click="ctrl.action.getPage()"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</button>

                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
       
          
            <div class="panel-body">
                <h3 class="text-center no-margin">Danh sách Nhà cung cấp</h3>
            </div>
        <div class="table-container panel-body">
            <table st-table="ctrl.data.NhaCungCapListDisplay" st-pipe="ctrl.action.getPage" class="table table-bordered table-condensed table-responsive table-hover ">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="width: 50px;">Chọn</th>
                        <th class="text-center" style="width: 100px;" st-sort="MaNhaCungCap">Mã</th>
                        <th class="text-center" st-sort="TenNhaCungCap">Tên</th>
                        <th class="text-center" style="width: 100px;" st-sort="DienThoai">Điện thoại</th>
                        <th class="text-center" style="width: 200px" st-sort="DiaChi">Địa chỉ</th>
                        <th class="text-center" style="width: 100px" st-sort="GhiChu">Ghi chú</th>
                        <th class="text-center" style="width: 100px" st-sort="NguoiTao">Người tạo</th>
                        <th class="text-center" style="width: 150px" st-sort="NgayTao">Ngày tạo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="NhaCungCap in ctrl.data.NhaCungCapListDisplay" ng-class="(NhaCungCap.isSelected==true)?'info':''">
                        <td st-select-row="NhaCungCap" st-select-mode="multiple" class="text-center"><i class="fa fa-fw text-primary" ng-class="(NhaCungCap.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td><a ng-bind="NhaCungCap.MaNhaCungCap" ng-click="ctrl.action.edit(NhaCungCap.NhaCungCapId)" href="javascript:void(0);"></a></td>
                        <td><a ng-bind="NhaCungCap.TenNhaCungCap" ng-click="ctrl.action.edit(NhaCungCap.NhaCungCapId)" href="javascript:void(0);"></a></td>
                        <td><span ng-bind="NhaCungCap.DienThoai"></span></td>
                        <td><span ng-bind="NhaCungCap.DiaChi"></span></td>
                        <td><span ng-bind="NhaCungCap.GhiChu"></span></td>
                        <td><span ng-bind="NhaCungCap.HoTen"></span></td>
                        <td><span> {{ NhaCungCap.NgayTao | date : 'dd/MM/yyyy HH:mm'}} </span></td>

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
</div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-primary" ng-if="ctrl.data.showButtonNew" ng-click="ctrl.action.add()"><i class="fa fa-plus"></i> Mới (F2)</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-sm btn-danger" ng-if="ctrl.data.showButtonXoaChon" ng-click="ctrl.action.deleteSelected()"><i class="fa fa-trash-o"></i> Xóa chọn</button>
            </div>
        </div>

</div>
<div ng-controller="NhaCungCapEditCtrl as ctrl" class="panel panel-primary ui-draggable collapse fade" id="NhaCungCapEditPopup"  keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
    <div class="panel-heading ui-draggable-handle">
        <h2 class="panel-title">
            <span>Thông tin Nhà cung cấp</span>
            <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#NhaCungCapEditPopup" ng-click="ctrl.action.close()">
                <i class="fa fa-remove"></i>
            </a>
            <i class="fa fa-fw fa-pulse text-primary pull-right fa-spinner" ng-if="ctrl.status.isLoading"></i>
        </h2>
    </div>
    <div style="width: 600px; padding-top: 15px;padding-right: 50px;">
        <form class="form-horizontal">
            <div class="row form-group form-group-sm" ng-class="(ctrl.status.isInValidMa)?'has-error':''">
                <label class="control-label col-sm-3">Mã NCC</label>
                <div class="col-sm-9">
                    <input class="form-control" id="txtMa" type="text" ng-model="ctrl.data.objNhaCungCap.MaNhaCungCap" required ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.MaNhaCungCap,'txtMa','txtTen',$event)"/>
                </div>
            </div>

            <div class="row form-group form-group-sm"  ng-class="(ctrl.status.isInValidTen)?'has-error':''">
                <label class="control-label col-sm-3">Tên NCC</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="txtTen" ng-model="ctrl.data.objNhaCungCap.TenNhaCungCap" required ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.TenNhaCungCap,'txtTen','txtNhom',$event)"/>
                </div>
            </div>
             <div class="row form-group form-group-sm">
                <label class="control-label col-sm-3">Nhóm</label>
                <div class="col-sm-9">
                    <select class="form-control" id="txtNhom" data-placeholder="Chọn nhóm cung cấp" ng-model="ctrl.data.objNhaCungCap.Nhom" >
                        <option value="KXD">Không xác định</option>
                        <option value="TN">Doanh nghiệp tư nhân</option>
                        <option value="NN">Doanh nghiệp nước ngoài</option>
                    </select>
                </div>
            </div>
            <div class="row form-group form-group-sm">
                <label class="control-label col-sm-3">Đại diện</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="txtDaiDien" ng-model="ctrl.data.objNhaCungCap.DaiDien" ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.DaiDien,'txtDaiDien','txtDienThoai',$event)" />
                </div>
            </div>
            <div class="row form-group form-group-sm">
                <label class="control-label col-sm-3">Điện thoại</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="txtDienThoai" ng-model="ctrl.data.objNhaCungCap.DienThoai" ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.DienThoai,'txtDienThoai','txtDiDong',$event)"/>
                </div>
            </div>
            <div class="row form-group form-group-sm">
                <label class="control-label col-sm-3">Di động</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="txtDiDong" ng-model="ctrl.data.objNhaCungCap.DiDong" ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.DiDong,'txtDiDong','txtMaSoThe',$event)" />
                </div>
            </div>
            <div class="row form-group form-group-sm">
                <label class="control-label col-sm-3">Mã số thuế</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="txtMaSoThe" ng-model="ctrl.data.objNhaCungCap.MaSoThue" ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.MaSoThue,'txtMaSoThe','txtTKNganHang',$event)" />
                </div>
            </div>
            <div class="row form-group form-group-sm">
                <label class="control-label col-sm-3">Số tài khoản</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="txtTKNganHang" ng-model="ctrl.data.objNhaCungCap.TKNganHang" ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.TKNganHang,'txtTKNganHang','txtTenNganHang',$event)" />
                </div>
            </div>
            <div class="row form-group form-group-sm">
                <label class="control-label col-sm-3">Tên ngân hàng</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="txtTenNganHang" ng-model="ctrl.data.objNhaCungCap.TenNganHang" ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.TenNganHang,'txtTenNganHang','txtDiaChi',$event)" />
                </div>
            </div>
            <div class="row form-group form-group-sm">
                <label class="control-label col-sm-3">Địa chỉ</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="txtDiaChi" ng-model="ctrl.data.objNhaCungCap.DiaChi" ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.DiaChi,'txtDiaChi','txtGhiChu',$event)" />
                </div>
            </div>
            <div class="row form-group form-group-sm" >
                <label class="control-label col-sm-3">Ghi chú</label>
                <div class="col-sm-9">
                    <textarea rows="2" class="form-control" type="text" id="txtGhiChu" ng-model="ctrl.data.objNhaCungCap.GhiChu" ng-keypress="ctrl.action.keyPress(ctrl.data.objNhaCungCap.GhiChu,'txtGhiChu','btnluu',$event)"></textarea>
                </div>
            </div>

        </form>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-sm btn-primary" id="btnluu" ng-if="ctrl.data.showButtonSave" ng-click="ctrl.action.save()"><i class="fa fa-save"></i> Lưu (F8)</button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.refresh()">Thiết lập lại</button>&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.close()">Đóng</button>
    </div>
</div>

@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/NhaCungCap/service/NhaCungCapService.js"></script>
    <script src="~/Scripts/angular/NhaCungCap/controller/NhaCungCapListCtrl.js"></script>
    <script src="~/Scripts/angular/NhaCungCap/controller/NhaCungCapEditCtrl.js"></script>
}




