@*
    ============================
    + partial content template +
    ============================
    @if (ViewBag.Html != null && (bool)ViewBag.Html == true) { }
    else if (ViewBag.ImportStyles != null && (bool)ViewBag.ImportStyles == true) { }
    else if (ViewBag.SetupStyles != null && (bool)ViewBag.SetupStyles == true) { }
    else if (ViewBag.ImportScripts != null && (bool)ViewBag.ImportScripts == true) { }
    else if (ViewBag.SetupScripts != null && (bool)ViewBag.SetupScripts == true) { }

    =========================
    + view content template +
    =========================
    @section ImportScripts{}
    @section SetupScripts{}
*@
<!-- _Login.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="~/lib/images/LOGO_ICON.png" rel="icon" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/sb-admin/css/sb-admin-2.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/jquery-3.1.1.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>