@{
    ViewBag.Title = "Thông tin kho phiếu nhập";
    ViewBag.id = ViewBag.id ?? 0;
    ViewBag.userInfo = ViewBag.userInfo ?? "{ }";
}

<div class="container-fluid" keyboard="mainCtrl.keys">
    <div class="panel panel-default" ng-controller="KhoPhieuXuatEditCtrl as ctrl" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo, khoPhieuXuatId:@(ViewBag.id), linkUrl:'@(Url.Content("~/"))'})">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-fw fa-star-o"></i>{{ctrl.view.Title}} phiếu chuyển kho</span>
        </div>

        <div class="panel-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.KhoPhieuXuat_SoPhieu?'has-error':''">
                            <label class="control-label col-sm-4">Số phiếu <span class="text-danger">&nbsp;*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" placeholder="" ng-model="ctrl.data.KhoPhieuXuat.SoPhieu"
                                       ng-keydown="ctrl.action.keyPressKhoPhieuXuat($event)"
                                       data-name="KhoPhieuXuat_SoPhieu"
                                       data-next="KhoPhieuXuat_NgayXuat" autofocus />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-4">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.KhoPhieuXuat_Loai?'has-error':''">
                                <label class="control-label col-sm-4">Loại<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-7">
                                    <select class="form-control"
                                            ng-model="ctrl.data.KhoPhieuXuat.Loai"
                                            data-name="KhoPhieuXuat_Loai"
                                            data-next="KhoPhieuXuat_NgayXuat"
                                            ng-options="loai.MaLoai as loai.TenLoai for loai in ctrl.data.LoaiPhieuXuat"></select>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.KhoPhieuXuat_NgayXuat?'has-error':''">
                            <label class="control-label col-sm-4">Ngày xuất<span class="text-danger">&nbsp;*</span></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.KhoPhieuXuat.NgayXuat"
                                       ng-keydown="ctrl.action.keyPressKhoPhieuXuat($event)"
                                       data-name="KhoPhieuXuat_NgayXuat"
                                       data-next="KhoPhieuXuat_NguoiNhanHang" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.KhoPhieuXuat_NguoiNhanHang?'has-error':''">
                            <label class="control-label col-sm-4">Người nhận hàng</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control"
                                       ng-model="ctrl.data.KhoPhieuXuat.NguoiNhanHang"
                                       ng-keydown="ctrl.action.keyPressKhoPhieuXuat($event)"
                                       data-name="KhoPhieuXuat_NguoiNhanHang"
                                       data-next="KhoPhieuXuat_KhoXuatId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.KhoPhieuXuat_KhoXuatId?'has-error':''">
                            <label class="control-label col-sm-4">Kho xuất<span class="text-danger">&nbsp;*</span></label>
                            <div class="col-sm-7">
                                <cbo-kho-tai-san data-function-code="{{ctrl.config.functionCode}}"
                                                 data-khotaisanid="ctrl.data.KhoPhieuXuat.KhoXuatId"
                                                 data-config="{userInfo:@(ViewBag.userInfo)}"
                                                 data-name="KhoPhieuXuat_KhoXuatId"
                                                 data-next="KhoPhieuXuat_KhoNhanId"
                                                 template-url="~/khotaisan/showview?viewname=cboKhoTaiSan"></cbo-kho-tai-san>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.KhoPhieuXuat_KhoNhanId?'has-error':''">
                            <label class="control-label col-sm-4">Kho nhận</label>
                            <div class="col-sm-7">
                                <cbo-kho-tai-san data-function-code="{{ctrl.config.functionCode}}"
                                                 data-khotaisanid="ctrl.data.KhoPhieuXuat.KhoNhanId"
                                                 data-exclude="ctrl.data.KhoPhieuXuat.KhoXuatId"
                                                 data-config="{userInfo:@(ViewBag.userInfo)}"
                                                 data-name="KhoPhieuXuat_KhoNhanId"
                                                 data-next="KhoPhieuXuat_NguoiNhanHang"
                                                 template-url="~/khotaisan/showview?viewname=cboKhoTaiSan"></cbo-kho-tai-san>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group form-group-sm" ng-class="ctrl.error.KhoPhieuXuat_LyDo?'has-error':''">
                    <label class="control-label col-sm-1" style="width:11%">Nội dung</label>
                    <div class="col-sm-10" style="width:86.333%">
                        <textarea rows="2" type="text" class="form-control" id="txtNoiDung"
                                  ng-model="ctrl.data.KhoPhieuXuat.LyDo"
                                  ng-keydown="ctrl.action.keyPressKhoPhieuXuat($event)"
                                  data-name="KhoPhieuXuat_LyDo"
                                  data-next="listChiTiet_TaiSanId0"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-heading">
            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.addChiTiet()" ng-if="ctrl.action.checkQuyenTacVu('N')||ctrl.action.checkQuyenTacVu('M')">
                <i class="fa fa-plus"></i>
                Thêm chi tiết (F2)
            </button>
        </div>

        <div class="panel-body table-responsive" style="max-height:300px;min-height:300px">
            <table st-table="ctrl.data.listChiTiet" class="table table-bordered table-condensed table-hover ng-isolate-scope table-striped" style="min-width:1000px;border: 1px solid #ddd;">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="min-width: 50px; vertical-align:middle">#</th>
                        <th class="text-center" style="min-width: 50px; vertical-align:middle">Xóa</th>
                        <th class="text-center" style="min-width: 90px; vertical-align:middle">Mã tài sản</th>
                        <th class="text-center" style="min-width: 300px; vertical-align:middle">Tên tài sản<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 70px; vertical-align:middle">ĐVT</th>
                        <th class="text-center" style="min-width: 70px; vertical-align:middle">Date</th>
                        <th class="text-center" style="min-width: 80px; vertical-align:middle">Lô SX</th>
                        <th class="text-center" style="min-width: 120px; vertical-align:middle">Số lượng<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 120px; vertical-align:middle">Đơn giá</th>
                        <th class="text-center" style="min-width: 160px; vertical-align:middle">Nguồn ngân sách</th>
                        <th class="text-center" style="min-width: 160px; vertical-align:middle">Nhà cung cấp</th>
                        <th class="text-center" style="min-width: 150px; vertical-align:middle">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="PhieuXuatChiTiet in ctrl.data.listChiTiet" ng-class="PhieuXuatChiTiet.isError ? 'danger':''">
                        <td class="text-center"><span ng-bind="$index + 1"></span></td>
                        <td class="text-center">
                            <a class="btn btn-xs btn-danger"
                               ng-click="ctrl.action.removeChiTiet($index)" ng-if="ctrl.action.checkQuyenTacVu('N')||ctrl.action.checkQuyenTacVu('M')">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--mataisan-->
                            <span class="form-control text-left" ng-bind="PhieuXuatChiTiet.MaTaiSan"></span>
                        </td>
                        <td class="form-group form-group-sm" ng-class="ctrl.error.listChiTiet_TaiSanId{{$index}}?'has-error':''">
                            <cbo-tai-san-ton-kho data-functioncode="ctrl.config.functionCode"
                                                 data-taisanid="PhieuXuatChiTiet.TaiSanId"
                                                 data-khotaisanid="ctrl.data.KhoPhieuXuat.KhoXuatId"
                                                 data-dongia="PhieuXuatChiTiet.DonGia"
                                                 data-thangnam="ctrl.data.KhoPhieuXuat.ThangNam"
                                                 data-config="{userInfo:@(ViewBag.userInfo)}"
                                                 template-url="~/taisan/showview?viewname=cbotaisantonkho"
                                                 on-selected="ctrl.action.getDataTaiSan(data, PhieuXuatChiTiet)"
                                                 ng-keydown="ctrl.action.keyPressChiTiet($event,$index)"
                                                 data-name="listChiTiet_TaiSanId{{$index}}"
                                                 data-next="listChiTiet_SoLuong{{$index}}"></cbo-tai-san-ton-kho>
                        </td>
                        <td class="form-group form-group-sm">
                            <!--dvtinh-->
                            <span class="form-control text-left " style="background:#eeeeee" ng-bind="PhieuXuatChiTiet.DonViTinh"></span>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--date-->
                            <span type="text" class="form-control text-left" ng-bind="PhieuXuatChiTiet.HangDung"></span>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--lô-->
                            <span type="text" class="form-control text-left" ng-bind="PhieuXuatChiTiet.LoSanXuat"></span>
                        </td>
                        <td class="text-right form-group form-group-sm" ng-class="ctrl.error.listChiTiet_SoLuong{{$index}}?'has-error':''">
                            <!--soluong-->
                            <input type="number" class="form-control text-right"
                                   ng-model="PhieuXuatChiTiet.SoLuong"
                                   ng-change="ctrl.action.checkSoLuongChiTiet(PhieuXuatChiTiet)"
                                   ng-keydown="ctrl.action.keyPressChiTiet($event,$index)"
                                   data-name="listChiTiet_SoLuong{{$index}}"
                                   data-next="listChiTiet_TaiSanId{{$index+1}}" />
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--don gia-->
                            <span type="text" class="form-control text-right" ng-bind="PhieuXuatChiTiet.DonGia|number"></span>
                        </td>
                        <td class="form-group form-group-sm">
                            <!--TenNguonNganSach-->
                            <span class="form-control auto-height" ng-bind-html="PhieuXuatChiTiet.TenNguonNganSach||'&nbsp;'"></span>
                        </td>
                        <td class="form-group form-group-sm">
                            <!--TenNhaCungCap-->
                            <span class="form-control auto-height" ng-bind-html="PhieuXuatChiTiet.TenNhaCungCap||'&nbsp;'"></span>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--thanhtien-->
                            <span class="form-control text-right" style="background:#eeeeee" ng-bind="(PhieuXuatChiTiet.SoLuong*PhieuXuatChiTiet.DonGia)|number:'':'':2"></span>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="panel-footer">
            <span ng-if="ctrl.action.checkQuyenTacVu('N')||ctrl.action.checkQuyenTacVu('M')">
                <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.save()"><i class="fa fa-save"></i> Lưu (F8)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="ctrl.action.checkQuyenTacVu('D')">
                <a class="btn btn-sm btn-danger" href="javascript:void(0)" ng-click="ctrl.action.removePhieuKhoPhieuXuat()"><i class="fa fa-trash-o"></i> Xóa</a>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="true">
                <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="ctrl.action.In()"><i class="fa fa-print"></i> In</a>&nbsp;&nbsp;&nbsp;
            </span>
            <a class="btn btn-sm btn-default" ng-click="ctrl.action.goBack()"><i class="fa fa-arrow-left"></i> Quay lại</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

    </div>

    <div class="modal fade bs-example-modal-full" id="reportmodal" style="z-index:2000" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-full" style="margin: 0px; width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Phiếu nhập kho</h4>
                </div>
                <div class="modal-body">
                    <iframe src="" width="100%" height="1000px"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>



@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/KhoPhieuXuat/service/KhoPhieuXuatService.js"></script>
    <script src="~/Scripts/angular/KhoPhieuXuat/controller/KhoPhieuXuatEditCtrl.js"></script>
    @{Html.RenderPartial("~/views/KhoTaiSan/cboKhoTaiSan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/TaiSan/cboTaiSanTonKho.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
}



