
@{
    ViewBag.Title = "Hợp đồng";
    ViewBag.userInfo = ViewBag.userInfo ?? "{}";
}
@if (ViewBag.Html != null && (bool)ViewBag.Html == true)
{
    <div class="container-fluid" ng-init="ctrl.onInitView({userInfo:@(ViewBag.userInfo),linkUrl:'@(Url.Content("~/"))',functionCode:'KD0010'})" keyboard="ctrl.keys">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title ng-binding"><i class="fa fa-fw fa-star-o"></i>Hợp đồng</span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_SoHopDong?'has-error':''">
                                <label class="control-label col-sm-4">Số hợp đồng<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="ctrl.data.HopDong.SoHopDong" autofocus
                                           ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_SoHopDong" data-next="HopDong_TenHopDong" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_TenHopDong?'has-error':''">
                                <label class="control-label col-sm-4">Tên hợp đồng<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="ctrl.data.HopDong.TenHopDong"
                                           ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_TenHopDong" data-next="HopDong_NgayHopDong" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_NgayHopDong?'has-error':''">
                                <label class="control-label col-sm-4">Ngày hợp đồng<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control datetimepicker date" type="text" ng-model="ctrl.data.HopDong.NgayHopDong"
                                           ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_NgayHopDong" data-next="HopDong_LoaiHopDongId" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_LoaiHopDongId?'has-error':''">
                                <label class="control-label col-sm-4">Loại hợp đồng</label>
                                <div class="col-sm-8">
                                    <cbo-loai-hop-dong ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_LoaiHopDongId" data-next="HopDong_NhanVienId"
                                                       loaihopdongid="ctrl.data.HopDong.LoaiHopDongId"
                                                       functioncode="{{ctrl.functionCode}}"
                                                       config="{userInfo:@(ViewBag.userInfo)}"
                                                       disabled="false"
                                                       template-url="~/loaihopdong/showcombobox?viewname=cboLoaiHopDong"></cbo-loai-hop-dong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_NhanVienId?'has-error':''">
                                <label class="control-label col-sm-4">Nhân viên KD<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <cbo-nhan-vien-by-phong-ban ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_NhanVienId" data-next="HopDong_KhachHangId"
                                                                value="ctrl.data.HopDong.NhanVienId"
                                                                functioncode="{{ctrl.functionCode}}"
                                                                config="{userInfo:@(ViewBag.userInfo)}"
                                                                disabled="false" phongbanid="53"
                                                                template-url="~/nhanvien/showcombobox?viewname=cbonhanvienbyphongban"></cbo-nhan-vien-by-phong-ban>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_KhachHangId?'has-error':''">
                                <label class="control-label col-sm-4">Khách hàng<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <cbo-khach-hang ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_KhachHangId" data-next="HopDong_NgayHopDong"
                                                    value="ctrl.data.HopDong.KhachHangId"
                                                    functioncode="{{ctrl.functionCode}}"
                                                    config="{userInfo:@(ViewBag.userInfo)}"
                                                    disabled="false"
                                                    template-url="~/khachhang/showcombobox?viewname=cbokhachhang"></cbo-khach-hang>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_NgayThanhLy?'has-error':''">
                                <label class="control-label col-sm-4">Ngày thanh lý</label>
                                <div class="col-sm-8">
                                    <input class="form-control datetimepicker date" type="text" ng-model="ctrl.data.HopDong.NgayThanhLy"
                                           ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_NgayThanhLy" data-next="HopDong_SoTien" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_SoTien?'has-error':''">
                                <label class="control-label col-sm-4">Số tiền<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="ctrl.data.HopDong.SoTien" number-format
                                           ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_SoTien" data-next="HopDong_SoHoaDon" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_SoHoaDon?'has-error':''">
                                <label class="control-label col-sm-4">Số hóa đơn<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="ctrl.data.HopDong.SoHoaDon"
                                           ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_SoHoaDon" data-next="HopDong_NgayHoaDon" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_NgayHoaDon?'has-error':''">
                                <label class="control-label col-sm-4">Ngày hóa đơn<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control datetimepicker date" type="text" ng-model="ctrl.data.HopDong.NgayHoaDon"
                                           ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_NgayHoaDon" data-next="HopDong_ThanhToan" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_ThanhToan?'has-error':''">
                                <label class="control-label col-sm-4">Thanh toán<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="ctrl.data.HopDong.ThanhToan" number-format
                                           ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_ThanhToan" data-next="HopDong_TyLe" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_TyLe?'has-error':''">
                                <label class="control-label col-sm-4">Tỷ lệ (%)<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" ng-model="ctrl.data.HopDong.TyLe" number-format
                                           ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_TyLe" data-next="HopDong_Chi" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_Chi?'has-error':''">
                                <label class="control-label col-sm-4">Hoa hồng<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="ctrl.data.HopDong.Chi" value="N"
                                               ng-keydown="ctrl.action.keyPress($event)" />
                                        Chưa chi
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" ng-model="ctrl.data.HopDong.Chi" value="Y"
                                               ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_Chi" data-next="HopDong_DuLieuId" />
                                        Đã chi
                                    </label>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row form-group form-group-sm" ng-class="ctrl.error.HopDong_DuLieuId?'has-error':''">
                                <label class="control-label col-sm-4">Dữ liệu<span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-8">
                                    <cbo-du-lieu ng-keydown="ctrl.action.keyPress($event)" data-name="HopDong_DuLieuId" data-next="HopDong_DuLieuId"
                                                 dulieuid="ctrl.data.HopDong.DuLieuId"
                                                 functioncode="{{ctrl.functionCode}}"
                                                 config="{userInfo:@(ViewBag.userInfo)}"
                                                 disabled="false"
                                                 template-url="~/dulieu/showcombobox?viewname=cboDuLieu"></cbo-du-lieu>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-heading">
                <button class="btn btn-sm btn-primary" ng-click="ctrl.action.add()">
                    <i class="fa fa-plus"></i>
                    Thêm chi tiết (F2)
                </button>
            </div>

            <div class="panel-body table-responsive" style="max-height:300px;min-height:300px">
                <table st-table="ctrl.data.listChiTiet" class="table table-bordered table-condensed table-hover ng-isolate-scope table-striped" style="min-width:1000px;border: 1px solid #ddd;">
                    <thead class="bg-default text-primary">
                        <tr>
                            <th class="text-center" style="min-width: 50px; vertical-align:middle">#</th>
                            <th class="text-center" style="min-width: 50px; vertical-align:middle">Xóa</th>
                            <th class="text-center" style="min-width: 90px; vertical-align:middle">Mã HH<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                            <th class="text-center" style="min-width: 250px; vertical-align:middle">Hàng hóa<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                            <th class="text-center" style="min-width: 70px; vertical-align:middle">ĐVT</th>
                            <th class="text-center" style="min-width: 200px; vertical-align:middle">Loại hàng hóa<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                            <th class="text-center" style="min-width: 100px; vertical-align:middle">Số lượng<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                            <th class="text-center" style="min-width: 150px; vertical-align:middle">Đơn giá <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                            <th class="text-center" style="min-width: 120px; vertical-align:middle">Thành tiền  </th>
                            <th class="text-center" style="min-width: 120px; vertical-align:middle">Đã triển khai</th>
                            <th class="text-center" style="min-width: 120px; vertical-align:middle">Người giao</th>
                            <th class="text-center" style="min-width: 120px; vertical-align:middle">Người nhận</th>
                            <th class="text-center" style="min-width: 120px; vertical-align:middle">Ngày thực hiện</th>
                            <th class="text-center" style="min-width: 120px; vertical-align:middle">Ngày kết thúc</th>
                            <th class="text-center" style="min-width: 140px; vertical-align:middle">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="ctrl.status.isLoading">
                            <td colspan="100" class="text-center">
                                <i class="fa fa-fw fa-spin fa-spinner"></i>
                            </td>
                        </tr>
                        <tr ng-repeat="KeHoachChiTiet in ctrl.data.listChiTiet" ng-class="KeHoachChiTiet.isError ? 'danger':''">
                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center">
                                <a class="btn btn-xs btn-danger"
                                   ng-click="ctrl.data.listChiTiet.splice($index,1)">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                            <td class="text-right form-group form-group-sm">
                                <!--ma hang hoa-->
                                <input type="text" id="txtMaHangHoa{{$index}}" class="form-control text-left" ng-model="KeHoachChiTiet.MaHangHoa" ng-keydown="ctrl.action.keyPress(KeHoachChiTiet.MaHangHoa,'txtMaHangHoa'+$index,'cbxLoaiHangHoa'+$index,$index,$event)" />
                            </td>
                            <td class="form-group form-group-sm">
                                <!--hang hoa-->
                                <cbo-hang-hoa id="cbxHangHoa{{$index}}" data-function-code="KD0009" data-value="KeHoachChiTiet.HangHoaId" ma-hang-hoa="KeHoachChiTiet.TempMaHangHoa" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/hanghoa/showcombobox?viewname=cbohanghoa"
                                              on-selected="ctrl.action.getDataHangHoa(data, {$index})"></cbo-hang-hoa>
                            </td>
                            <td class="form-group form-group-sm">
                                <!--dvtinh-->
                                <span id="txtDonViTinh{{$index}}" class="form-control text-left " ng-bind="KeHoachChiTiet.DonViTinh" />
                            </td>
                            <td class="form-group form-group-sm">
                                <!-- loai hang hoa-->
                                <cbo-loai-hang-hoa id="cbxLoaiHangHoa{{$index}}" data-function-code="KD0009" data-value="KeHoachChiTiet.LoaiHangHoa" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/loaihanghoa/showcombobox?viewname=cboloaihanghoa"></cbo-loai-hang-hoa>
                            </td>
                            <td class="text-right form-group form-group-sm">
                                <!--soluong-->
                                <input type="text" id="txtSoLuong{{$index}}" class="form-control text-right" ng-model="KeHoachChiTiet.SoLuong" number-format ng-keypress="ctrl.action.keyPress(KeHoachChiTiet.SoLuong,'txtSoLuong'+$index,'txtDonGia'+$index,$index,$event)" />
                            </td>
                            <td class="text-right form-group form-group-sm">
                                <!--don gia-->
                                <input type="text" id="txtDonGia{{$index}}" class="form-control text-right" ng-model="KeHoachChiTiet.DonGia" number-format ng-keypress="ctrl.action.keyPress(KeHoachChiTiet.DonGia,'txtDonGia'+$index,'txtNgayTao'+$index,$index,$event)" />
                            </td>
                            <td class="text-right form-group form-group-sm">
                                <!--thanhtien-->
                                <span id="txtThanhTien{{$index}}" class="form-control text-right" ng-bind="(+KeHoachChiTiet.SoLuong*KeHoachChiTiet.DonGia)|number:'':'':2"></span>
                            </td>
                            <td class="text-right form-group form-group-sm">
                                <!--DaTrienKhai-->
                                <select class="form-control" id="cbxDaTrienKhai{{$index}}" style="padding:0px 10px" data-placeholder="Triển khai" ng-model="KeHoachChiTiet.DaTrienKhai">
                                    <option value="0">Chưa triển khai</option>
                                    <option value="1">Đã triển khai</option>
                                </select>
                            </td>
                            <td class="text-right form-group form-group-sm">
                                <!--NguoiGiao-->
                                <input type="text" id="txtNguoiGiao{{$index}}" class="form-control" ng-model="KeHoachChiTiet.NguoiGiao"  ng-keypress="ctrl.action.keyPress(KeHoachChiTiet.NguoiGiao,'txtNguoiGiao'+$index,'txtNguoiNhan'+$index,$index,$event)" />
                            </td>
                            <td class="text-right form-group form-group-sm">
                                <!--NguoiNhan-->
                                <input type="text" id="txtNguoiNhan{{$index}}" class="form-control" ng-model="KeHoachChiTiet.NguoiNhan" ng-keypress="ctrl.action.keyPress(KeHoachChiTiet.NguoiNhan,'txtNguoiNhan'+$index,'txtNgayThucHien'+$index,$index,$event)" />
                            </td>
                            <td class="form-group form-group-sm">
                                <!--NgayThucHien-->
                                <input type="text" id="txNgayThucHien{{$index}}" class="form-control datetimepicker date" ng-model="KeHoachChiTiet.NgayThucHien" ng-keypress="ctrl.action.keyPress(KeHoachChiTiet.NgayThucHien,'txtNgayThucHien'+$index,'txtNgayKetThuc'+$index,$index,$event)" />
                            </td>
                            <td class="form-group form-group-sm">
                                <!--ngay du kien-->
                                <input type="text" id="txtNgayKetThuc{{$index}}" class="form-control datetimepicker date" ng-model="KeHoachChiTiet.NgayKetThuc" ng-keypress="ctrl.action.keyPress(KeHoachChiTiet.NgayKetThuc,'txtNgayKetThuc'+$index,'txtGhiChu'+$index,$index,$event)" />
                            </td>
                            <td class="form-group form-group-sm">
                                <!--GhiChu-->
                                <input type="text" id="txGhiChu{{$index}}" class="form-control" ng-model="KeHoachChiTiet.GhiChu" ng-keypress="$event.keyCode===13?ctrl.action.add():0" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <span ng-if="ctrl.action.checkQuyenTacVu('N')||ctrl.action.checkQuyenTacVu('M')">
                    <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.save()"><i class="fa fa-fw fa-save"></i>Lưu (F8)</a>&nbsp;&nbsp;&nbsp;
                </span>
                <span ng-if="ctrl.action.checkQuyenTacVu('D')">
                    <a class="btn btn-sm btn-danger" href="javascript:void(0)" ng-click="ctrl.action.delete()"><i class="fa fa-fw fa-trash-o"></i>Xóa</a>&nbsp;&nbsp;&nbsp;
                </span>
                <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="ctrl.action.In()"><i class="fa fa-print"></i> In</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-sm btn-default" href="~/#!/hopdong/list"><i class="fa fa-arrow-left"></i> Quay lại</a>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div><!-- /.container-fluid -->

    <div ui-view></div>
}
else if (ViewBag.ImportStyles != null && (bool)ViewBag.ImportStyles == true) { }
else if (ViewBag.SetupStyles != null && (bool)ViewBag.SetupStyles == true) { }
else if (ViewBag.ImportScripts != null && (bool)ViewBag.ImportScripts == true) { }
else if (ViewBag.SetupScripts != null && (bool)ViewBag.SetupScripts == true) { }
else if (ViewBag.ImportAngular != null && (bool)ViewBag.ImportAngular == true) { }
