
@{
    ViewBag.Title = "Cấu hình hệ thống";
}
<div class="container-fluid">
   
    <div ng-controller="CauHinhHeThongListCtrl as ctrl" class="panel panel-default" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
         <div class="panel with-nav-tabs panel-primary" style="margin-bottom: 0px;">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1primary" data-toggle="tab">Tài sản cố định</a></li>
                    <li><a href="#tab2primary" data-toggle="tab">Tài sản lâu bền</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab1primary" style="height: 300px;">
                        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" ng-repeat="CauHinhHeThong in ctrl.data.CauHinhHeThongList" >
                            <div class="row form-group form-group-sm" ng-if="CauHinhHeThong.Loai=='SoLieuNam'">
                                <label class="control-label col-sm-1">Số liệu năm</label>
                                <div class="col-sm-1">
                                    <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="txtNam" type="text" ng-model="CauHinhHeThong.Ten" >
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="tab-pane fade " id="tab2primary" style="height: 300px;">
                        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" ng-repeat="CauHinhHeThong in ctrl.data.CauHinhHeThongList">
                            <div class="row form-group form-group-sm" ng-if="CauHinhHeThong.Loai=='SoLieuThangNam'">
                                <div class="col-sm-2 text-left" style="width:11.666667%">
                                    <label class="control-label">Số liệu tháng/năm</label>
                                </div>
                               
                                <div class="col-sm-1">
                                    <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="txtNam" type="text" ng-model="CauHinhHeThong.Ten">
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-sm btn-primary ng-scope" id="btnluu"  ng-click="ctrl.action.save()"><i class="fa fa-save"></i> Lưu (F8)</button><!-- end ngIf: ctrl.data.showButtonSave -->&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.refresh()">Thiết lập lại</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/CauHinhHeThong/service/CauHinhHeThongService.js"></script>
    <script src="~/Scripts/angular/CauHinhHeThong/controller/CauHinhHeThongListCtrl.js"></script>
}




