<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="dbMainConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MSSQL_QLDN_MAIN;User ID=sa;Password=zero1983;" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbMainConnection" connectionString="Data Source=172.16.10.201;Network Library=DBMSSOCN;Initial Catalog=MSSQL_QLDN_MAIN;User ID=sa;Password=admin@2an;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>