
@{
    ViewBag.Title = "Nhóm khách hàng";
    ViewBag.userInfo = ViewBag.userInfo ?? "{}";
}
@if (ViewBag.Html != null && (bool)ViewBag.Html == true)
{
    <div class="container-fluid" ng-init="ctrl.onInitView({userInfo:@(ViewBag.userInfo)})" keyboard="ctrl.keys">
        <div class="panel panel-default" id="NhomKhachHangList">
            <div class="panel-heading clearfix">
                <span class="panel-title"><i class="fa fa-fw fa-star-o"></i>@(ViewBag.Title)</span>
                <form class="form-inline pull-right" autocomplete="on">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="ctrl.inputSearch.search" autofocus />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" href="javascript:void(0)" ng-click="ctrl.action.search()"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <h3 class="text-center no-margin">Danh sách nhóm khách hàng</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive" st-table="ctrl.data.listNhomKhachHang" st-pipe="ctrl.action.getPage">
                    <table class="table table-bordered table-condensed table-hover table-striped" style="min-width:800px;">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-center" style="width:35px;" ng-click="ctrl.action.checkAll()">
                                    <i class="fa fa-fw" ng-class="ctrl.status.isSelectedAll ? 'fa-check-square-o':'fa-square-o'"></i>
                                </th>
                                <th class="text-center" st-sort="{{cot.MaCot}}" style="width:{{cot.DoRong}}px;" ng-repeat="cot in ctrl.data.listCot|filter:cot.HienThiYN">
                                    <span ng-bind="cot.TenCot"></span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="ctrl.status.isLoading">
                                <td colspan="100" class="text-center">
                                    <i class="fa fa-fw fa-spinner fa-spin"></i>
                                </td>
                            </tr>
                            <tr ng-repeat="row in ctrl.data.listNhomKhachHang">
                                <td class="text-center text-primary" st-select-row="row" st-select-mode="multiple" ng-click="ctrl.action.autoCheckAll()">
                                    <i class="fa fa-fw" ng-class="row.isSelected ? 'fa-check-square-o':'fa-square-o'"></i>
                                </td>
                                <td ng-repeat="cot in ctrl.data.listCot|filter:cot.HienThiYN" ng-switch="cot.MaCot">
                                    <a href="javascript:void(0)" ng-click="ctrl.action.edit(row.NhomKhachHangId)"
                                       ng-switch-when="MaNhom,TenNhom" ng-switch-when-separator="," ng-bind="row[cot.MaCot]"></a>
                                    <div class="text-center" ng-switch-when="NgayTao" ng-switch-when-separator="," ng-bind="row[cot.MaCot]|date:'dd/MM/yyyy'"></div>
                                    <span ng-switch-default ng-bind="row[cot.MaCot]"></span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="100" class="text-center">
                                    <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="panel-footer">
                <span ng-if="ctrl.action.checkQuyenTacVu('N')">
                    <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.edit(0)"><i class="fa fa-fw fa-plus"></i>Mới (F2)</a>&nbsp;&nbsp;&nbsp;
                </span>
                <span ng-if="ctrl.action.checkQuyenTacVu('D')">
                    <a class="btn btn-sm btn-danger" href="javascript:void(0)" ng-click="ctrl.action.deleteList()"><i class="fa fa-fw fa-trash-o"></i>Xóa chọn</a>&nbsp;&nbsp;&nbsp;
                </span>
            </div>
        </div>
    </div><!-- /.container-fluid -->

    <div class="panel panel-primary ui-draggable collapse fade" id="NhomKhachHangEditPopup">
        <div class="panel-heading ui-draggable-handle clearfix">
            <span class="panel-title">Nhóm khách hàng</span>
            <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#NhomKhachHangEditPopup"><i class="fa fa-fw fa-remove"></i></a>
        </div>
        <div class="panel-body" style="width: 600px;">
            <form class="form-horizontal">
                <div class="row form-group form-group-sm" ng-class="ctrl.error.NhomKhachHang_MaNhom?'has-error':''">
                    <label class="control-label col-sm-3">Mã nhóm</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" ng-model="ctrl.data.NhomKhachHang.MaNhom" autofocus
                               ng-keydown="ctrl.action.keyPress($event)" data-name="NhomKhachHang_MaNhom" data-next="NhomKhachHang_TenNhom" />
                    </div>
                </div>
                <div class="row form-group form-group-sm" ng-class="ctrl.error.NhomKhachHang_TenNhom?'has-error':''">
                    <label class="control-label col-sm-3">Tên nhóm</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" ng-model="ctrl.data.NhomKhachHang.TenNhom"
                               ng-keydown="ctrl.action.keyPress($event)" data-name="NhomKhachHang_TenNhom" data-next="btnSave" />
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <span ng-if="ctrl.action.checkQuyenTacVuEdit('N')||ctrl.action.checkQuyenTacVuEdit('M')">
                <a class="btn btn-sm btn-primary" ng-click="ctrl.action.save()"><i class="fa fa-fw fa-save"></i>Lưu (F8)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <a class="btn btn-sm btn-default" ng-click="ctrl.action.refresh()">Thiết lập lại</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#NhomKhachHangEditPopup">Đóng</a>&nbsp;&nbsp;&nbsp;
        </div>

    </div>

    <div ui-view></div>
}
else if (ViewBag.ImportStyles != null && (bool)ViewBag.ImportStyles == true) { }
else if (ViewBag.SetupStyles != null && (bool)ViewBag.SetupStyles == true) { }
else if (ViewBag.ImportScripts != null && (bool)ViewBag.ImportScripts == true) { }
else if (ViewBag.SetupScripts != null && (bool)ViewBag.SetupScripts == true) { }
else if (ViewBag.ImportAngular != null && (bool)ViewBag.ImportAngular == true) { }
