    @*
    /*****************************************************************************
    1. Create Date : 2017.05.03
    2. Creator     : Nguyen Thanh Binh
    3. Description : PhieuCongTac/Edit
    4. History     : 2017.05.03(Nguyen Thanh Binh) - thiết kế giao diện
    *****************************************************************************/
*@
@{
    ViewBag.Title = "Phiếu đăng ký công tác";
    ViewBag.id = ViewBag.id ?? 0;
    ViewBag.UserInfo = ViewBag.UserInfo ?? "{}";
}

<div class="container-fluid" ng-controller="MainCtrl as mainCtrl" keyboard="mainCtrl.keys" ng-init="mainCtrl.onInitView({userInfo:@(ViewBag.UserInfo)})">

    <div class="panel panel-default" ng-controller="PhieuCongTacEditCtrl as ctrl" ng-init="ctrl.onInitView({controllerId:mainCtrl.controllerId.phieuCongTacEdit,phieuCongTacId:@(ViewBag.id),userInfo:@(ViewBag.UserInfo),editUrl:'@(Url.Content("~/phieuCongTac/edit/"))'})">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="fa fa-fw fa-star-o"></i>
                <span>Phiếu đăng ký công tác</span>
            </div>
        </div>
        <div class="panel-body">
            @*<div class="alert alert-danger alert-dismissable text-center padding-slim" ng-if="ctrl.status.errorMessage">
                    <span ng-bind="ctrl.status.errorMessage"></span>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="ctrl.status.errorMessage=''">&times;</a>
                </div>
                <div class="alert alert-info  alert-dismissable text-center padding-slim" ng-if="ctrl.status.infoMessage">
                    <span ng-bind="ctrl.status.infoMessage"></span>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="ctrl.status.infoMessage=''">&times;</a>
                </div>*@

            <form class="form-horizontal">
                <h3 class="text-center">Phiếu đăng ký công tác</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.status.errNoiDung?'has-error':''">
                            <label class="control-label col-sm-4">Tiêu đề</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="ctrl.data.phieuCongTac.NoiDung" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.status.errNgayDi?'has-error':''">
                            <label class="control-label col-sm-4">Ngày đi</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control datetimepicker date" ng-model="ctrl.data.phieuCongTac.NgayDi" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.status.errNhanVienId?'has-error':''">
                            <label class="control-label col-sm-4">Tên nhân viên</label>
                            <div class="col-sm-8">
                                <div class="form-control auto-height">
                                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#{{mainCtrl.controllerId.nhanVienListPopup}}">
                                        <div>
                                            <i class="fa fa-fw fa-search"></i>
                                            <span ng-bind="ctrl.data.phieuCongTac.TenNhanVien"></span>
                                        </div>
                                    </a>
                                    <a class="pull-right" href="javascript:void(0);" ng-click="ctrl.action.clearNhanVien()"><i class="fa fa-fw fa-remove"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.status.errNgayVe?'has-error':''">
                            <label class="control-label col-sm-4">Ngày về</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control datetimepicker date" ng-model="ctrl.data.phieuCongTac.NgayVe" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-sm-4">Giấy đi đường</label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.status.errSoNgay?'has-error':''">
                            <label class="control-label col-sm-4">Số ngày</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" ng-model="ctrl.data.phieuCongTac.SoNgay" ng-pattern="/^[0-9]+(\.[0-9])?$/" step="0.5" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6" ng-if="ctrl.data.phieuCongTac.TenNguoiDuyet">
                        <div class="form-group form-group-sm">
                            <label class="control-label col-sm-4">Người duyệt</label>
                            <div class="col-sm-8">
                                <div class="form-control-static">
                                    <span ng-bind="ctrl.data.phieuCongTac.TenNguoiDuyet"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div class="panel-body">
            <h3 class="text-center no-margin">Chi tiết phiếu đăng ký công tác</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped" st-table="ctrl.data.listChiTiet">
                <thead class="text-primary">
                    <tr>
                        <th class="text-center" ng-click="ctrl.action.checkAll()"><i class="fa fa-fw" ng-class="ctrl.status.isSelectedAll ? 'fa-check-square-o':'fa-square-o'"></i></th>
                        <th class="text-center">Stt</th>
                        <th class="text-center">Ngày</th>
                        <th class="text-center">Nội dung</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Đơn giá</th>
                        <th class="text-center">Thành tiền</th>
                        <th class="text-center">Trạng thái</th>
                    </tr>
                </thead>
                <tbody ng-if="ctrl.status.isLoadingDetail">
                    <tr>
                        <td colspan="100" class="text-center info">
                            <i class="fa fa-fw fa-spinner fa-pulse"></i>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr ng-repeat="chitiet in ctrl.data.listChiTiet" ng-class="(chitiet.isSelected==true)?'info':''">
                        <td class="text-center text-primary" st-select-row="chitiet" st-select-mode="multiple" ng-click="ctrl.action.autoCheckAll()"><i class="fa fa-fw" ng-class="chitiet.isSelected ? 'fa-check-square-o':'fa-square-o'"></i></td>
                        <td class="text-center"><span ng-bind="$index+1"></span></td>
                        <td><span ng-bind="ctrl.action.convertDateFormat(chitiet.Ngay,'YYYY-MM-DD','DD/MM/YYYY')"></span></td>
                        <td><a href="javascript:void(0);" ng-bind="chitiet.NoiDung" ng-click="ctrl.action.updateChiTiet(chitiet)"></a></td>
                        <td class="text-right"><span ng-bind="chitiet.SoLuong"></span></td>
                        <td class="text-right"><span ng-bind="chitiet.DonGia|number"></span></td>
                        <td class="text-right"><span ng-bind="(chitiet.SoLuong * chitiet.DonGia)|number"></span></td>
                        <td><span ng-bind="chitiet.TrangThai"></span></td>
                    </tr>
                </tbody>
                <tfoot class="tb-footer" ng-if="!ctrl.status.isLoadingDetail">
                    <tr>
                        <td class="text-right" colspan="6">Yêu cầu thanh toán:</td>
                        <td class="text-right"><span ng-bind="ctrl.data.yeuCauThanhToan|number"></span></td>
                        <td class="text-right" rowspan="2"></td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="6">Thanh toán:</td>
                        <td class="text-right"><span ng-bind="ctrl.data.phieuCongTac.ThanhToan|number"></span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-primary" href="javascript:void(0);" ng-click="ctrl.action.addChiTiet()" ng-if="ctrl.action.checkQuyenTacVu('M') && ctrl.action.checkModifyPhieuCongTac() && ctrl.data.phieuCongTac.PhieuCongTacId>0">Thêm chi tiết (F2)</a>
            <a class="btn btn-sm btn-default" href="javascript:void(0);" ng-click="ctrl.action.savePhieuCongTac()" ng-if="ctrl.action.checkQuyenTacVu('M') && ctrl.action.checkModifyPhieuCongTac()">Lưu (F8)</a>
            <a class="btn btn-sm btn-default" href="~/phieucongtac/list" ng-if="ctrl.action.checkQuyenTacVu('V')">Quay lại</a>
            @*<a class="btn btn-sm btn-default" href="javascript:void(0);" ng-if="ctrl.action.checkQuyenTacVu('V')">In</a>*@
            <a class="btn btn-sm btn-default" href="javascript:void(0);" ng-if="ctrl.action.checkQuyenTacVu('D') && ctrl.action.checkModifyPhieuCongTac()&& ctrl.data.phieuCongTac.PhieuCongTacId>0" ng-click="ctrl.action.xoaChiTiet()">Xóa chọn</a>
            <a class="btn btn-sm btn-default" href="javascript:void(0);" ng-if="ctrl.action.checkQuyenTacVu('V') && ctrl.data.phieuCongTac.PhieuCongTacId>0" ng-click="ctrl.action.getListLuocSu(ctrl.data.phieuCongTac.PhieuCongTacId)">H</a>
        </div>
    </div>

    <div class="panel panel-primary ui-draggable collapse fade" id="{{ctrl.controllerId}}" ng-controller="PhieuCongTacChiTietEditCtrl as ctrl" ng-init="ctrl.onInitView({controllerId:mainCtrl.controllerId.PhieuCongTacChiTietEditPopup})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <i class="fa fa-fw fa-star"></i>
                <span>Chi tiết đăng ký công tác</span>
                <a class="btn btn-xs btn-primary pull-right" data-target="#{{ctrl.controllerId}}" data-toggle="collapse"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        <div class="panel-body" style="width: 400px;">
            @*<div class="alert alert-danger alert-dismissable text-center padding-slim" ng-if="ctrl.status.errorMessage">
                    <span ng-bind="ctrl.status.errorMessage"></span>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="ctrl.status.errorMessage=''">&times;</a>
                </div>
                <div class="alert alert-info  alert-dismissable text-center padding-slim" ng-if="ctrl.status.infoMessage">
                    <span ng-bind="ctrl.status.infoMessage"></span>
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="ctrl.status.infoMessage=''">&times;</a>
                </div>*@

            <form class="form-horizontal">
                <div class="row form-group form-group-sm">
                    <label class="control-label col-sm-3">Ngày</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control datetimepicker date" ng-model="ctrl.data.chiTiet.Ngay" />
                    </div>
                </div>

                <div class="row form-group form-group-sm">
                    <label class="control-label col-sm-3">Nội dung</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="ctrl.data.chiTiet.NoiDung" />
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label class="control-label col-sm-3">Số lượng</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="3" ng-model="ctrl.data.chiTiet.SoLuong" pattern="[0-9]+([\,][0-9]+)*" number-format />
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label class="control-label col-sm-3">Đơn giá</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="15" ng-model="ctrl.data.chiTiet.DonGia" pattern="[0-9]+([\,][0-9]+)*" number-format />
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label class="control-label col-sm-3">Thành tiền</label>
                    <div class="col-sm-9">
                        <span class="form-control-static" ng-bind="ctrl.data.chiTiet.SoLuong*ctrl.data.chiTiet.DonGia|number"></span>
                    </div>
                </div>
                @*<div class="row form-group form-group-sm">
                        <label class="control-label col-sm-3">Hình</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>*@
                <div class="row form-group form-group-sm">
                    <label class="control-label col-sm-3">Ghi chú</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="ctrl.data.chiTiet.GhiChu" />
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-primary" href="javascript:void(0);" ng-click="ctrl.action.save()" ng-if="mainCtrl.action.checkQuyenTacVu('M') && ctrl.action.checkModify(ctrl.data.chiTiet.MaTrangThai)">Lưu</a>
            <a class="btn btn-sm btn-default" ng-click="ctrl.action.close()">Đóng</a>
        </div>
    </div>
    @* dòng này được render từ server, không truyền data của javascript hoặc client vào đây *@
    @{Html.RenderPartial("~/views/nhanvien/_NhanVienListPopup.cshtml", new ViewDataDictionary { { "Html", true }, { "onInitView", "{controllerId:'NhanVienListPopup',title:'Nhân viên',isSelectOne:true,showList:true,userInfo:" + ViewBag.UserInfo + "}" } });}
</div>

@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/directive/keyboard.directive.js"></script>

    <script src="~/Scripts/angular/PhieuCongTac/List/service/PhieuCongTacService.js"></script>
    <script src="~/Scripts/angular/PhieuCongTac/Edit/Controller/MainCtrl.js"></script>
    <script src="~/Scripts/angular/PhieuCongTac/Edit/Controller/PhieuCongTacEditCtrl.js"></script>
    <script src="~/Scripts/angular/PhieuCongTac/Edit/Controller/PhieuCongTacChiTietEditCtrl.js"></script>
    @{Html.RenderPartial("~/views/nhanvien/_NhanVienListPopup.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
}
