USE [MSSQL_QLDN_QLNS]
GO
/****** Object:  StoredProcedure [dbo].[sp_NgayNghi_InsertOne]    Script Date: 05/31/2017 12:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- Stored procedure generated by CodeTrigger
-- This script was generated on 3/26/2017 9:09:15 PM
------------------------------------------------------------
ALTER PROCEDURE [dbo].[sp_NgayNghi_InsertOne]
@Ngay datetime OUTPUT
, @MoTa nvarchar(64) OUTPUT
, @NguoiTao nvarchar(128) OUTPUT
, @NgayTao datetime OUTPUT
, @XoaYN nvarchar(5) OUTPUT
AS
-- inserts a new row into the table
INSERT [dbo].[NgayNghi]
(
[Ngay]
,[MoTa]
,[NguoiTao]
,[NgayTao]
,[XoaYN]

)
VALUES
(
@Ngay
,@MoTa
,@NguoiTao
,@NgayTao
,@XoaYN
)
SELECT 
*
FROM [dbo].[NgayNghi]






USE [MSSQL_QLDN_QLNS]
GO
/****** Object:  StoredProcedure [dbo].[sp_NgayNghi_InsertOne]    Script Date: 05/31/2017 12:03:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- Stored procedure generated by CodeTrigger
-- This script was generated on 3/26/2017 9:09:15 PM
------------------------------------------------------------
ALTER PROCEDURE [dbo].[sp_NgayNghi_InsertOne]
@Ngay datetime OUTPUT
, @MoTa nvarchar(64) OUTPUT
, @NguoiTao nvarchar(128) OUTPUT
, @NgayTao datetime OUTPUT
, @XoaYN nvarchar(5) OUTPUT
AS
-- inserts a new row into the table
INSERT [dbo].[NgayNghi]
(
[Ngay]
,[MoTa]
,[NguoiTao]
,[NgayTao]
,[XoaYN]

)
VALUES
(
@Ngay
,@MoTa
,@NguoiTao
,@NgayTao
,@XoaYN
)
SELECT 
*
FROM [dbo].[NgayNghi]






