
@if (ViewBag.Html != null && (bool)ViewBag.Html == true)
{
    <div ng-controller="NhomTaiSanCombobox as ctrl" ng-init="ctrl.onInitView(@(ViewBag.onInitView))">
        <ui-select  id="{{ctrl.NameId}}"  ng-model="ctrl.data.NhomTaiSan" ng-change="ctrl.action.OnClickSelect()" theme="bootstrap">
            <ui-select-match  tabindex='1' placeholder="Chọn nhóm tài sản">{{$select.selected.TenNhom}}</ui-select-match>
            <ui-select-choices repeat="item in ctrl.data.NhomTaiSanListDisplay | filter: $select.search">
                <div ng-bind-html="item.TenNhom | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>

    </div>

<link href="~/lib/Select/Select.css" rel="stylesheet" />
}
else if (ViewBag.ImportStyles != null && (bool)ViewBag.ImportStyles == true) { }
else if (ViewBag.SetupStyles != null && (bool)ViewBag.SetupStyles == true) { }
else if (ViewBag.ImportScripts != null && (bool)ViewBag.ImportScripts == true) { }
else if (ViewBag.SetupScripts != null && (bool)ViewBag.SetupScripts == true) { }
else if (ViewBag.ImportAngular != null && (bool)ViewBag.ImportAngular == true)
{
    <script src="~/Scripts/angular/NhomTaiSan/controller/Combobox.js"></script>
    <script src="~/Scripts/angular/NhomTaiSan/service/NhomTaiSanService.js"></script>
}







