@{
    ViewBag.Title = "Thông tin ghi tăng";
    ViewBag.id = ViewBag.id ?? 0;
    ViewBag.userInfo = ViewBag.userInfo ?? "{ }";
}

<div class="container-fluid" keyboard="mainCtrl.keys">
    <div class="panel panel-default" ng-controller="GhiTangEditCtrl as ctrl" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo, ghiTangId:@(ViewBag.id), linkUrl:'@(Url.Content("~/"))'})">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-fw fa-star-o"></i>{{ctrl.data.Tilte}} ghi tăng</span>
        </div>

        <div class="panel-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.SoChungTu?'has-error':''">
                            <label class="control-label col-sm-4">Số chứng từ <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></label>
                            <div class="col-sm-6">
                                <input type="text" id="txtSoChungTu" class="form-control" placeholder="" ng-model="ctrl.data.phieuGhiTang.SoChungTu" ng-keypress="ctrl.action.keyPressGhiTang(ctrl.data.phieuGhiTang.SoChungTu,'txtSoChungTu','txtNgayChungTu',$event)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.NgayChungTu?'has-error':''">
                            <label class="control-label col-sm-4">Ngày lập <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></label>
                            <div class="col-sm-6">
                                <input type="text" id="txtNgayChungTu" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.phieuGhiTang.NgayChungTu" ng-keypress="ctrl.action.keyPressGhiTang(ctrl.data.phieuGhiTang.SoChungTu,'txtNgayChungTu','txtNgayGhiTang',$event)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.NgayGhiTang?'has-error':''">
                            <label class="control-label col-sm-4">Ngày ghi tăng <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></label>
                            <div class="col-sm-6">
                                <input type="text" id="txtNgayGhiTang" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.phieuGhiTang.NgayGhiTang" ng-keypress="ctrl.action.keyPressGhiTang(ctrl.data.phieuGhiTang.SoChungTu,'txtNgayGhiTang','txtNoiDung',$event)" />
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="row form-group form-group-sm" ng-class="ctrl.error.NoiDung?'has-error':''">
                    <label class="control-label col-sm-1" style="width:11%">Nội dung</label>
                    <div class="col-sm-10">
                        <textarea rows="2" type="text" class="form-control" id="txtNoiDung" ng-model="ctrl.data.phieuGhiTang.NoiDung"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-heading">
            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.add()" ng-if="ctrl.data.showButtonNew">
                <i class="fa fa-plus"></i>
                Thêm chi tiết (F2)
            </button>
        </div>

        <div class="table-responsive" style="min-height:300px;max-height:300px">
            <table st-table="ctrl.data.listChiTiet" class="table table-bordered table-condensed table-hover ng-isolate-scope table-striped" style="min-width:1000px">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="min-width: 50px; vertical-align:middle">#</th>
                        <th class="text-center" style="min-width: 50px; vertical-align:middle">Xóa</th>
                        <th class="text-center" style="min-width: 90px; vertical-align:middle">Mã tài sản<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 300px; vertical-align:middle">Tên tài sản<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 70px; vertical-align:middle">ĐVT</th>
                        <th class="text-center" style="min-width: 160px; vertical-align:middle">Bộ phận sử dụng<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 160px; vertical-align:middle">Cán bộ<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 140px; vertical-align:middle">Ngày BĐ sử dụng<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 90px; vertical-align:middle">Số lượng<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">Nguyên giá</th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="GhiTangChiTiet in ctrl.data.listChiTiet" ng-class="GhiTangChiTiet.isError ? 'danger':''">
                        <td class="text-center">{{$index + 1}}</td>
                        <td class="text-center">
                            <a class="btn btn-xs btn-danger"
                               ng-click="ctrl.data.listChiTiet.splice($index,1)" ng-if="ctrl.data.showButtonXoa">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--mataisan-->
                            <input type="text" id="txtMaTaiSan{{$index}}" class="form-control text-left" ng-model="GhiTangChiTiet.MaTaiSan" ng-keydown="ctrl.action.keyPress(GhiTangChiTiet.MaTaiSan,'txtMaTaiSan'+$index,'cbxTaiSan'+$index,$index,$event)"/>
                        </td>
                        <td class="form-group form-group-sm">
                            <!-- tai san-->
                            <cbo-tai-san id="cbxTaiSan{{$index}}" data-value="GhiTangChiTiet.TaiSanId" ma-tai-san="GhiTangChiTiet.TempMaTaiSan" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/taisan/showview?viewname=cbotaisan"
                                         on-selected="ctrl.action.getDataTaiSan(data, {$index})"></cbo-tai-san>
                        </td>
                        <td class="form-group form-group-sm">
                            <!--dvtinh-->
                            <span id="txtDonViTinh{{$index}}" class="form-control text-left " ng-bind="GhiTangChiTiet.DonViTinh" />
                        </td>
                        <td class="form-group form-group-sm">
                            <!-- phong ban-->
                            <cbo-phong-ban id="cbxPhongBan{{$index}}" data-value="GhiTangChiTiet.PhongBanId" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/phongban/showview?viewname=cbophongban" 
                                           on-selected="ctrl.action.resetNhanVienId(data, {$index})"></cbo-phong-ban>
                        </td>
                        <td class="form-group form-group-sm">
                            <!-- nhan vien-->
                            <cbo-nhan-vien-by-phong-ban id="cbxNhanVien{{$index}}" data-value="GhiTangChiTiet.NhanVienId" data-phongbanid="GhiTangChiTiet.PhongBanId" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/nhanvien/showview?viewname=cbonhanvienbyphongban"
                                           on-selected="ctrl.action.nhanVienByPhongBanSelected(data, { $index })"></cbo-nhan-vien-by-phong-ban>
                        </td>
                        <td class="form-group form-group-sm">
                            <!--ngay bd su dung-->
                            <input type="text" id="txtNgayBatDauSuDung{{$index}}" class="form-control datetimepicker date" ng-model="GhiTangChiTiet.NgayBatDauSuDung" ng-keypress="ctrl.action.keyPress(GhiTangChiTiet.MaTaiSan,'txtNgayBatDauSuDung'+$index,'txtSoLuong'+$index,$index,$event)" />
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--soluong-->
                            <input type="text" id="txtSoLuong{{$index}}" class="form-control text-right" ng-model="GhiTangChiTiet.SoLuong" number-format ng-keypress="ctrl.action.keyPress(GhiTangChiTiet.SoLuong,'txtSoLuong'+$index,'txtMaTaiSan'+$index,$index,$event)" />
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <span id="txtNguyenGia{{$index}}" class="form-control text-right" ng-bind="GhiTangChiTiet.NguyenGia|number:'':'':2"></span>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--thanhtien-->
                            <span id="txtThanhTien{{$index}}" class="form-control text-right" ng-bind="(+GhiTangChiTiet.SoLuong*GhiTangChiTiet.NguyenGia)|number:'':'':2"></span>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>

        <div class="panel-footer">
            <span ng-if="ctrl.data.showButtonSave">
                <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.save()"><i class="fa fa-save"></i> Lưu (F8)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="ctrl.data.showButtonXoa">
                <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="ctrl.action.removePhieuGhiTang()"><i class="fafa-remove"></i> Xóa</a>&nbsp;&nbsp;&nbsp;
            </span>
            <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="ctrl.action.In()"><i class="fa fa-print"></i> In</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-default" ng-click="ctrl.action.goBack()"><i class="fa fa-arrow-left"></i> Quay lại</a>&nbsp;&nbsp;&nbsp;
        </div>

    </div>
</div>


@section ImportStyles{}
@section SetupStyles{
    <style type="text/css">
        .st-sort-ascent:before {
            content: '\25B2';
        }

        .st-sort-descent:before {
            content: '\25BC';
        }

        .select-page {
            width: 50px;
            text-align: center;
        }

        .pagination li a input {
            padding: 0;
            margin: -5px 0;
        }
    </style>
    <link href="~/lib/bootstrap/css/loadingPage.css" rel="stylesheet" />
}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/GhiTang/controller/GhiTangListCtrl.js"></script>
    <script src="~/Scripts/angular/GhiTang/controller/GhiTangFilterCtrl.js"></script>
    <script src="~/Scripts/angular/GhiTang/service/GhiTangService.js"></script>
    <script src="~/Scripts/angular/GhiTang/controller/GhiTangEditCtrl.js"></script>
    <script src="~/Scripts/angular/TaiSan/service/TaiSanService.js"></script>
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/directive/keyboard.directive.js"></script>
    @{Html.RenderPartial("~/views/PhongBan/Combobox.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/LoaiTaiSan/cboLoaiTaiSan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/TaiSan/cboTaiSan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/PhongBan/cboPhongBan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/NhanVien/cboNhanVienByPhongBan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
}




