@{
    ViewBag.Title = "Thông tin điều chuyển";
    ViewBag.id = ViewBag.id ?? 0;
    ViewBag.userInfo = ViewBag.userInfo ?? "{ }";
}

<div class="container-fluid" keyboard="mainCtrl.keys">
    <div class="panel panel-default" ng-controller="DieuChuyenEditCtrl as ctrl" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo, DieuChuyenId:@(ViewBag.id), linkUrl:'@(Url.Content("~/"))'})">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-fw fa-star-o"></i>{{ctrl.data.Tilte}} điều chuyển</span>
        </div>

        <div class="panel-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.SoChungTu?'has-error':''">
                            <label class="control-label col-sm-4">Số chứng từ <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></label>
                            <div class="col-sm-6">
                                <input type="text" id="txtSoChungTu" class="form-control" placeholder="" ng-model="ctrl.data.phieuDieuChuyen.SoChungTu" ng-keypress="ctrl.action.keyPressDieuChuyen(ctrl.data.phieuDieuChuyen.SoChungTu,'txtSoChungTu','txtNgayChungTu',$event)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.NgayChungTu?'has-error':''">
                            <label class="control-label col-sm-4">Ngày chứng từ <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></label>
                            <div class="col-sm-6">
                                <input type="text" id="txtNgayChungTu" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.phieuDieuChuyen.NgayChungTu" ng-keypress="ctrl.action.keyPressDieuChuyen(ctrl.data.phieuDieuChuyen.SoChungTu,'txtNgayChungTu','txtNgayDieuChuyen',$event)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.NgayDieuChuyen?'has-error':''">
                            <label class="control-label col-sm-5">Ngày điều chuyển <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></label>
                            <div class="col-sm-5">
                                <input type="text" id="txtNgayDieuChuyen" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.phieuDieuChuyen.NgayDieuChuyen" ng-keypress="ctrl.action.keyPressDieuChuyen(ctrl.data.phieuDieuChuyen.SoChungTu,'txtNgayDieuChuyen','txtGhiChu',$event)" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row form-group form-group-sm" ng-class="ctrl.error.GhiChu?'has-error':''">
                    <label class="control-label col-sm-1" style="width:11%">Ghi chú</label>
                    <div class="col-sm-10">
                        <textarea rows="2" type="text" class="form-control" id="txtGhiChu" ng-model="ctrl.data.phieuDieuChuyen.GhiChu"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-heading">
            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.add()" ng-if="ctrl.data.showButtonNew">
                <i class="fa fa-plus"></i>
                Thêm chi tiết (F2)
            </button>
        </div>

        <div class="panel-body table-responsive" style="max-height:300px;min-height:300px">
            <table st-table="ctrl.data.listChiTiet" class="table table-bordered table-condensed table-hover ng-isolate-scope table-striped" style="min-width:1000px;border: 1px solid #ddd;">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="min-width: 50px; vertical-align:middle">#</th>
                        <th class="text-center" style="min-width: 50px; vertical-align:middle">Xóa</th>
                        <th class="text-center" style="min-width: 90px; vertical-align:middle">Mã tài sản<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 300px; vertical-align:middle">Tên tài sản<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 70px; vertical-align:middle">ĐVT</th>
                        <th class="text-center" style="min-width: 160px; vertical-align:middle">Bộ phận sử dụng</th>
                        <th class="text-center" style="min-width: 140px; vertical-align:middle">Cán bộ sử dụng</th>
                        @*<th class="text-center" style="min-width: 100px; vertical-align:middle">SL trước khi chuyển</th>*@
                        <th class="text-center" style="min-width: 191px; vertical-align:middle">Bộ phận điều chuyển đến<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 140px; vertical-align:middle">Cán bộ tiếp nhận<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 90px; vertical-align:middle">Số lượng<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 120px; vertical-align:middle">Lý do</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="DieuChuyenChiTiet in ctrl.data.listChiTiet" ng-class="DieuChuyenChiTiet.isError ? 'danger':''">
                        <td class="text-center">{{$index + 1}}</td>
                        <td class="text-center">
                            <a class="btn btn-xs btn-danger"
                               ng-click="ctrl.data.listChiTiet.splice($index,1)" ng-if="ctrl.data.showButtonXoa">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--mataisan-->
                            <input type="text" id="txtMaTaiSan{{$index}}" class="form-control text-left" ng-model="DieuChuyenChiTiet.MaTaiSan" ng-keydown="ctrl.action.keyPress(DieuChuyenChiTiet.MaTaiSan,'txtMaTaiSan'+$index,'cbxPhongBanChuyenDen'+$index,$index,$event)" />
                        </td>
                        <td class="form-group form-group-sm">
                            <!-- tai san-->
                            <cbo-tai-san-su-dung id="cbxTaiSan{{$index}}" data-function-code="CN0025" data-value="DieuChuyenChiTiet.TaiSanId" data-phong-ban="DieuChuyenChiTiet.PhongBanSuDung" data-nhan-vien="DieuChuyenChiTiet.NhanVienSuDung" ma-tai-san="DieuChuyenChiTiet.TempMaTaiSan" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/taisan/showview?viewname=cbotaisansudung"
                                                 on-selected="ctrl.action.getDataTaiSan(data, {$index})"></cbo-tai-san-su-dung>
                        </td>
                        <td class="form-group form-group-sm">
                            <!--dvtinh-->
                            <span id="txtDonViTinh{{$index}}" class="form-control text-left " ng-bind="DieuChuyenChiTiet.DonViTinh" />
                        </td>
                        <td class="form-group form-group-sm">
                            <!-- phong ban su dung-->
                            <span class="form-control text-left" ng-bind="DieuChuyenChiTiet.TenPhongBanSuDung" />
                        </td>
                        <td class="form-group form-group-sm">
                            <span class="form-control text-left" ng-bind="DieuChuyenChiTiet.TenNhanVienSuDung" />
                        </td>
                        <td class="text-right form-group form-group-sm" style="display:none">
                            <!--soluongton-->
                            <span id="txtSoLuongTon{{$index}}" class="form-control text-right" ng-bind="DieuChuyenChiTiet.SoLuongTon" />
                        </td>
                        <td class="form-group form-group-sm">
                            <!-- phong ban chuyen den-->
                            <cbo-phong-ban id="cbxPhongBanChuyenDen{{$index}}" data-function-code="CN0025" data-value="DieuChuyenChiTiet.PhongBanChuyenDen" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/phongban/showview?viewname=cbophongban"
                                           on-selected="ctrl.action.resetNhanVienId(data, {$index})"></cbo-phong-ban>
                        </td>
                        <td class="form-group form-group-sm">
                            <!-- can bo tiep nhan-->
                            <cbo-nhan-vien-by-phong-ban id="cbxNhanVien{{$index}}" data-value="DieuChuyenChiTiet.NhanVienTiepNhan" data-phongbanid="DieuChuyenChiTiet.PhongBanChuyenDen" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/nhanvien/showview?viewname=cbonhanvienbyphongban"
                                           on-selected="ctrl.action.nhanVienByPhongBanSelected(data, { $index })"></cbo-nhan-vien-by-phong-ban>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--soluong-->
                            <input type="number" id="txtSoLuong{{$index}}" class="form-control text-right" ng-model="DieuChuyenChiTiet.SoLuong" input-number sa-min="1" sa-max="{{DieuChuyenChiTiet.SoLuongTon}}" ng-keypress="ctrl.action.keyPress(DieuChuyenChiTiet.SoLuong,'txtSoLuong'+$index,'txtLyDo'+$index,$index,$event)" />
                        </td>
                        <td class="text-left form-group form-group-sm">
                            <input type="text" id="txtLyDo{{$index}}" class="form-control text-left " ng-model="DieuChuyenChiTiet.LyDo" ng-keypress="ctrl.action.keyPress(DieuChuyenChiTiet.LyDo,'txtLyDo'+$index,'txtMaTaiSan'+$index,$index,$event)" />
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="panel-footer">
            <span ng-if="ctrl.data.showButtonSave">
                <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.save()"><i class="fa fa-save"></i> Lưu (F8)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="ctrl.data.showButtonXoa">
                <a class="btn btn-sm btn-danger" href="javascript:void(0)" ng-click="ctrl.action.removePhieuDieuChuyen()"><i class="fa fa-trash-o"></i> Xóa</a>&nbsp;&nbsp;&nbsp;
            </span>
            <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="ctrl.action.In()"><i class="fa fa-print"></i> In</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-default" ng-click="ctrl.action.goBack()"><i class="fa fa-arrow-left"></i> Quay lại</a>&nbsp;&nbsp;&nbsp;
        </div>

    </div>

    <div class="modal fade bs-example-modal-full" id="reportmodal" style="z-index:2000" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-full" style="margin: 0px; width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Phiếu điều chuyển tài sản</h4>
                </div>
                <div class="modal-body">
                    <iframe src="" width="100%" height="1000px"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/DieuChuyen/controller/DieuChuyenListCtrl.js"></script>
    <script src="~/Scripts/angular/DieuChuyen/controller/DieuChuyenFilterCtrl.js"></script>
    <script src="~/Scripts/angular/DieuChuyen/service/DieuChuyenService.js"></script>
    <script src="~/Scripts/angular/DieuChuyen/controller/DieuChuyenEditCtrl.js"></script>
    <script src="~/Scripts/angular/TaiSan/service/TaiSanService.js"></script>
    @{Html.RenderPartial("~/views/PhongBan/Combobox.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/LoaiTaiSan/cboLoaiTaiSan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/TaiSan/cboTaiSan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/TaiSan/cboTaiSanSuDung.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/PhongBan/cboPhongBan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/NhanVien/cboNhanVienByPhongBan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
}




