@{
    ViewBag.Title = "Loại hàng hóa";
    ViewBag.userInfo = ViewBag.userInfo ?? "{ }";
}

<div class="container-fluid" ng-controller="MainCtrl as mainCtrl" ng-init="mainCtrl.onInitView({userInfo: @ViewBag.userInfo})" keyboard="mainCtrl.keys">
    <div class="panel panel-default" keyboard="ctrl.keys" ng-controller="KhoLoaiHangHoaListCtrl as ctrl" ng-init="ctrl.onInitView({controllerId: mainCtrl.controllerId.KhoLoaiHangHoaList,userInfo: @ViewBag.userInfo})">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <i class="fa fa-fw fa-star-o"></i>
                <span>Loại hàng hóa</span>
                <form class="form-inline pull-right">
                    <div class="form-group form-group-sm">
                        <div class="input-group input-group-sm">
                            <input class="form-control" id="txtsearch" autofocus ng-model="ctrl.data.searchString" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary" type="submit" ng-click="ctrl.action.search()"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-body">
            <h3 class="text-center no-margin">Danh sách loại hàng hóa</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped" st-table="ctrl.data.listLoaiHangHoa" st-pipe="ctrl.action.getPage">
                <thead>
                    <tr class="text-primary">
                        <th class="text-center" style="width: 50px;" ng-click="ctrl.action.checkAll()"><i class="fa fa-fw" ng-class="ctrl.status.isSelectedAll ? 'fa-check-square-o':'fa-square-o'"></i></th>
                        <th class="text-center">Mã</th>
                        <th class="text-center">Tên</th>
                        <th class="text-center">Mô tả</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="loai in ctrl.data.listLoaiHangHoa" ng-class="(loai.isSelected==true)?'info':''">
                        <td class="text-center" style="width: 50px;" st-select-row="loai" st-select-mode="multiple" ng-click="ctrl.action.autoCheckAll()"><i class="fa fa-fw text-primary" ng-class="(loai.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td>
                            <a href="javascript:void(0)" ng-bind="loai.MaLoai" ng-click="ctrl.action.update(loai)"></a>
                        </td>
                        <td>
                            <a href="javascript:void(0)" ng-bind="loai.TenLoai" ng-click="ctrl.action.update(loai)"></a>
                        </td>
                        <td ng-bind="loai.MoTa"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <span ng-if="ctrl.action.checkQuyenTacVu('N')">
                <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.action.create()">Mới (F2)</button>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="ctrl.action.checkQuyenTacVu('D')">
                <a class="btn btn-sm btn-default" ng-click="ctrl.action.xoaChon()">Xóa chọn</a>&nbsp;&nbsp;&nbsp;
            </span>
        </div>
    </div>

    <div class="panel panel-primary ui-draggable collapse fade" ng-controller="KhoLoaiHangHoaEditCtrl as ctrl" id="{{ctrl.controllerId}}" ng-init="ctrl.onInitView({controllerId: mainCtrl.controllerId.KhoLoaiHangHoaEditPopup,userInfo: @ViewBag.userInfo})">
        <div class="panel-heading ui-draggable-handle">
            <i class="fa fa-fw fa-spinner fa-spin" ng-if="ctrl.status.isLoading"></i>
            <i class="fa fa-fw fa-star-o" ng-if="!ctrl.status.isLoading"></i>
            <span>Thông tin loại hàng hóa</span>
            <a class="btn btn-xs btn-primary pull-right" ng-click="ctrl.action.close()">
                <i class="fa fa-fw fa-remove"></i>
            </a>
        </div>
        <div class="panel-body" style="width: 600px; height: auto;">
            <form class="form-horizontal">
                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.MaLoai}">
                    <label class="control-label col-sm-3">Mã loại hàng hóa</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" ng-model="ctrl.data.loaiHangHoa.MaLoai" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="MaLoai" data-next="TenLoai" autofocus />
                    </div>
                </div>

                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.TenLoai}">
                    <label class="control-label col-sm-3">Tên loại hàng hóa</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" ng-model="ctrl.data.loaiHangHoa.TenLoai" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="TenLoai" data-next="MoTa" />
                    </div>
                </div>
                <div class="row form-group form-group-sm">
                    <label class="control-label col-sm-3">Mô tả</label>
                    <div class="col-sm-9">
                        <textarea rows="3" class="form-control" type="text" ng-model="ctrl.data.loaiHangHoa.MoTa" data-name="MoTa"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <span ng-if="ctrl.action.checkQuyenTacVu('N')||ctrl.action.checkQuyenTacVu('M')">
                <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.save()"><i class="fa fa-fw fa-save"></i> Lưu (F8)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.refresh()">Thiết lập lại</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.close()">Đóng</button>
        </div>
    </div>
</div>

@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/directive/keyboard.directive.js"></script>

    <script src="~/Scripts/angular/KhoLoaiHangHoa/service/KhoLoaiHangHoaService.js"></script>
    <script src="~/Scripts/angular/KhoLoaiHangHoa/controller/MainCtrl.js"></script>
    <script src="~/Scripts/angular/KhoLoaiHangHoa/controller/KhoLoaiHangHoaListCtrl.js"></script>
    <script src="~/Scripts/angular/KhoLoaiHangHoa/controller/KhoLoaiHangHoaEditCtrl.js"></script>
}
