@{
    ViewBag.Title = "Bảo dưỡng";
}
<div class="container-fluid">

    <div class="panel panel-default" style="margin-bottom:-1px" ng-controller="BaoDuongFilterCtrl as ctrl" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
        <div class="panel-heading clearfix">
            <span class="panel-title"><i class="fa fa-fw fa-star-o"></i>Bảo dưỡng</span>
            <div class="btn-group btn-group-sm pull-right">
                <a class="btn btn-primary" data-toggle="collapse" data-target="#SearchCollapse"><i class="fa fa-fw fa-search"></i> Tìm kiếm (F3)</a>
                <a class="btn btn-warning" data-toggle="collapse" data-target="#TuyChonCotPopup"><i class="fa fa-fw fa-cog"></i> Tùy chọn</a>
            </div>
        </div>
        <div class="collapse fade" id="SearchCollapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-2">Ngày</label>
                        <div class="form-inline col-sm-9">
                            <input type="text" id="tungay" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.startDate" /> ~
                            <input type="text" id="denngay" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.endDate" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="panel-footer">
                <a class="btn btn-sm btn-primary" ng-click="ctrl.action.search()">Tìm kiếm (F8)</a>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-sm btn-default" ng-click="ctrl.action.reset()">Thiết lập lại</a>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>

    <div ng-controller="BaoDuongListCtrl as ctrl" class="panel panel-default" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo,linkUrl:'@(Url.Content("~/"))'})">
        <div class="panel-heading">
            <span ng-if="ctrl.data.showButtonNew">
                <a class="btn btn-sm btn-primary" href="~/BaoDuong/edit?id=0"><i class="fa fa-plus"></i> Mới (F2)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <button class="btn btn-sm btn-danger" ng-if="ctrl.data.showButtonXoaChon" ng-click="ctrl.action.deleteSelected()"><i class="fa fa-trash-o"></i> Xóa chọn</button>
        </div>
        <div class="table-container  panel-body">
            <table st-table="ctrl.data.BaoDuongListDisplay" st-pipe="ctrl.action.getPage" class="table table-bordered table-condensed table-responsive table-hover ">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="width: 40px;">Chọn</th>                       
                        <th class="text-center" ng-repeat="cot in ctrl.data.listCot|filter:ctrl.action.checkCot">
                            <span ng-bind="::cot.TenCot"></span>
                        </th>

                    </tr>

                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="BaoDuong in ctrl.data.BaoDuongListDisplay" ng-click="ctrl.action.getPageDetail(BaoDuong.BaoDuongId)" id="row_{{BaoDuong.BaoDuongId}}" ng-class="(BaoDuong.isSelected==true)?'info':''">
                        <td st-select-row="BaoDuong" st-select-mode="multiple" class="text-center"><i class="fa fa-fw text-primary" ng-class="(BaoDuong.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td ng-repeat="cot in ctrl.data.listCot|filter:ctrl.action.checkCot" ng-switch="cot.MaCot">
                            <a ng-switch-when="MaTaiSan" href="~/BaoDuong/edit?id={{BaoDuong.BaoDuongId}}">{{ BaoDuong.MaTaiSan}}</a>
                            <a ng-switch-when="TenTaiSan" href="~/BaoDuong/edit?id={{BaoDuong.BaoDuongId}}">{{ BaoDuong.TenTaiSan}}</a>
                            <span ng-switch-when="NgayBaoDuong">{{ BaoDuong.NgayBaoDuong | date : 'dd/MM/yyyy'}}</span>
                            <span ng-switch-when="NgayDuKien">{{ BaoDuong.NgayDuKien | date : 'dd/MM/yyyy'}}</span>
                            <span ng-switch-when="NgayTao">{{ BaoDuong.NgayTao | date : 'dd/MM/yyyy'}}</span>
                            <span style="float:right" ng-switch-when="DuToan">{{ BaoDuong.DuToan|number }}</span>
                            <span ng-switch-default ng-bind="::BaoDuong[cot.MaCot]"></span>
                        </td>

                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="panel-heading">
            <span>Thông tin chi tiết</span>
        </div>

        <div class="table-responsive  panel-body">
            <table st-table="ctrl.data.SuaChuaListDisplay" style="border: 1px solid #ddd;" class="table table-bordered table-condensed table-responsive table-hover ">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="min-width: 40px;vertical-align:middle">STT</th>
                        <th class="text-center" style="min-width: 250px;vertical-align:middle">Tên bộ phận</th>
                        <th class="text-center" style="min-width: 100px;vertical-align:middle">Ngày bắt đầu</th>
                        <th class="text-center" style="min-width: 110px;vertical-align:middle">Ngày kết thúc</th>
                        <th class="text-center" style="min-width: 100px;vertical-align:middle">Chi phí</th>
                        <th class="text-center" style="min-width: 200px;vertical-align:middle">Nội dung</th>
                        <th class="text-center" style="min-width: 200px;vertical-align:middle">Nơi sửa</th>
                        <th class="text-center" style="min-width: 200px;vertical-align:middle">Kết quả</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="SuaChua in ctrl.data.SuaChuaListDisplay" ng-class="(SuaChua.isSelected==true)?'info':''">
                        <td class="text-center">{{$index + 1}}</td>
                        <td><span ng-bind="SuaChua.TenBoPhan"></span></td>
                        <td class="text-center"><span>{{ SuaChua.NgayBatDau | date : 'dd/MM/yyyy'}}</span></td>
                        <td class="text-center"><span>{{ SuaChua.NgayKetThuc | date : 'dd/MM/yyyy'}}</span></td>
                        <td class="text-right"><span ng-bind="SuaChua.ChiPhi|number"></span></td>
                        <td><span ng-bind="SuaChua.NoiDung"></span></td>
                        <td><span ng-bind="SuaChua.NoiSua"></span></td>
                        <td><span ng-bind="SuaChua.KetQua"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100">
                            <p class="text-danger">Tổng số : {{ctrl.data.TongSo}}</p>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

    <!-- popup danh sách tùy chọn cột -->
    <div class="panel panel-primary ui-draggable collapse fade" id="TuyChonCotPopup" ng-controller="TuyChonCotListCtrl as ctrl" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo,controllerId:'TuyChonCotPopup',MaForm:'FL0023'})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span>Tùy chọn cột</span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#TuyChonCotPopup"><i class="fa fa-remove"></i></a>
            </div>
        </div>
        <div class="table-responsive" style="width: 400px; height: auto;" ng-if="ctrl.data.showList">
            <table class="table table-bordered table-condensed table-hover table-striped" st-table="ctrl.data.listCot">
                <thead>
                    <tr>
                        <th style="width: 65px;">Hiện/ẩn</th>
                        <th>Tên cột</th>
                        <th>Độ rộng</th>
                    </tr>
                </thead>
                <tbody style="height:100px;">
                    <tr ng-repeat="cot in ctrl.data.listCot" ng-class="(cot.isSelected==true)?'info':''" ng-init="cot.isSelected=cot.HienThiYN">
                        <td st-select-row="cot" st-select-mode="multiple" class="text-center"><i class="fa fa-fw text-primary" ng-class="(cot.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td><span ng-bind="cot.TenCot"></span></td>
                        <td><span ng-bind="cot.DoRong"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</a>
            <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#TuyChonCotPopup">Đóng</a>
        </div>
    </div>
    <!-- / popup danh sách tùy chọn cột -->
</div>




    @section ImportStyles{}
    @section SetupStyles{
        <style type="text/css">
            .st-sort-ascent:before {
                content: '\25B2';
            }

            .st-sort-descent:before {
                content: '\25BC';
            }

            .select-page {
                width: 50px;
                text-align: center;
            }

            .pagination li a input {
                padding: 0;
                margin: -5px 0;
            }
        </style>
        <link href="~/lib/bootstrap/css/loadingPage.css" rel="stylesheet" />
    }
    @section ImportScripts{}
    @section SetupScripts{}
    @section ImportAngular{
        <script src="~/Scripts/angular/BaoDuong/controller/BaoDuongListCtrl.js"></script>
        <script src="~/Scripts/angular/BaoDuong/service/BaoDuongService.js"></script>
        <script src="~/Scripts/angular/BaoDuong/controller/BaoDuongFilterCtrl.js"></script>
        <script src="~/Scripts/angular/BaoDuong/controller/BaoDuongEditCtrl.js"></script>
        <script src="~/Scripts/angular/TuyChonFormCot/controller/TuyChonCotListCtrl.js"></script>
        <script src="~/Scripts/angular/TuyChonFormCot/service/TuyChonCotService.js"></script>
        <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
        <script src="~/Scripts/angular/shared/directive/keyboard.directive.js"></script>
        @{Html.RenderPartial("~/views/PhongBan/ComboboxMuti.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    }




