<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="TFMProfiles" type="TinyFileManager.NET.ConfigProfiles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="102400" executionTimeout="1200" />
      <!--<customErrors mode="Off"/>-->
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <TFMProfiles>
    <profile name="Default">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions></AllowedMiscExtensions>
      <UploadPath>Source\files</UploadPath>
      <ThumbPath>Source\thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>1000</MaxUploadSizeMb>
      <RootPath></RootPath>
      <RootURL></RootURL>
      <FillSelector></FillSelector>
      <PopupCloseCode></PopupCloseCode>
    </profile>
    <profile name="NoTinyMCE">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions></AllowedMiscExtensions>
      <UploadPath>Source\files</UploadPath>
      <ThumbPath>Source\thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>1000</MaxUploadSizeMb>
      <RootPath></RootPath>
      <RootURL></RootURL>
      <FillSelector>'.image', window.opener.document</FillSelector>
      <PopupCloseCode>window.close();</PopupCloseCode>
    </profile>
    <profile name="NoTinyMCE1">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions></AllowedMiscExtensions>
      <UploadPath>Source\files</UploadPath>
      <ThumbPath>Source\thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>1000</MaxUploadSizeMb>
      <RootPath></RootPath>
      <RootURL></RootURL>
      <FillSelector>'.imagedetail', window.opener.document</FillSelector>
      <PopupCloseCode>window.close();</PopupCloseCode>
    </profile>
        <profile name="NoTinyMCEDetail4">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions></AllowedMiscExtensions>
      <UploadPath>Source\files</UploadPath>
      <ThumbPath>Source\thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>1000</MaxUploadSizeMb>
      <RootPath></RootPath>
      <RootURL></RootURL>
      <FillSelector>'.imagedetail4', window.opener.document</FillSelector>
      <PopupCloseCode>window.close();</PopupCloseCode>
    </profile>
    <profile name="NoTinyMCE2">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions></AllowedMiscExtensions>
      <UploadPath>Source\files</UploadPath>
      <ThumbPath>Source\thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>1000</MaxUploadSizeMb>
      <RootPath></RootPath>
      <RootURL></RootURL>
      <FillSelector>'.file', window.opener.document</FillSelector>
      <PopupCloseCode>window.close();</PopupCloseCode>
    </profile>
  <profile name="NoTinyMCE3">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions></AllowedMiscExtensions>
      <UploadPath>Source\files</UploadPath>
      <ThumbPath>Source\thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>1000</MaxUploadSizeMb>
      <RootPath></RootPath>
      <RootURL></RootURL>
      <FillSelector>'.image2', window.opener.document</FillSelector>
      <PopupCloseCode>window.close();</PopupCloseCode>
    </profile>
    <profile name="NoTinyMCE4">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions></AllowedMiscExtensions>
      <UploadPath>Source\files</UploadPath>
      <ThumbPath>Source\thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>1000</MaxUploadSizeMb>
      <RootPath></RootPath>
      <RootURL></RootURL>
      <FillSelector>'.file2', window.opener.document</FillSelector>
      <PopupCloseCode>window.close();</PopupCloseCode>
    </profile>
    <profile name="NoTinyMCE5">
      <AllowedImageExtensions>'jpg', 'jpeg', 'png', 'gif', 'bmp', 'tiff'</AllowedImageExtensions>
      <AllowedFileExtensions>'doc', 'docx', 'pdf', 'xls', 'xlsx', 'txt', 'csv','html','psd','sql','log','fla','xml','ade','adp','ppt','pptx','zip','rar'</AllowedFileExtensions>
      <AllowedVideoExtensions>'mov', 'mpeg', 'mp4', 'avi', 'mpg','wma'</AllowedVideoExtensions>
      <AllowedMusicExtensions>'mp3', 'm4a', 'ac3', 'aiff', 'mid'</AllowedMusicExtensions>
      <AllowedMiscExtensions></AllowedMiscExtensions>
      <UploadPath>Source\files</UploadPath>
      <ThumbPath>Source\thumbs</ThumbPath>
      <AllowUploadFile>True</AllowUploadFile>
      <AllowDeleteFile>True</AllowDeleteFile>
      <AllowCreateFolder>True</AllowCreateFolder>
      <AllowDeleteFolder>True</AllowDeleteFolder>
      <MaxUploadSizeMb>1000</MaxUploadSizeMb>
      <RootPath></RootPath>
      <RootURL></RootURL>
      <FillSelector>'.image3', window.opener.document</FillSelector>
      <PopupCloseCode>window.close();</PopupCloseCode>
    </profile>
  </TFMProfiles>
</configuration>
