
@{
    ViewBag.Title = "KiemKe";
}
<div class="container-fluid" ng-controller="MainCtrl as mainCtrl" ng-init="mainCtrl.onInitView()">
    <!-- panel tìm kiếm -->
    <div class="panel panel-default hidden-print" ng-controller="KhoKiemKeFilterCtrl as ctrl" ng-init="ctrl.onInitView('KhoKiemKeFilterCtrl')" keyboard="ctrl.keys">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <span><i class="fa fa-fw fa-star-o"></i>Kiểm kê</span>
                <div class="btn-group btn-group-sm pull-right">
                    <a class="btn btn-primary" data-toggle="collapse" data-target="#panelTimkiemCollapse"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</a>
                    <a class="btn btn-warning" data-toggle="collapse" data-target="#TuyChonCotPopup"><i class="fa fa-fw fa-cog"></i>Tùy chọn</a>
                </div>
            </div>
        </div>
        <div>
            <div class="collapse fade" id="panelTimkiemCollapse">
                <div class="panel-body">
                    <form class="form">
                        <div class="row form-group form-group-sm">
                            <label for="txtNgay" class="control-label col-sm-2">Ngày</label>
                            <div class="form-inline col-sm-10">
                                <input type="text" id="tungay" class="form-control datetimepicker date" placeholder="__/__/____" />
                                <span>~</span>
                                <input type="text" id="denngay" class="form-control datetimepicker date" placeholder="__/__/____" />
                            </div>
                        </div>
                        <div class="row form-group form-group-sm">
                            <label class="control-label col-sm-2">Kho hàng hóa</label>
                            <div class="col-sm-10">
                                <div class="form-control auto-height">
                                    <a class="pull-right" href="javascript:void(0)" ng-click="ctrl.action.clearListKhoHang()"><i class="fa fa-fw fa-remove"></i></a>
                                    <a href="javascript:void(0)" data-toggle="collapse" data-target="#{{mainCtrl.controllerId.KhoHangListPopup}}">
                                        <div>
                                            <i class="fa fa-fw fa-search"></i>
                                            <span style="margin-right: 5px;" ng-repeat="kho in ctrl.data.listKhoHang" ng-bind="kho.TenKho+','"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="panel-footer">
                    <a class="btn btn-sm btn-primary" ng-click="ctrl.action.search()">Tìm kiếm (F8)</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-sm btn-default" ng-click="ctrl.action.reset()">Thiết lặp lại</a>
                </div>
            </div>

        </div>
    </div>
    <!-- /panel tìm kiếm -->
    <!-- popup danh sách kho hang hoa -->
    @{Html.RenderPartial("~/views/KhoKhoHang/_KhoKhoHangListPopup.cshtml", new ViewDataDictionary { { "Html", true }, { "onInitView", "{controllerId:mainCtrl.controllerId.KhoHangListPopup,showTable:true}" } });}
    <!-- /popup danh sách -->
    <div ng-controller="KhoKiemKeListCtrl as ctrlList" keyboard="ctrlList.keys">
        <div class="panel panel-default" ng-init="ctrlList.onInitView({controllerId:mainCtrl.controllerId.KhoKiemKeList, loadListCot:true, showList:true,userInfo: @ViewBag.userInfo})">
            <div class="panel-body">
                <h3 class="text-center no-margin">Danh sách kiểm kê</h3>
            </div>

            <div class="table-responsive" style="width:auto; height: auto;" ng-if="ctrlList.data.showList">
                <table class="table table-bordered table-condensed table-responsive table-hover " st-table="ctrlList.data.listKhoKiemKe" st-pipe="ctrlList.action.getPage">
                    <thead class="bg-default text-primary">
                        <tr>
                            <th class="text-center" style="width: 50px;"></th>
                            <th class="text-center" st-sort="{{cot.MaCot}}" ng-repeat="cot in ctrlList.data.listCot|filter:cot.HienThiYN=true" ng-bind="::cot.TenCot"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="ctrlList.data.error.code>0">
                            <td colspan="100" class="text-center danger" ng-bind="ctrlList.data.error.message"></td>
                        </tr>
                        <tr ng-repeat="kiemke in ctrlList.data.listKhoKiemKe" ng-class="(kiemke.isSelected==true)?'info':''">
                            <td class="text-primary text-center" st-select-row="kiemke" st-select-mode="multiple"><i class="fa fa-fw" ng-class="kiemke.isSelected==true?'fa-check-square-o':'fa-square-o'"></i></td>
                            <td ng-repeat="cot in ctrlList.data.listCot|filter:cot.HienThiYN=true" ng-switch="cot.MaCot">
                                <a href="javascript:void(0)" ng-click="ctrlList.action.xemKhoKiemKe(kiemke.KiemKeId)" ng-switch-when="NgayTao" ng-bind="::kiemke[cot.MaCot]"></a>
                                <a href="javascript:void(0)" ng-click="ctrlList.action.xemKhoKiemKe(kiemke.KiemKeId)" ng-switch-when="TieuDe" ng-bind="::kiemke[cot.MaCot]"></a>
                                <a ng-switch-when="Hinh" href="~/content/upload/{{kiemke[cot.MaCot]}}" target="_blank" ng-if="kiemke[cot.MaCot]">Xem</a>
                                <span ng-switch-default ng-bind="::kiemke[cot.MaCot]"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100" class="text-center hidden-print">
                                <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="panel-footer hidden-print">
                <a class="btn btn-sm btn-primary" data-toggle="collapse" ng-if="ctrlList.data.showButtonNew" ng-click="ctrlList.action.addKhoKiemKe()">Mới (F2)</a>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-sm btn-default" ng-if="ctrlList.data.showButtonXoaChon" ng-click="ctrlList.action.deleteSelected('')">Xóa chọn</button>
            </div>
        </div>
        <!-- popup cập nhật edit kiểm kê -->
        <div class="panel panel-primary ui-draggable collapse fade hidden-print" id="popupThongTinKhoKiemKe" ng-controller="KhoKiemKeEditCtrl as ctrl" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
            <div class="panel-heading ui-draggable-handle">
                <div class="panel-title">
                    <span>Kiểm kê</span>
                    <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#popupThongTinKhoKiemKe" ng-click="ctrl.action.closeEdit()">
                        <i class="fa fa-fw fa-remove">
                        </i>
                    </a>
                    <i class="fa fa-fw fa-pulse text-primary pull-right fa-spinner"></i>
                </div>
            </div>
            <div class="panel-body" style="width: 700px; padding-top: 15px;padding-right: 50px; height:auto">
                <form class="form-horizontal">
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidNgay}">
                        <label class="control-label col-sm-2">Ngày (*)</label>
                        <div class="col-sm-10">
                            <input class="datetimepicker form-control date" id="txtNgay" ng-model="ctrl.data.objKhoKiemKe.NgayTao" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.NgayTao,'txtNgay','txtTieuDe',$event)" placeholder="__/__/____" />
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidTieuDe}">
                        <label class="control-label col-sm-2">Tiêu đề (*)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtTieuDe" ng-model="ctrl.data.objKhoKiemKe.TieuDe" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtTieuDe','txtSoTien',$event)">
                        </div>
                    </div>

                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidKho}">
                        <label class="control-label col-sm-2">Kho hàng (*)</label>
                        <div class="col-sm-10">
                            <div class="form-control auto-height">
                                <a class="pull-right" href="javascript:void(0)" ng-click="ctrl.action.clearListKhoHang()"><i class="fa fa-fw fa-remove"></i></a>
                                <a href="javascript:void(0)" id="popKhoHang" data-toggle="collapse" data-target="#{{mainCtrl.controllerId.KhoHangListPopupEdit}}">
                                    <div>
                                        <i class="fa fa-fw fa-search"></i>
                                        <span style="margin-right: 5px;" ng-repeat="kho in ctrl.data.listKhoHang" ng-bind="kho.TenKho+','"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group form-group-sm" >
                        <label class="control-label col-sm-2">Trưởng ban</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="txtTruongBanTen" ng-model="ctrl.data.objKhoKiemKe.TruongBanTen" placeholder="ông / bà"  ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtTruongBanTen','txtTruongBanChucVu',$event)">
                         </div>
                           <div class="col-sm-3">
                                <input type="text" class="form-control" id="txtTruongBanChucVu" ng-model="ctrl.data.objKhoKiemKe.TruongBanChucVu" placeholder="chức vụ" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtTruongBanChucVu','txtTruongBanDaiDien',$event)">
                         </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txtTruongBanDaiDien" ng-model="ctrl.data.objKhoKiemKe.TruongBanDaiDien" placeholder="đại diện" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtTruongBanDaiDien','txtUyVienTen',$event)">
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-2">Ủy viên 1</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="txtUyVienTen" ng-model="ctrl.data.objKhoKiemKe.UyVienTen" placeholder="ông / bà" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtUyVienTen','txtUyVienChucVu',$event)">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txtUyVienChucVu" ng-model="ctrl.data.objKhoKiemKe.UyVienChucVu" placeholder="chức vụ" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtUyVienChucVu','txtUyVienDaiDien',$event)">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txtUyVienDaiDien" ng-model="ctrl.data.objKhoKiemKe.UyVienDaiDien" placeholder="đại diện" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtUyVienDaiDien','txtUyVienTen2',$event)">
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-2">Ủy viên 2</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="txtUyVienTen2" ng-model="ctrl.data.objKhoKiemKe.UyVienTen2" placeholder="ông / bà" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtUyVienTen2','txtUyVienChucVu2',$event)">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txtUyVienChucVu2" ng-model="ctrl.data.objKhoKiemKe.UyVienChucVu2" placeholder="chức vụ" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtUyVienChucVu2','txtUyVienDaiDien2',$event)">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txtUyVienDaiDien2" ng-model="ctrl.data.objKhoKiemKe.UyVienDaiDien2" placeholder="đại diện" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TieuDe,'txtUyVienDaiDien2','txtSoTien',$event)">
                        </div>
                    </div>

                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-2">Hình</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" file-bind="ctrl.data.file" />
                            <a href="@(Url.Content("~/content/upload/")){{ctrl.data.objKhoKiemKe.Hinh}}" target="_blank" ng-if="ctrl.data.objKhoKiemKe.Hinh">Xem hình</a>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-2">Trạng thái</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" id="rdBatDau" name="TrangThai" value="KKK_BD" ng-model="ctrl.data.objKhoKiemKe.TrangThai" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TrangThai,'rdChuyenKhoan','rdTienMat',$event)" />Bắt đầu 
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="rdHoanThanh" name="TrangThai" value="KKK_HT" ng-model="ctrl.data.objKhoKiemKe.TrangThai" ng-keypress="ctrl.action.keyPress(ctrl.data.objKhoKiemKe.TrangThai,'rdTienMat','txtNganHang',$event)" />Hoàn thành
                            </label>

                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-sm btn-primary" ng-if="ctrl.data.showButtonSave" id="btnluu" ng-click="ctrl.action.save()">Lưu (F8)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.refresh()">Thiết lập lại</button>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#popupThongTinKhoKiemKe" ng-click="ctrl.action.closeEdit()">Đóng</a>&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnXoaId" class="btn  btn-sm btn-default" ng-click="ctrlList.action.deleteSelected(ctrl.data.objKhoKiemKe)" ng-if="ctrl.data.objKhoKiemKe.KhoKiemKeId!=0 && ctrl.data.showButtonXoa">Xóa</button>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="ctrl.action.In()"><i class="fa fa-fw fa-print"></i> In</a>&nbsp;&nbsp;&nbsp;
                <button type="button" id="btnH" class="btn btn-sm btn-default" ng-click="ctrlList.action.GetListLuocSu(ctrl.data.objKhoKiemKe.KiemKeId)">H</button>
            </div>

        </div>
    </div>


    <!-- popup danh sách kho hang hoa -->
    @{Html.RenderPartial("~/views/KhoKhoHang/_KhoKhoHangListPopup.cshtml", new ViewDataDictionary { { "Html", true }, { "onInitView", "{controllerId:mainCtrl.controllerId.KhoHangListPopupEdit,showTable:true,isSelectOne:true,userInfo:" + ViewBag.userInfo + "}" } });}
    <!-- /popup danh sách -->
    <!-- popup danh sách tùy chọn cột -->
    <div class="panel panel-primary ui-draggable collapse fade" id="TuyChonCotPopup" ng-controller="TuyChonCotListCtrl as ctrl" ng-init="ctrl.onInitView({controllerId:mainCtrl.controllerId.TuyChonCotPopup,MaForm:'FM0016'})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span>Tùy chọn cột</span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#TuyChonCotPopup"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        <div class="table-responsive" style="width: 400px; height: auto;" ng-if="ctrl.data.showList">
            <table class="table table-bordered table-condensed table-hover table-striped" st-table="ctrl.data.listCot">
                <thead>
                    <tr>
                        <th style="width: 65px;">Hiện/ẩn</th>
                        <th>Tên cột</th>
                        <th>Độ rộng</th>
                    </tr>
                </thead>
                <tbody style="height:100px;">
                    <tr ng-repeat="cot in ctrl.data.listCot" ng-class="(cot.isSelected==true)?'info':''" ng-init="cot.isSelected=cot.HienThiYN">
                        <td st-select-row="cot" st-select-mode="multiple" class="text-center"><i class="fa fa-fw text-primary" ng-class="(cot.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td><span ng-bind="cot.TenCot"></span></td>
                        <td><span ng-bind="cot.DoRong"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</a>
            <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#TuyChonCotPopup">Đóng</a>
        </div>
    </div>
    <!-- / popup danh sách tùy chọn cột -->

    <!-- report KiemKe-->
    <div class="modal fade bs-example-modal-full" id="reportmodal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-full" style="margin: 0px; width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Kiểm kê</h4>
                </div>
                <div class="modal-body">
                    <iframe src="" width="100%" height="1000px"></iframe>
                </div>
            </div>
        </div>
    </div>

</div>
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    @*<script src="~/Scripts/angular/shared/smart-table/service/smart-table-helper.js"></script>*@
    <script src="~/Scripts/angular/TuyChonFormCot/controller/TuyChonCotListCtrl.js"></script>
    <script src="~/Scripts/angular/TuyChonFormCot/service/TuyChonCotService.js"></script>
    <script src="~/Scripts/angular/KhoKiemKe/controller/KhoKiemKeEditCtrl.js"></script>
    <script src="~/Scripts/angular/KhoKiemKe/controller/KhoKiemKeFilterCtrl.js"></script>
    <script src="~/Scripts/angular/KhoKiemKe/controller/KhoKiemKeListCtrl.js"></script>
    <script src="~/Scripts/angular/KhoKiemKe/controller/MainCtrl.js"></script>
    <script src="~/Scripts/angular/KhoKiemKe/service/KhoKiemKeService.js"></script>
    @{Html.RenderPartial("~/views/KhoKhoHang/_KhoKhoHangListPopup.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
}
