
@{
    ViewBag.Title = "Kế hoạch mua sắm";
}
<div class="container-fluid">

    <div ng-controller="KeHoachMuaSamListCtrl as ctrl" class="panel panel-default" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <span><i class="fa fa-fw fa-star-o"></i>Kế hoạch mua sắm</span>
                <div class="pull-right">
                    <form class="form-inline">
                        <div class="form-group form-group-sm">
                            <div class="input-group input-group-sm">
                                <input class="form-control" id="txtsearch" ng-model="ctrl.data.searchString" ng-keypress="$event.keyCode===13?ctrl.action.getPage():0" autofocus />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" ng-click="ctrl.action.getPage()"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</button>

                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="panel-heading">
            <button class="btn btn-sm btn-primary" ng-if="ctrl.data.showButtonNew" ng-click="ctrl.action.add()"><i class="fa fa-plus"></i> Mới (F2)</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-sm btn-danger" ng-if="ctrl.data.showButtonXoaChon && ctrl.data.RowChecked" ng-click="ctrl.action.deleteSelected()"><i class="fa fa-trash-o"></i> Xóa chọn</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button ng-if="ctrl.data.showButtonDuyet && ctrl.data.RowChecked" class="btn btn-sm btn-warning" ng-click="ctrl.action.GuiCapTren()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Gửi cấp trên</button>
        </div>
        <div class="table-container panel-body"> 
            <table st-table="ctrl.data.KeHoachMuaSamList" st-pipe="ctrl.action.getPage" class="table table-bordered table-condensed table-responsive table-hover ">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="width: 50px;">Chọn</th>
                        <th class="text-center" style="width: 100px;" st-sort="Nam">Năm</th>
                        <th class="text-center" st-sort="NoiDung">Nội dung</th>
                        <th class="text-center" style="width: 150px;" st-sort="Nam">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="KeHoachMuaSam in ctrl.data.KeHoachMuaSamList" ng-click="ctrl.action.getPageChiTiet(KeHoachMuaSam.MuaSamId)" id="row_{{KeHoachMuaSam.MuaSamId}}" ng-class="(KeHoachMuaSam.isSelected==true)?'info':''">
                        <td st-select-row="KeHoachMuaSam" st-select-mode="multiple" ng-click="ctrl.action.CheckRow()" class="text-center"><i class="fa fa-fw text-primary" ng-class="(KeHoachMuaSam.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td><a ng-bind="KeHoachMuaSam.Nam" href="~/kehoachmuasam/edit/{{KeHoachMuaSam.MuaSamId}}"></a></td>
                        <td><a ng-bind="KeHoachMuaSam.NoiDung" href="~/kehoachmuasam/edit/{{KeHoachMuaSam.MuaSamId}}"></a></td>
                        <td ng-if="KeHoachMuaSam.DuyetId==0" style="padding-left: 3.5%;">
                            <span class="form-control label label-warning" ng-bind="KeHoachMuaSam.TrangThai"></span>

                        </td>
                        <td ng-if="KeHoachMuaSam.DuyetId==1" style="padding-left: 3.5%;">
                            <span class="form-control label label-success" ng-if="KeHoachMuaSam.DuyetId==1" ng-bind="KeHoachMuaSam.TrangThai"></span>
                        </td>
                        <td ng-if="KeHoachMuaSam.DuyetId==2" style="padding-left: 3.5%;">
                            <span class="form-control label label-danger" ng-if="KeHoachMuaSam.DuyetId==2" ng-bind="KeHoachMuaSam.TrangThai"></span> <i class="fa fa-question-circle-o"  ng-if="KeHoachMuaSam.NoiDungDuyet ? true:false"  aria-hidden="true" data-placement="left" title="{{KeHoachMuaSam.NoiDungDuyet}}"></i>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-heading">
            <span>Thông tin chi tiết</span>
        </div>
        <div class="table-containe panel-body">
            <table st-table="ctrl.data.KeHoachMuaSamChiTietList" class="table table-bordered table-condensed  table-responsive table-hover ">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="width: 50px;vertical-align:middle">STT</th>
                        <th class="text-center" style="width: 300px;vertical-align:middle" st-sort="TenTaiSan">Tên tài sản</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="TenLoai">Loại tài sản</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="TenPhuongThuc">Phương thức HT</th>
                        <th class="text-center" style="width: 70px;vertical-align:middle" st-sort="DonViTinh">ĐVT</th>
                        <th class="text-center" style="width: 200px;vertical-align:middle" st-sort="MoTa">Mô tả</th>
                        <th class="text-center" style="width: 120px;vertical-align:middle" st-sort="Ngay">Ngày DK</th>
                        <th class="text-center" style="width: 120px;vertical-align:middle" st-sort="SoLuong">Số Lượng DK</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="DonGia">Đơn giá DK</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="TenHinhThuc">Hình thức</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="DuToan">Dự toán</th>
                        <th class="text-center" style="width: 100px;vertical-align:middle" st-sort="GhiChu">Ghi chú</th>
                        <th class="text-center" style="width: 100px;vertical-align:middle" st-sort="GhiChu">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="KeHoachMuaSam in ctrl.data.KeHoachMuaSamChiTietList" ng-class="(KeHoachMuaSam.isSelected==true)?'info':''">
                        <td class="text-center">{{$index + 1}}</td>
                        <td><span ng-bind="KeHoachMuaSam.TenTaiSan"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.TenLoai"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.TenPhuongThuc"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.DonViTinh"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.MoTa"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.Ngay"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.SoLuong"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.DonGia"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.TenHinhThuc"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.DuToan"></span></td>
                        <td><span ng-bind="KeHoachMuaSam.GhiChu"></span></td>
                        <td class="text-center" >
                            <div ng-if="(KeHoachMuaSam.DuyetId!=1 && KeHoachMuaSam.DuyetId!=2 )? true:false">
                                <span class="form-control label label-warning">Chưa duyệt</span>
                            </div>
                            <div ng-if="KeHoachMuaSam.DuyetId==1 ? true:false">
                                <span class="form-control label label-success">Đồng ý</span>
                            </div>
                            <div ng-if="KeHoachMuaSam.DuyetId==2 ? true:false">
                                <span class="form-control label label-danger">Từ chối</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" >
                            <p class="text-danger">Tổng số : {{ctrl.data.TongSo}}</p>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>

</div>


@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/KeHoachMuaSam/service/KeHoachMuaSamService.js"></script>
    <script src="~/Scripts/angular/KeHoachMuaSam/controller/KeHoachMuaSamListCtrl.js"></script>
}




