
@if (ViewBag.Html != null && (bool)ViewBag.Html == true)
{
    <ui-select ng-model="ctrl.data.VaiTro" data-ng-disabled="disabled" on-select="ctrl.action.onSelected()" theme="bootstrap" id="{{ctrl.NameId}}">
        <ui-select-match placeholder="{{$select.selected.TenVaiTro || 'Chọn vai trò'}}">{{$select.selected.TenVaiTro}}</ui-select-match>
        <ui-select-choices repeat="item in ctrl.data.VaiTroListDisplay | filter: $select.search" refresh="ctrl.action.search($select)" refresh-delay="200" position="down">
            <span ng-bind-html="item.TenVaiTro"></span>
        </ui-select-choices>
    </ui-select>

}
else if (ViewBag.ImportStyles != null && (bool)ViewBag.ImportStyles == true)
{
}
else if (ViewBag.SetupStyles != null && (bool)ViewBag.SetupStyles == true) { }
else if (ViewBag.ImportScripts != null && (bool)ViewBag.ImportScripts == true) { }
else if (ViewBag.SetupScripts != null && (bool)ViewBag.SetupScripts == true) { }
else if (ViewBag.ImportAngular != null && (bool)ViewBag.ImportAngular == true)
{

}
