
@{
    ViewBag.Title = "Vai trò";
}
<style type="text/css">
    .st-sort-ascent:before {
        content: '\25B2';
    }

    .st-sort-descent:before {
        content: '\25BC';
    }

    .has-error .control-label {
        color: red;
    }

    .has-error .form-control {
        border-color: red;
    }

    .text-color {
        color: black;
    }

    .link-color {
        color: #005b9e;
    }

    .list-margin {
        margin-left: 1px;
        margin-right: 1px;
    }
</style>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default" ng-controller="VaiTroListCtrl as ctrl" keyboard="ctrl.keys" >
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="text-color"><i class="fa fa-star-o"></i> &nbsp; Vai trò</span>
                        <form class="form-inline pull-right">
                            <div class="form-group form-group-sm">
                                <input name="txtTimKiem" type="text" class="form-control" ng-model="search" ng-keypress="$event.keyCode===13?ctrl.action.find(search):0" autofocus />
                                <a class="btn btn-sm btn-primary" ng-click="ctrl.action.find(search)"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</a>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div id="tableToExport" class="list-margin">
                    <table st-table="displayed" st-safe-src="ctrl.data.dsVaiTro" class="table table-bordered table-condensed table-hover table-responsive ">
                        <caption class="text-center text-color"> <h3>Danh sách vai trò</h3> </caption>
                        <thead class="panel-footer link-color">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center" st-sort="MaVaiTro">Mã</th>
                                <th class="text-center" st-sort="TenVaiTro">Tên</th>
                                <th class="text-center">Mô tả</th>
                            </tr>
                        </thead>
                        <tbody ng-if="!ctrl.status.isLoadingList">
                            <tr ng-repeat="vaitro in displayed">
                                <td class="text-center">{{$index +1 }}</td>

                                <td>
                                    <a href="javascript:void(0);" class="link-color" data-toggle="collapse" data-target="#popupThemNguoiDung" ng-click="ctrl.action.edit(vaitro.VaiTroId)" ng-bind="vaitro.MaVaiTro"></a>
                                </td>
                                <td ng-bind="vaitro.TenVaiTro"></td>
                                <td ng-bind="vaitro.MoTa"></td>
                            </tr>
                        </tbody>
                    </table>
                    <span ng-if="ctrl.status.isLoadingList">Đang tải</span>
                </div>

                <div class="panel-footer">
                    <a class="btn btn-sm btn-primary" ng-if="ctrl.data.showButtonNew" data-toggle="collapse" data-target="#popupThemNguoiDung" ng-click="ctrl.action.add();">Mới (F2)</a> &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-sm btn-default " ng-click="ctrl.action.excel('#tableToExport');">Excel</a> &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-sm btn-default " ng-click="ctrl.action.print('tableToExport');">Print</a>
                </div>

            </div>
        </div>
    </div>

    <!-- popup Vai Tro--->
    <div class="panel panel-primary ui-draggable fade collapse" id="popupThemNguoiDung" ng-controller="VaiTroEditCtrl as ctrl" keyboard="ctrl.keys">
        <div class="panel-heading ui-draggable-handle">
            <span class="panel-title">Vai trò</span>
            <span class="btn-group btn-group-xs pull-right">
                <a class="btn btn-primary" data-toggle="collapse" data-target="#popupThemNguoiDung"><i class="fa fa-fw fa-close"></i></a>
            </span>
        </div>
        <div class="panel-body" style="width: 600px; height: 260px;">

            <form name="fNguoiDung" class="panel for form-horizontal" ng-show="!ctrl.status.isLoadingEdit">
                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidMa}">
                    <label class="control-label col-sm-3">Mã</label>
                    <div class="col-sm-9">
                        <input type="text" name="txtMa" id="txtMa" class="form-control" ng-model="ctrl.data.objVaiTro.MaVaiTro" required ng-keypress="ctrl.action.keyPress(ctrl.data.objVaiTro.MaVaiTro,'txtMa','txtTen',$event)" />
                    </div>
                </div>

                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidTen}">
                    <!--ng-class="{'has-error':fNguoiDung.txtTen.$touched && fNguoiDung.txtTen.$invalid}"-->
                    <label class="control-label col-sm-3">Tên</label>
                    <div class="col-sm-9">
                        <input type="text" name="txtTen" id="txtTen" class="form-control" ng-model="ctrl.data.objVaiTro.TenVaiTro" required ng-keypress="ctrl.action.keyPress(ctrl.data.objVaiTro.TenVaiTro,'txtTen', 'txtMoTa',$event)" />
                    </div>
                </div>

                <div class="row form-group form-group-sm">
                    <label class="control-label col-sm-3">Mô tả</label>
                    <div class="col-sm-9">
                        <input type="text" name="txtMoTa" id="txtMoTa" class="form-control" ng-model="ctrl.data.objVaiTro.MoTa" ng-keypress="ctrl.action.keyPress(ctrl.data.objVaiTro.MoTa,'txtMoTa','chkKhoaYN',$event)" />
                    </div>
                </div>

                <div class="row form-group form-group-sm">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="chkKhoaYN" ng-model="ctrl.data.objVaiTro.KhoaYN" ng-keypress="ctrl.action.keyPress(ctrl.data.objVaiTro.KhoaYN,'chkKhoaYN','btnLuu',$event)" /> Khóa
                            </label>
                        </div>
                    </div>
                </div>

                <div class="btn-group-sm text-left">
                    <button type="button" class="btn btn-primary" ng-if="ctrl.data.showButtonSave" id="btnLuu" ng-click="ctrl.action.save(ctrl.data.objVaiTro)">Lưu (F8)</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-default" ng-click="ctrl.action.remove(ctrl.data.objVaiTro.VaiTroId)" ng-if="ctrl.data.objVaiTro.VaiTroId>0 && ctrl.data.showButtonXoa">Xóa</button>
                    <label ng-if="ctrl.data.objVaiTro.VaiTroId>0">&nbsp;&nbsp;</label>
                    <button type="button" class="btn btn-default" ng-click="ctrl.action.resetEdit(ctrl.data.objVaiTro.VaiTroId)">Thiết lập lại</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-default" ng-click="ctrl.action.closeEdit(ctrl.data.objVaiTro)">Đóng</button>
                </div>
            </form>
            <span ng-if="ctrl.status.isLoadingEdit">Đang tải</span>

        </div>
    </div>
</div><!-- /.container-fluid -->
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/VaiTroList/service/VaiTroService.js"></script>
    <script src="~/Scripts/angular/VaiTroList/controller/VaiTroListCtrl.js"></script>
    <script src="~/Scripts/angular/VaiTroList/controller/VaiTroEditCtrl.js"></script>
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/service/ExcelExport.js"></script>
}
