@{
    ViewBag.Title = "Chốt số liệu";
}

<div class="container-fluid">
    <div ng-controller="ChotSoLieuNamListCtrl as ctrl" class="panel panel-default" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo,linkUrl:'@(Url.Content("~/"))'})">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-fw fa-star-o"></i> Chốt số liệu năm</span>
        </div>

        <div class="panel-body" style="width:160px; margin:0 auto">
            <form class="form-horizontal">
                <div class="form-group nam">
                    <label>Chọn Năm</label>
                    <select class="form-control" id="nam" ng-model="ctrl.data.nam">
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="panel-footer">
            <div style="text-align:center">
                <a class="btn btn-sm btn-primary" ng-click="ctrl.action.ChotNam()" style="padding:5px 20px"><i></i>Chốt</a>
            </div>

        </div>

    </div>
</div>

@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/ChotSoLieuNam/controller/ChotSoLieuNamListCtrl.js"></script>
    <script src="~/Scripts/angular/ChotSoLieuNam/service/ChotSoLieuNamService.js"></script>
}