@{
    /*****************************************************************************
    1. Create Date : 2017.09.12
    2. Creator     : NGUYỄN THANH BÌNH
    3. Description : ThayDoiThongTinKeKhai/Edit
    4. History     : 2017.09.12 (NGUYỄN THANH BÌNH) - thiết kế giao diện
    *****************************************************************************/
    ViewBag.Title = "Thay đổi thông tin kê khai";
    ViewBag.id = ViewBag.id ?? 0;
    ViewBag.isEdit = ViewBag.isEdit ?? 0;
    ViewBag.userInfo = ViewBag.userInfo ?? "{ }";
}
<div class="container-fluid">
    <div class="panel panel-default" ng-controller="ThayDoiThongTinKeKhaiEditCtrl as ctrl" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo:@(ViewBag.userInfo),ThayDoiThongTinId:@(ViewBag.id),isEdit:@(ViewBag.isEdit),linkUrl:'@(Url.Content("~/ThayDoiThongTinKeKhai/"))'})">
        <div class="panel-heading">
            <span class="panel-title">Thay đổi thông tin</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row form-group form-group-sm" ng-class="ctrl.error.TDTT_Ngay?'has-error':''">
                        <span class="col-sm-3">Ngày thay đổi<span class="text-danger">&nbsp;*</span></span>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control datetimepicker date" ng-model="ctrl.data.TDTT.Ngay" disabled ng-keypress="ctrl.action.keyPressTDTT($event)" data-name="TDTT_Ngay" data-next="TTKK_New_GiayTo" />
                                <span class="input-group-addon"><i class="fa fa-fw fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group form-group-sm">
                        <span class="col-sm-3">Lý do thay đổi</span>
                        <div class="col-sm-8">
                            <input class="form-control" ng-model="ctrl.data.TDTT.LyDo" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group form-group-sm" ng-class="ctrl.error.TDTT_TaiSanId?'has-error':''">
                        <span class="col-sm-3">Tên tài sản cũ<span class="text-danger">&nbsp;*</span></span>
                        <div class="col-sm-8">
                            <fieldset disabled>
                                <span class="form-control" ng-bind="ctrl.data.TaiSan_Old.TenTaiSan"></span>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group form-group-sm">
                        <span class="col-sm-3">Tên tài sản mới</span>
                        <div class="col-sm-8">
                            <input class="form-control" ng-model="ctrl.data.TaiSan_New.TenTaiSan" />
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <!-- thông tin đất -->
            <div class="row" ng-if="ctrl.data.TaiSan_Old.LoaiKeKhai==1">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin cũ (Đất)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset disabled>
                                <div class="row">
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Địa chỉ<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.DiaChiCu"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Giấy tờ kèm theo</span>
                                        <span style="white-space: pre-wrap; min-height: 30px;" class="form-control auto-height" ng-bind="ctrl.data.TTKK_Old.GiayToCu"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Diện tích</span>
                                        <span class="form-control" disabled ng-bind="ctrl.data.TTKK_Old.DienTichCu|number:'':'':2" />
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm TSLV</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.LamTruSoCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Cho thuê</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.ChoThueCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bị lấn chiếm</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.BiLanChiemCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm CSHĐSN<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.CoSoHDSuNghiepCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bỏ trống<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.BoTrongCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Sử dụng khác<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.SuDungKhacCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm nhà ở<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.NhaOCu|number:'':'':2"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin đề nghị thay đổi</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_DiaChi?'has-error':''">
                                    <span>Địa chỉ<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.DiaChi" ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_DiaChi" data-next="TTKK_New_GiayTo" />
                                </div>
                                <div class="col-sm-12 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_GiayTo?'has-error':''">
                                    <span>Giấy tờ kèm theo</span>
                                    <textarea class="form-control" ng-model="ctrl.data.TTKK_New.GiayTo" ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_GiayTo" data-next="TTKK_New_LamTruSo"></textarea>
                                </div>
                                <div class="col-sm-12 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_DienTich?'has-error':''">
                                    <fieldset disabled>
                                        <span>Diện tích</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.DienTich|number:'':'':2" />
                                    </fieldset>
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_LamTruSo?'has-error':''">
                                    <span>Làm TSLV<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.LamTruSo" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_LamTruSo" data-next="TTKK_New_ChoThue" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_ChoThue?'has-error':''">
                                    <span>Cho thuê<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.ChoThue" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_ChoThue" data-next="TTKK_New_BiLanChiem" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_BiLanChiem?'has-error':''">
                                    <span>Bị lấn chiếm<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.BiLanChiem" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_BiLanChiem" data-next="TTKK_New_CoSoHDSuNghiep" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_CoSoHDSuNghiep?'has-error':''">
                                    <span>Làm CSHĐSN<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.CoSoHDSuNghiep" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_CoSoHDSuNghiep" data-next="TTKK_New_BoTrong" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_BoTrong?'has-error':''">
                                    <span>Bỏ trống<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.BoTrong" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_BoTrong" data-next="TTKK_New_SuDungKhac" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_SuDungKhac?'has-error':''">
                                    <span>Sử dụng khác<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.SuDungKhac" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_SuDungKhac" data-next="TTKK_New_NhaO" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_NhaO?'has-error':''">
                                    <span>Làm nhà ở<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.NhaO" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_NhaO" data-next="TTCK_NhaCungCapId" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- thông tin đất -->
            <!-- thông tin nhà -->
            <div class="row" ng-if="ctrl.data.TaiSan_Old.LoaiKeKhai==2">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin cũ (Nhà)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset disabled>
                                <div class="row">
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Địa chỉ<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.DiaChiCu"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Giấy tờ kèm theo</span>
                                        <span style="white-space: pre-wrap; min-height: 30px;" class="form-control auto-height" ng-bind="ctrl.data.TTKK_Old.GiayToCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Diện tích</span>
                                        <span class="form-control" disabled ng-bind="ctrl.data.TTKK_Old.DienTichCu|number:'':'':2" />
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Tổng diện tích sàn</span>
                                        <span class="form-control" disabled ng-bind="ctrl.data.TTKK_Old.TongDienTichSanCu|number:'':'':2" />
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm TSLV</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.LamTruSoCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Cho thuê</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.ChoThueCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bị lấn chiếm</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.BiLanChiemCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm CSHĐSN<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.CoSoHDSuNghiepCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bỏ trống<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.BoTrongCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Sử dụng khác<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.SuDungKhacCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm nhà ở<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.NhaOCu|number:'':'':2"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin đề nghị thay đổi</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_DiaChi?'has-error':''">
                                    <span>Địa chỉ<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.DiaChi" ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_DiaChi" data-next="TTKK_New_GiayTo" />
                                </div>
                                <div class="col-sm-12 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_GiayTo?'has-error':''">
                                    <span>Giấy tờ kèm theo</span>
                                    <textarea class="form-control" ng-model="ctrl.data.TTKK_New.GiayTo" ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_GiayTo" data-next="TTKK_New_LamTruSo"></textarea>
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_DienTich?'has-error':''">
                                    <span>Diện tích<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.DienTich" number-format />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_TongDienTichSan?'has-error':''">
                                    <span>Tổng diện tích sàn<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.TongDienTichSan" number-format />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_LamTruSo?'has-error':''">
                                    <span>Làm TSLV<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.LamTruSo" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_LamTruSo" data-next="TTKK_New_ChoThue" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_ChoThue?'has-error':''">
                                    <span>Cho thuê<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.ChoThue" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_ChoThue" data-next="TTKK_New_BiLanChiem" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_BiLanChiem?'has-error':''">
                                    <span>Bị lấn chiếm<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.BiLanChiem" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_BiLanChiem" data-next="TTKK_New_CoSoHDSuNghiep" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_CoSoHDSuNghiep?'has-error':''">
                                    <span>Làm CSHĐSN<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.CoSoHDSuNghiep" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_CoSoHDSuNghiep" data-next="TTKK_New_BoTrong" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_BoTrong?'has-error':''">
                                    <span>Bỏ trống<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.BoTrong" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_BoTrong" data-next="TTKK_New_SuDungKhac" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_NhaO?'has-error':''">
                                    <span>Làm nhà ở<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.NhaO" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_NhaO" data-next="TTCK_NhaCungCapId" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_SuDungKhac?'has-error':''">
                                    <span>Sử dụng khác<span class="text-danger">&nbsp;*</span></span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.SuDungKhac" number-format ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_SuDungKhac" data-next="TTKK_New_NhaO" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- thông tin nhà -->
            <!-- thông tin ô tô -->
            <div class="row" ng-if="ctrl.data.TaiSan_Old.LoaiKeKhai==3">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin cũ (Ô tô)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset disabled>
                                <div class="row">
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Nhãn hiệu</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.NhanHieuCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Loại xe</span>

                                        <select class="form-control" ng-model="ctrl.data.TTKK_Old.LoaiXeCu">
                                            <option value="1">Xe 1 bánh</option>
                                            <option value="2">Xe lăng</option>
                                            <option value="3">Xe tăng</option>
                                            <option value="4">Xe xích đu</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Chức danh</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.ChucDanhCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Hiện trạng sử dụng</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.TenHienTrangSuDungCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Biển kiểm soát</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.BienKiemSoatCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Nguồn gốc</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.NguonGocXeCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Tải trọng</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.TrongTaiCu|number"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Công xuất xe</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.CongSuatXeCu|number"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin cũ (Ô tô)</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 form-group form-group-sm">
                                    <span>Nhãn hiệu</span>
                                    <input class="form-control" ng-model="ctrl.data.TTKK_New.NhanHieu" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm">
                                    <span>Loại xe</span>

                                    <select class="form-control" ng-model="ctrl.data.TTKK_New.LoaiXe">
                                        <option value="1">Xe 1 bánh</option>
                                        <option value="2">Xe lăng</option>
                                        <option value="3">Xe tăng</option>
                                        <option value="4">Xe xích đu</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 form-group form-group-sm">
                                    <span>Chức danh</span>
                                    <input class="form-control" ng-model="ctrl.data.TTKK_New.ChucDanh" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm">
                                    <span>Hiện trạng sử dụng</span>
                                    <input class="form-control" ng-model="ctrl.data.TTKK_New.TenHienTrangSuDung" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm">
                                    <span>Biển kiểm soát</span>
                                    <input class="form-control" ng-model="ctrl.data.TTKK_New.BienKiemSoat" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm">
                                    <span>Nguồn gốc</span>
                                    <input class="form-control" ng-model="ctrl.data.TTKK_New.NguonGocXe" />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm">
                                    <span>Tải trọng</span>
                                    <input class="form-control" ng-model="ctrl.data.TTKK_New.TrongTai" number-format />
                                </div>
                                <div class="col-sm-6 form-group form-group-sm">
                                    <span>Công xuất xe</span>
                                    <input class="form-control" ng-model="ctrl.data.TTKK_New.CongSuatXe" number-format />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- thông tin ô tô -->
            <!-- thông tin tài sản trên 500 triệu -->
            <div class="row" ng-if="ctrl.data.TaiSan_Old.LoaiKeKhai==4">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin cũ (500 triệu)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset disabled>
                                <div class="row">
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Ký hiệu</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.KyHieuCu"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Hiện trạng sử dụng</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.TenHienTrangSuDungCu"></span>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin đề nghị thay đổi</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_KyHieu?'has-error':''">
                                    <span>Ký hiệu</span>
                                    <input type="text" class="form-control" ng-model="ctrl.data.TTKK_New.KyHieu" ng-keypress="ctrl.action.keyPressTTKK($event)" data-name="TTKK_New_KyHieu" data-next="TTKK_New_HienTrangSuDung" />
                                </div>
                                <div class="col-sm-12 form-group form-group-sm" ng-class="ctrl.error.TTKK_New_HienTrangSuDung?'has-error':''">
                                    <span>Hiện trạng sử dụng<span class="text-danger">&nbsp;*</span></span>
                                    <cbo-hien-trang-su-dung data-value="ctrl.data.TTKK_New.HienTrangSuDung" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/HienTrangSuDung/showview?viewname=cboHienTrangSuDung" data-name="TTKK_New_HienTrangSuDung"></cbo-hien-trang-su-dung>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- thông tin tài sản trên 500 triệu -->
        </div>
        <div class="panel-footer">
            <span ng-if="ctrl.action.checkQuyenTacVu('N')||ctrl.action.checkQuyenTacVu('M')">
                <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.action.save()"><i class="fa fa-fw fa-save"></i>Lưu</button>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="ctrl.action.checkQuyenTacVu('D')">
                <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.removeList()">Xóa</button>&nbsp;&nbsp;&nbsp;
            </span>
            <a type="button" class="btn btn-sm btn-default" href="~/thaydoithongtinkekhai/list"><i class="fa fa-fw fa-arrow-left"></i>Quay lại</a>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/directive/keyboard.directive.js"></script>
    @{Html.RenderPartial("~/views/HienTrangSuDung/cboHienTrangSuDung.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/TaiSan/cboTaiSanKeKhai.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    <script src="~/Scripts/angular/ThayDoiThongTinKeKHai/service/ThayDoiThongTinKeKhaiService.js"></script>
    <script src="~/Scripts/angular/TaiSan/service/TaiSanService.js"></script>
    <script src="~/Scripts/angular/ThayDoiThongTinKeKHai/controller/ThayDoiThongTinKeKhaiEditCtrl.js"></script>
}
