
@{
    ViewBag.Title = "Thay đổi thông tin kê khai";
    ViewBag.userInfo = ViewBag.userInfo ?? "{ }";
}
<div class="container-fluid">
    <div class="panel panel-default" ng-controller="ThayDoiThongTinKeKhaiListCtrl as ctrl" ng-init="ctrl.onInitView({userInfo:@(ViewBag.userInfo),linkUrl:'@(Url.Content("~/thaydoithongtinkekhai/"))'})" keyboard="ctrl.keys">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <span><i class="fa fa-fw fa-star-o"></i>Tài sản</span>
                <div class="pull-right">
                    <form class="form-inline ng-pristine ng-valid">
                        <div class="form-group form-group-sm">
                            <div class="input-group input-group-sm">
                                <input class="form-control" ng-model="ctrl.inputSearch.search" autofocus>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" ng-click="ctrl.action.search()"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel-heading">
            <span ng-if="ctrl.action.checkQuyenTacVu('N')">
                <a class="btn btn-sm btn-primary" href="~/thaydoithongtinkekhai/create">Mới (F2)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <button class="btn btn-sm btn-default" ng-if="ctrl.action.checkQuyenTacVu('D')" ng-click="ctrl.action.removeList()">Xóa chọn</button>
        </div>
        <div class="table-containe panel-body">
            <table class="table table-bordered table-condensed table-responsive table-hover " st-table="ctrl.data.TDTTList" st-pipe="ctrl.action.getPage">
                <thead class="text-primary">
                    <tr>
                        <th class="text-center" style="width:35px;"></th>
                        <th class="text-center" st-sort="{{cot.MaCot}}" style="width:{{cot.DoRong}}px;" ng-repeat="cot in ctrl.data.listCot">
                            <span ng-bind="cot.TenCot"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spinner fa-spin"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="row in ctrl.data.TDTTList" ng-click="ctrl.action.TTKKInfo(row)" ng-class="row.isView?'info':''">
                        <td class="text-center text-primary" st-select-row="row" st-select-mode="" ng-click="ctrl.action.autoCheckAll()">
                            <i class="fa fa-fw" ng-class="row.isSelected ? 'fa-check-square-o':'fa-square-o'"></i>
                        </td>
                        <td ng-repeat="cot in ctrl.data.listCot" ng-switch="cot.MaCot">
                            <a  href="~/thaydoithongtinkekhai/edit/{{row.ThayDoiThongTinId}}" ng-switch-when="Ngay" ng-switch-when-separator="," ng-bind="row[cot.MaCot]|date:'dd/MM/yyyy'"></a>
                            <span ng-switch-default ng-bind="row[cot.MaCot]"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-heading">
            <span>Thông tin chi tiết</span>
        </div>
        <div class="panel-body">
            <!-- thông tin đất -->
            <div class="row" ng-if="ctrl.data.TDTT.LoaiKeKhai==1">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin thay đổi (Đất)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Địa chỉ<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.DiaChi"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Giấy tờ kèm theo</span>
                                        <span style="white-space: pre-wrap; min-height: 30px;" class="form-control auto-height" ng-bind="ctrl.data.TTKK_New.GiayTo"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Diện tích</span>
                                        <span class="form-control"  ng-bind="ctrl.data.TTKK_New.DienTich|number:'':'':2" />
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm TSLV</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.LamTruSo|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Cho thuê</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.ChoThue|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bị lấn chiếm</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.BiLanChiem|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm CSHĐSN<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.CoSoHDSuNghiep|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bỏ trống<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.BoTrong|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Sử dụng khác<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.SuDungKhac|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm nhà ở<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.NhaO|number:'':'':2"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin cũ (Đất)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Địa chỉ<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.DiaChiCu"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Giấy tờ kèm theo</span>
                                        <span style="white-space: pre-wrap; min-height: 30px;" class="form-control auto-height" ng-bind="ctrl.data.TTKK_Old.GiayToCu"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Diện tích</span>
                                        <span class="form-control"  ng-bind="ctrl.data.TTKK_Old.DienTichCu|number:'':'':2" />
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm TSLV</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.LamTruSoCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Cho thuê</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.ChoThueCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bị lấn chiếm</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.BiLanChiemCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm CSHĐSN<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.CoSoHDSuNghiepCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bỏ trống<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.BoTrongCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Sử dụng khác<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.SuDungKhacCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm nhà ở<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.NhaOCu|number:'':'':2"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div><!-- thông tin đất -->
            <!-- thông tin nhà -->
            <div class="row" ng-if="ctrl.data.TDTT.LoaiKeKhai==2">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin thay đổi (Nhà)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset >
                                <div class="row">
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Địa chỉ<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.DiaChi"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Giấy tờ kèm theo</span>
                                        <span style="white-space: pre-wrap; min-height: 30px;" class="form-control auto-height" ng-bind="ctrl.data.TTKK_New.GiayTo"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Diện tích</span>
                                        <span class="form-control"  ng-bind="ctrl.data.TTKK_New.DienTich|number:'':'':2" />
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Tổng diện tích sàn</span>
                                        <span class="form-control"  ng-bind="ctrl.data.TTKK_New.TongDienTichSan|number:'':'':2" />
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm TSLV</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.LamTruSo|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Cho thuê</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.ChoThue|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bị lấn chiếm</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.BiLanChiem|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm CSHĐSN<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.CoSoHDSuNghiep|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bỏ trống<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.BoTrong|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Sử dụng khác<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.SuDungKhac|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm nhà ở<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_New.NhaO|number:'':'':2"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin cũ (Nhà)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset >
                                <div class="row">
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Địa chỉ<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.DiaChiCu"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Giấy tờ kèm theo</span>
                                        <span style="white-space: pre-wrap; min-height: 30px;" class="form-control auto-height" ng-bind="ctrl.data.TTKK_Old.GiayToCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Diện tích</span>
                                        <span class="form-control"  ng-bind="ctrl.data.TTKK_Old.DienTichCu|number:'':'':2" />
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Tổng diện tích sàn</span>
                                        <span class="form-control"  ng-bind="ctrl.data.TTKK_Old.TongDienTichSanCu|number:'':'':2" />
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm TSLV</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.LamTruSoCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Cho thuê</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.ChoThueCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bị lấn chiếm</span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.BiLanChiemCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm CSHĐSN<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.CoSoHDSuNghiepCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Bỏ trống<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.BoTrongCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Sử dụng khác<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.SuDungKhacCu|number:'':'':2"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Làm nhà ở<span class="text-danger">&nbsp;*</span></span>
                                        <span type="text" class="form-control" ng-bind="ctrl.data.TTKK_Old.NhaOCu|number:'':'':2"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div><!-- thông tin nhà -->
            <!-- thông tin ô tô -->
            <div class="row" ng-if="ctrl.data.TDTT.LoaiKeKhai==3">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin thay đổi (Ô tô)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset >
                                <div class="row">
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Nhãn hiệu</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.NhanHieu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Loại xe</span>

                                        <select class="form-control" ng-model="ctrl.data.TTKK_New.LoaiXe">
                                            <option value="1">Xe 1 bánh</option>
                                            <option value="2">Xe lăng</option>
                                            <option value="3">Xe tăng</option>
                                            <option value="4">Xe xích đu</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Chức danh</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.ChucDanh"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Hiện trạng sử dụng</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.TenHienTrangSuDung"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Biển kiểm soát</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.BienKiemSoat"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Nguồn gốc</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.NguonGocXe"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Tải trọng</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.TrongTai|number"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Công xuất xe</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.CongSuatXe|number"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin cũ</span>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Nhãn hiệu</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.NhanHieuCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Loại xe</span>

                                        <select class="form-control" ng-model="ctrl.data.TTKK_Old.LoaiXeCu">
                                            <option value="1">Xe 1 bánh</option>
                                            <option value="2">Xe lăng</option>
                                            <option value="3">Xe tăng</option>
                                            <option value="4">Xe xích đu</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Chức danh</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.ChucDanhCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Hiện trạng sử dụng</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.TenHienTrangSuDungCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Biển kiểm soát</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.BienKiemSoatCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Nguồn gốc</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.NguonGocXeCu"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Tải trọng</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.TrongTaiCu|number"></span>
                                    </div>
                                    <div class="col-sm-6 form-group form-group-sm">
                                        <span>Công xuất xe</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.CongSuatXeCu|number"></span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div><!-- thông tin ô tô -->
            <!-- thông tin trên 500 -->
            <div class="row" ng-if="ctrl.data.TDTT.LoaiKeKhai==4">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin thay đổi (500 triệu)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset >
                                <div class="row">
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Ký hiệu</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.KyHieu"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Hiện trạng sử dụng</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_New.TenHienTrangSuDung"></span>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Thông tin cũ (500 triệu)</span>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Ký hiệu</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.KyHieuCu"></span>
                                    </div>
                                    <div class="col-sm-12 form-group form-group-sm">
                                        <span>Hiện trạng sử dụng</span>
                                        <span class="form-control" ng-bind="ctrl.data.TTKK_Old.TenHienTrangSuDungCu"></span>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div><!-- thông tin trên 500 -->
        </div>
    </div>
</div>

@section ImportStyles{


}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/directive/keyboard.directive.js"></script>
    <script src="~/Scripts/angular/ThayDoiThongTinKeKhai/service/ThayDoiThongTinKeKhaiService.js"></script>
    <script src="~/Scripts/angular/ThayDoiThongTinKeKhai/controller/ThayDoiThongTinKeKhaiListCtrl.js"></script>
    <script src="~/Scripts/angular/TaiSan/service/TaiSanService.js"></script>
}
