
@{
    ViewBag.Title = "Bảng Lương Chi Tiết";
}


<div class="container-fluid" ng-controller="BangLuongChiTietListCtrl as ctrl" ng-init="ctrl.onInitView({loadListCot:true,userInfo: @ViewBag.userInfo,showList:true,nhanVienId:'@(ViewBag.id)' })">
    <div class="panel panel-default hidden-print">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <span><i class="fa fa-fw fa-star-o no-margin"></i>Bảng lương nhân viên chi tiết</span>
                <div class="btn-group btn-group-sm pull-right">
                    <a class="btn btn-primary" data-toggle="collapse" data-target="#panelTimkiemCollapse"><i class="fa fa-fw fa-search"></i>Tìn kiếm</a>
                    <a class="btn btn-warning" data-toggle="collapse" data-target="#TuyChonCotPopup"><i class="fa fa-fw fa-cog"></i>Tùy chọn</a>
                </div>
            </div>
        </div>
        <div class="collapse fade" id="panelTimkiemCollapse">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row form-group form-group-sm">
                        <label for="txtNhanVien" class="control-label col-sm-2">Ngày</label>
                        <div class="form-inline col-sm-10">
                            <input type="text" id="txtTuNgay" class="form-control datetimepicker date" placeholder="__/__/____" />
                            <span>~</span>
                            <input type="text" id="txtDenNgay" class="form-control datetimepicker date" placeholder="__/__/____" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <a class="btn btn-sm btn-primary" ng-click="ctrl.action.search()">Tìm kiếm (F8)</a> &nbsp;&nbsp;&nbsp;
                <a class="btn btn-sm btn-default" ng-click="ctrl.action.reset()">Thiết lặp lại</a>
            </div>
        </div>
    </div>
    <!-- panel Danh sách Bảng Lương -->
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h4><i>{{ctrl.data.HoTen}}</i></h4>
            </div>
            <div class="table-responsive" ng-if="ctrl.data.showList">
                <table class="table table-bordered table-condensed table-responsive table-hover " st-table="ctrl.data.listBangLuongCaNhan" st-pipe="ctrl.action.initSearch">
                    <thead class="bg-default text-primary">
                        <tr>
                            <th class="text-center" st-sort="{{cot.MaCot}}" ng-repeat="cot in ctrl.data.listCot|filter:cot.HienThiYN=true" ng-bind="::cot.TenCot"></th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="bangluong in ctrl.data.listBangLuong" ng-class="(bangluong.isSelected==true)?'info':''">
                            <td ng-repeat="cot in ctrl.data.listCot|filter:cot.HienThiYN=true" ng-switch="cot.MaCot" ng-class="cot.MaCot=='TongThuNhap  '||cot.MaCot=='CacKhoanKhauTru'||cot.MaCot=='ThucLanh'?'text-right':''">
                                <a href="javascript:void(0)" ng-click="ctrl.action.XemBangLuong(bangluong)" ng-switch-when="TenBangLuong" ng-bind="::bangluong[cot.MaCot]"></a>
                                <span ng-switch-default ng-bind="bangluong[cot.MaCot]"></span>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100" class="text-center hidden-print">
                                <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>
        <div class="panel-footer hidden-print">
            <a class="btn btn-sm btn-default" href="~/BangLuongCaNhan/List" ng-if="ctrl.data.QuayLai">Quay lại</a>
        </div>
        </div>
    <!-- /panel danh sách Bảng Lương -->
    <!-- popup danh sách tùy chọn cột -->
    <div class="panel panel-primary ui-draggable collapse fade" id="TuyChonCotPopup" ng-controller="TuyChonCotListCtrl as ctrl" ng-init="ctrl.onInitView({controllerId:'BangLuongChiTietListCtrl',MaForm:'FL0006'})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span>Tùy chọn cột</span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#TuyChonCotPopup"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        <div class="table-responsive" style="width: 400px; height: auto;" ng-if="ctrl.data.showList">
            <table class="table table-bordered table-condensed table-hover table-striped" st-table="ctrl.data.listCot">
                <thead>
                    <tr>
                        <th style="width: 65px;">Hiện/ẩn</th>
                        <th>Tên cột</th>
                        <th>Độ rộng</th>
                    </tr>
                </thead>
                <tbody style="height:100px;">
                    <tr ng-repeat="cot in ctrl.data.listCot" ng-class="(cot.isSelected==true)?'info':''" ng-init="cot.isSelected=cot.HienThiYN">
                        <td st-select-row="cot" st-select-mode="multiple" class="text-center"><i class="fa fa-fw text-primary" ng-class="(cot.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td><span ng-bind="cot.TenCot"></span></td>
                        <td><span ng-bind="cot.DoRong"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</a>
            <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#TuyChonCotPopup">Đóng</a>
        </div>
    </div>
    <!-- / popup danh sách tùy chọn cột -->
    <div class="panel panel-primary ui-draggable collapse fade" id="BangLuongChiTietPopup">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span>Chi tiết bảng lương</span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#BangLuongChiTietPopup"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        <div class="table-responsive panel-body" style="width: auto; height: 550px;" >
            <img src="~/lib/images/header.jpg" />
            <table class="table table-bordered table-condensed table-hover table-striped" id="BangLuongChiTiet">
               
            </table>
        </div>
      
    </div>
</div>

@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{

    <!-- Bang Luong controller -->
    <script src="~/Scripts/angular/BangLuongCaNhan/ChiTiet/BangLuongChiTietListCtrl.js"></script>
    <script src="~/Scripts/angular/BangLuongCaNhan/Service/BangLuongCaNhanService.js"></script>
<script src="~/Scripts/angular/TuyChonFormCot/controller/TuyChonCotListCtrl.js"></script>
<script src="~/Scripts/angular/TuyChonFormCot/service/TuyChonCotService.js"></script>
    <!-- Utility -->
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>

}

