
@{
    ViewBag.Title = "List";
    ViewBag.userInfo = ViewBag.userInfo ?? "{}";
}
@if (ViewBag.Html != null && (bool)ViewBag.Html == true)
{
    <div class="container-fluid" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})" keyboard="ctrl.keys">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center no-margin">Danh sách người dùng</h3>
                <a ng-click="ctrl.status.openTuyChonCotPopup = !ctrl.status.openTuyChonCotPopup">Tùy chọn cột</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed  table-hover " st-table="ctrl.data.listNguoiDung" st-pipe="ctrl.action.getPage">
                    <thead class="bg-default text-primary">
                        <tr>
                            <th class="text-center" style="width:35px;" ng-click="ctrl.action.checkAll()">
                                <i class="fa fa-fw" ng-class="ctrl.status.isSelectedAll ? 'fa-check-square-o':'fa-square-o'"></i>
                            </th>
                            <th class="text-center"
                                style="width:{{cot.DoRong}}px;"
                                st-sort="{{cot.MaCot}}"
                                ng-repeat="cot in ctrl.data.listCot|filter:ctrl.action.checkCot">
                                <span ng-bind="cot.TenCot"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="ctrl.data.error.code>0">
                            <td colspan="100" class="text-center danger" ng-bind="ctrl.data.error.message"></td>
                        </tr>
                        <tr ng-repeat="nguoidung in ctrl.data.listNguoiDung">
                            <td class="text-center text-primary" st-select-row="nguoidung" st-select-mode="multiple" ng-click="ctrl.action.autoCheckAll()">
                                <i class="fa fa-fw" ng-class="nguoidung.isSelected ? 'fa-check-square-o':'fa-square-o'"></i>
                            </td>
                            <td ng-repeat="cot in ctrl.data.listCot|filter:ctrl.action.checkCot" ng-switch="cot.MaCot">
                                <a ng-switch-when="MaNguoiDung,HoTen" ng-switch-when-separator="," href="javascript:void(0)" ng-click="ctrl.action.xemNguoiDung(nguoidung.NguoiDungId)" ng-bind="nguoidung[cot.MaCot]"></a>
                                <span ng-switch-default ng-bind="nguoidung[cot.MaCot]"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100" class="text-center hidden-print">
                                <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="panel-footer hidden-print">
                <span ng-if="ctrl.action.checkQuyenTacVu('N')">
                    @*<a class="btn btn-sm btn-primary" href="~/#!/nguoidung/edit/0"><i class="fa fa-plus"></i> Mới (F2)</a>*@&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-sm btn-primary" ng-click="ctrl.action.xemNguoiDung(0)" href="javascript:void(0)"><i class="fa fa-plus"></i> Mới (F2)</a>&nbsp;&nbsp;&nbsp;
                </span>
                <span ng-if="ctrl.action.checkQuyenTacVu('D')">
                    <button class="btn btn-sm btn-danger" ng-click="ctrl.action.deleteSelected('')"><i class="fa fa-trash-o"></i> Xóa chọn</button>
                </span>
            </div>
        </div>

        <div class="panel panel-primary ui-draggable collapse fade" id="NguoiDungEditPopup">
            <div class="panel-heading ui-draggable-handle">
                <div class="panel-title">
                    <span>Người dùng</span>
                    <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#NguoiDungEditPopup"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <div style="width: 600px; padding-top: 15px;padding-right: 50px;">
                <form class="form-horizontal">
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidMaNguoiDung}">
                        <label class="control-label col-sm-3">Mã người dùng</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtMaNguoiDung" ng-model="ctrl.data.objNguoiDung.MaNguoiDung" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.MaNguoiDung,'txtMaNguoiDung','txtTenNguoiDung',$event)" />
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidTenNguoiDung}">
                        <label class="control-label col-sm-3">Họ tên</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtTenNguoiDung" ng-model="ctrl.data.objNguoiDung.HoTen" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.HoTen,'txtTenNguoiDung','popVaiTro',$event)" />
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidVaiTro}">
                        <label for="" class="control-label col-sm-3">Vai trò</label>
                        <div class="col-sm-9">
                            <cbo-vai-tro id="cbxVaiTro" data-value="ctrl.data.objNguoiDung.VaiTroId" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/vaitro/showcombobox?viewname=cbovaitro"></cbo-vai-tro>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-3">Nhân viên</label>
                        <div class="col-sm-9">
                            <cbo-nhan-vien-by-phong-ban id="cbxNhanVien{{$index}}" data-value="ctrl.data.objNguoiDung.NhanVienId" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/nhanvien/showcombobox?viewname=cbonhanvienbyphongban"
                            ></cbo-nhan-vien-by-phong-ban>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidEmail}">
                        <label class="control-label col-sm-3">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="txtEmail" ng-model="ctrl.data.objNguoiDung.Email" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.Email,'txtEmail','txtPassword',$event)" />
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidPassword}">
                        <label class="control-label col-sm-3">Password</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtPassword" ng-model="ctrl.data.objNguoiDung.PasswordHash" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.PasswordHash,'txtPassword','txtDienThoai',$event)" />
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-3">Điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtDienThoai" ng-model="ctrl.data.objNguoiDung.DienThoai" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.DienThoai,'txtDienThoai','btnluu',$event)" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <span ng-if="ctrl.action.checkQuyenTacVu('N')||ctrl.action.checkQuyenTacVu('M')">
                    <button type="button" class="btn btn-sm btn-primary" id="btnluu" ng-click="ctrl.action.save()"><i class="fa fa-save"></i> Lưu (F8)</button>&nbsp;&nbsp;&nbsp;
                </span>
                @*<span ng-if="ctrl.action.checkQuyenTacVu('D') && ctrl.status.isEdit">
                        <button type="button" id="btnXoaId" class="btn btn-sm btn-default" ng-click="ctrlList.action.deleteSelected(ctrl.data.objNguoiDung.NguoiDungId)">Xóa</button>&nbsp;&nbsp;&nbsp;
                    </span>*@
                <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.refresh()">Thiết lập lại</button>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#NguoiDungEditPopup">Đóng</a>&nbsp;&nbsp;&nbsp;
            </div>

        </div>

        <tuy-chon-cot-list maform="FL001" config="{ctrlId:'TuyChonCotPopup'}" isopen="ctrl.status.openTuyChonCotPopup"
                           template-url="~/nguoidung/showcombobox?viewname=TuyChonCotList"></tuy-chon-cot-list>
    </div>
    <div ui-view></div>
}
else if (ViewBag.ImportStyles != null && (bool)ViewBag.ImportStyles == true) { }
else if (ViewBag.SetupStyles != null && (bool)ViewBag.SetupStyles == true) { }
else if (ViewBag.ImportScripts != null && (bool)ViewBag.ImportScripts == true) { }
else if (ViewBag.SetupScripts != null && (bool)ViewBag.SetupScripts == true) { }
else if (ViewBag.ImportAngular != null && (bool)ViewBag.ImportAngular == true) { }
