
@if (ViewBag.Html != null && (bool)ViewBag.Html == true)
{
    <ui-select ng-model="ctrl.data.DuAn"  data-ng-disabled="disabled" on-select="ctrl.action.onSelected()" theme="bootstrap" id="{{ctrl.NameId}}" data-name="{{ctrl.NameId}}">
        <ui-select-match placeholder="{{$select.selected.TenDuAn || 'Chọn dự án'}}">{{$select.selected.TenDuAn}}</ui-select-match>
        <ui-select-choices repeat="item in ctrl.data.DuAnListDisplay | filter: $select.search" @*refresh="ctrl.action.search($select)" refresh-delay="500"*@>
            <span ng-bind-html="item.TenDuAn | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
   
}
else if (ViewBag.ImportStyles != null && (bool)ViewBag.ImportStyles == true)
{
}
else if (ViewBag.SetupStyles != null && (bool)ViewBag.SetupStyles == true) { }
else if (ViewBag.ImportScripts != null && (bool)ViewBag.ImportScripts == true) { }
else if (ViewBag.SetupScripts != null && (bool)ViewBag.SetupScripts == true) { }
else if (ViewBag.ImportAngular != null && (bool)ViewBag.ImportAngular == true)
{
    <script src="~/Scripts/angular/DuAn/directive/cboDuAn.js"></script>
    <script src="~/Scripts/angular/DuAn/service/DuAnService.js"></script>
}
