
@{
    ViewBag.Title = "Khai báo tồn kho";
}
<div class="container-fluid">

    <div ng-controller="KhoTonKhoListCtrl as ctrl" class="panel panel-default" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <span><i class="fa fa-fw fa-star-o"></i>Khai báo tồn kho</span>
                <div class="pull-right">
                    <form class="form-inline">
                        <div class="form-group form-group-sm">
                            <div class="input-group input-group-sm">
                                <input class="form-control" id="txtsearch" ng-model="ctrl.data.searchString" ng-keypress="$event.keyCode===13?ctrl.action.getPage():0" autofocus />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" ng-click="ctrl.action.getPage()"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</button>

                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <button class="btn btn-sm btn-primary" ng-if="ctrl.data.showButtonNew" ng-click="ctrl.action.add()"><i class="fa fa-plus"></i> Mới (F2)</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-sm btn-danger" ng-if="ctrl.data.showButtonXoaChon && ctrl.data.RowChecked" ng-click="ctrl.action.deleteSelected()"><i class="fa fa-trash-o"></i> Xóa chọn</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="table-container panel-body"> 
            <table st-table="ctrl.data.KhoTonKhoList" st-pipe="ctrl.action.getPage" class="table table-bordered table-condensed table-responsive table-hover ">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="width: 50px;">Chọn</th>
                        <th class="text-center" style="width: 100px;" st-sort="Nam">Tháng năm</th>
                        <th class="text-center" st-sort="TenKhoTaiSan">Tên kho</th>
                        <th class="text-center" style="width: 150px;" st-sort="NgayTao">Ngày tạo</th>
                        <th class="text-center" style="width: 150px;" st-sort="HoTen">Người tạo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="KhoTonKho in ctrl.data.KhoTonKhoList" ng-click="ctrl.action.getPageChiTiet(KhoTonKho.MuaSamId)" id="row_{{KhoTonKho.MuaSamId}}" ng-class="(KhoTonKho.isSelected==true)?'info':''">
                        <td st-select-row="KhoTonKho" st-select-mode="multiple" ng-click="ctrl.action.CheckRow()" class="text-center"><i class="fa fa-fw text-primary" ng-class="(KhoTonKho.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td><a ng-bind="KhoTonKho.ThangNam" href="~/KhoTonKho/edit/{{KhoTonKho.ThangNam}}-{{KhoTonKho.KhoTaiSanId}}"></a></td>
                        <td><a ng-bind="KhoTonKho.TenKhoTaiSan" href="~/KhoTonKho/edit/{{KhoTonKho.ThangNam}}-{{KhoTonKho.KhoTaiSanId}}"></a></td>
                       
                        <td><span> {{ KhoTonKho.NgayTao | date : 'dd/MM/yyyy HH:mm'}} </span></td>
                        <td>
                            <span ng-bind="KhoTonKho.HoTen"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel panel-primary ui-draggable collapse fade" id="KhoTonKhoEditPopup" >
            <div class="panel-heading ui-draggable-handle">
                <h2 class="panel-title">
                    <span>Chọn kho</span>
                    <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#KhoTonKhoEditPopup" ng-click="ctrl.action.close()">
                        <i class="fa fa-remove"></i>
                    </a>
                    <i class="fa fa-fw fa-pulse text-primary pull-right fa-spinner" ng-if="ctrl.status.isLoading"></i>
                </h2>
            </div>
            <div style="width: 400px; padding-top: 15px;">
                <form class="form-horizontal">
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-3">Tháng</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="txtThang" style="padding:0px 10px" data-placeholder="Chọn tháng" ng-model="ctrl.data.objThongTin.Thang">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                
                            </select>
                        </div>
                        <label class="control-label col-sm-1">Năm</label>
                        <div class="col-sm-3">
                                <select class="form-control" id="txtNam" style="padding:0px 10px" data-placeholder="Chọn năm" ng-model="ctrl.data.objThongTin.Nam">
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                </select>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-3">Kho</label>
                        <div class="col-sm-7">
                            <cbo-kho-tai-san id="cbxKho" data-function-code="CN0044" data-khotaisanid="ctrl.data.objThongTin.KhoTaiSanId" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/khotaisan/showview?viewname=cboKhoTaiSan"></cbo-kho-tai-san>
                        </div>
                    </div>
                   
                </form>
            </div>
            <div class="panel-footer text-center" >
                <button type="button" class="btn btn-sm btn-primary" id="btnluu" ng-click="ctrl.action.DongY()"><i class="fa fa-check"></i> Đồng ý</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.close()">Đóng</button>
            </div>
        </div>
    </div>

</div>


@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/KhoTonKho/service/KhoTonKhoService.js"></script>
    <script src="~/Scripts/angular/KhoTonKho/controller/KhoTonKhoListCtrl.js"></script>
    @{Html.RenderPartial("~/views/KhoTaiSan/cboKhoTaiSan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
}




