
<div class="bottom inner" style="opacity: 1; background-color: #0082c9; ">
    <div class="copyright inner">
        <p>© 2016 <strong>SONG AN</strong>. ALL RIGHTS RESERVED. DEVELOPED BY SONGAN</p>
        <p class="hotline-bee" style="color:white">
            Hotline: @Helper.GetData().HotLine
        </p>
    </div>
</div>
<style>
    img {
        width: 100% !important;
    }
</style>