
@{
    ViewBag.Title = "List";
}
<div class="container-fluid">
    <div class="panel panel-default" ng-controller="PhanQuyenListCtrl as Ctrl" ng-init="Ctrl.onInitView({userInfo: @ViewBag.userInfo})">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                <i class="fa fa-fw fa-star-o"></i>
                <span>Phân quyền vai trò</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-heading">
                <div class="row form-group form-group-sm">
                    <div class="col-sm-1"></div>
                        <label for="txtKhachHang" class="control-label col-sm-1">Vai trò</label>
                        <div class="col-sm-5">
                            <div class="form-control auto-height">

                                <a class="pull-right" href="javascript:void(0);" ng-click="Ctrl.action.clearListVaiTro()"><i class="fa fa-fw fa-remove"></i></a>
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#VaiTroListPopup">
                                    <div>
                                        <i class="fa fa-fw fa-search"></i>

                                        <span class="" style="margin-right: 5px;" ng-bind="vt.TenVaiTro+','" ng-repeat="vt in Ctrl.data.listVaiTro"></span>
                                    </div>

                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- popup danh sách vai tro -->
        <div class="panel panel-primary hidden-print collapse fade ui-draggable" ng-controller="VaiTroListCtrl as ctrl" id="VaiTroListPopup">
            <div class="panel-heading ui-draggable-handle">
                <div class="panel-title">
                    <span>Danh sách vai trò</span>
                    <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#VaiTroListPopup"><i class="fa fa-remove"></i></a>
                </div>
            </div>
            <div class="panel-body" style="width:auto;height:auto;">
                <form class="form-inline pull-right">
                    <div class="form-group form-group-sm">
                        <span><i class="fa fa-fw fa-star-o"></i>Tìm kiếm vai trò</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <input name="txtTimKiem" type="text" class="form-control" ng-model="search" ng-keypress="$event.keyCode===13?ctrl.action.find(search):0" autofocus />
                        <a class="btn btn-sm btn-primary" ng-click="ctrl.action.find(search)"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</a>
                    </div>
                </form>
            </div>
            <div id="tableToExport" class="list-margin panel-body" style="height:400px">
                <table st-table="displayed" st-safe-src="ctrl.data.dsVaiTro" class="table table-bordered table-condensed table-hover table-responsive ">
                    <thead class="panel-footer">
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center" st-sort="MaVaiTro">Mã</th>
                            <th class="text-center" st-sort="TenVaiTro">Tên</th>
                        </tr>
                    </thead>
                    <tbody ng-if="!ctrl.status.isLoadingList">
                        <tr ng-repeat="vaitro in displayed">
                            <td class="text-primary text-center" st-select-row="vaitro" st-select-mode="single"><i class="fa fa-fw" ng-class="vaitro.isSelected==true?'fa-check-square-o':'fa-square-o'"></i></td>
                            <td>
                                <a href="javascript:void(0);" data-toggle="collapse" data-target="#popupThemNguoiDung" ng-click="ctrl.action.edit(vaitro.VaiTroId)" ng-bind="vaitro.MaVaiTro"></a>
                            </td>
                            <td ng-bind="vaitro.TenVaiTro"></td>
                        </tr>
                    </tbody>
                </table>
                <span ng-if="ctrl.status.isLoadingList">Đang tải</span>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</button>
                <button class="btn btn-sm btn-default" data-toggle="collapse" data-target="#VaiTroListPopup">Đóng</button>
            </div>
        </div><!-- /popup danh sách vai tro -->
        <div class="table-container">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                            <thead class="text-primary">
                                <tr>

                                    <th class="text-center">Danh sách chức năng</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="span3">
                                            <div class="well">
                                                <div>
                                                    <ul class="nav nav-list nav-menu-list-style" id="DSChucNang"></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .no-padding {
        padding: 0px;
    }

    .glyphicon-icon-rpad .glyphicon, .glyphicon-icon-rpad .glyphicon.m8, .fa-icon-rpad .fa, .fa-icon-rpad .fa.m8 {
        padding-right: 8px;
    }

    .glyphicon-icon-lpad .glyphicon, .glyphicon-icon-lpad .glyphicon.m8, .fa-icon-lpad .fa, .fa-icon-lpad .fa.m8 {
        padding-left: 8px;
    }

    .glyphicon-icon-rpad .glyphicon.m5, .fa-icon-rpad .fa.m5 {
        padding-right: 5px;
    }

    .glyphicon-icon-lpad .glyphicon.m5, .fa-icon-lpad .fa.m5 {
        padding-left: 5px;
    }

    .glyphicon-icon-rpad .glyphicon.m12, .fa-icon-rpad .fa.m12 {
        padding-right: 12px;
    }

    .glyphicon-icon-lpad .glyphicon.m12, .fa-icon-lpad .fa.m12 {
        padding-left: 12px;
    }

    .glyphicon-icon-rpad .glyphicon.m15, .fa-icon-rpad .fa.m15 {
        padding-right: 15px;
    }

    .glyphicon-icon-lpad .glyphicon.m15, .fa-icon-lpad .fa.m15 {
        padding-left: 15px;
    }



    ul.nav-menu-list-style .nav-header .menu-collapsible-icon {
        position: absolute;
        right: 3px;
        top: 16px;
        font-size: 9px;
    }



    ul.nav-menu-list-style {
        margin: 0;
    }

        ul.nav-menu-list-style .nav-header {
            border-top: 1px solid #FFFFFF;
            border-bottom: 1px solid #e8e8e8;
            display: block;
            margin: 0;
            line-height: 42px;
            padding: 0 8px;
            font-weight: 600;
            font-size: 15px;
        }

        ul.nav-menu-list-style > li {
            position: relative;
        }

            ul.nav-menu-list-style > li a {
                border-top: 1px solid #FFFFFF;
                border-bottom: 1px solid #e8e8e8;
                padding: 0 10px;
                line-height: 32px;
            }

            ul.nav-menu-list-style > li:first-child a {
            }


    ul.nav-menu-list-style {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        ul.nav-menu-list-style li .badge, ul.nav-menu-list-style li .pull-right, ul.nav-menu-list-style li span.badge, ul.nav-menu-list-style li label.badge {
            float: right;
            margin-top: 7px;
        }

    ul.bullets {
        list-style: inside disc;
    }

    ul.numerics {
        list-style: inside decimal;
    }

    .ul.kas-icon-aero {
    }

    ul.kas-icon-aero li a:before {
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        content: "\e258";
        padding-right: 8px;
    }
</style>
@section ImportScripts{

}
@section SetupScripts{}
@section ImportAngular{

    <script type="text/javascript">
        $('.tree-toggle').click(function () {
            $(this).parent().children('ul.tree').hide('blind', 200);
        });


        function UpdateQuyen(check, DSQuyen, ChucNangId, VaiTroId) {
            var dsQuyenTacVu = "";
            var chucNang = "";
            var DSQuyenTacVu = $(check).parent().parent().data('quyen');
            addloadding($('body'));
            var quyen = "";
            if ((dsQuyenTacVu == "" && DSQuyenTacVu) || (chucNang != ChucNangId && DSQuyenTacVu)) dsQuyenTacVu = DSQuyenTacVu;
            var arrDSQuyen = DSQuyen.split(",");
            dsQuyenTacVu = $(check).is(":checked") ? dsQuyenTacVu + "," + $(check).val() : dsQuyenTacVu.replace($(check).val(), "");
            var arrDSQuyenTacVu = dsQuyenTacVu.split(",");
            for (var j = 0; j < arrDSQuyen.length; j++)
                for (var k = 0; k < arrDSQuyenTacVu.length; k++) {
                    if (arrDSQuyenTacVu[k] == arrDSQuyen[j])
                        quyen = quyen + arrDSQuyen[j] + ",";
                }
            $(check).parent().parent().data('quyen', quyen);
            dsQuyenTacVu = quyen;
            chucNang = ChucNangId;
            $.ajax({
                type: "POST",
                url: window.API_BASE + 'Api.QLTS/QuyenTacVu/UpdateQuyenTacVu',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' },
                data: $.param({
                    VaiTroId: VaiTroId,
                    ChucNangId: ChucNangId,
                    DSQuyenTacVu: quyen.substring(0, quyen.length - 1),
                }), error: function (msg) {
                    console.log(msg)
                },
                success: function (msg) {
                    if (msg.data.ChucNangId > 0) removeloadding($('body'));
                }
            });
        }
        function addloadding(obj) {
            $(obj).append('<div id="bgloadding"><div class="windows8"><div class="wBall" id="wBall_1"><div class="wInnerBall"></div></div><div class="wBall" id="wBall_2"><div class="wInnerBall"></div></div><div class="wBall" id="wBall_3"><div class="wInnerBall"></div></div><div class="wBall" id="wBall_4"><div class="wInnerBall"></div></div><div class="wBall" id="wBall_5"><div class="wInnerBall"></div></div></div></div>');
        }
        function removeloadding(obj) {
            $('#bgloadding').remove();
        }
    </script>
    <script src="~/Scripts/angular/VaiTro/controller/VaiTroListCtrl.js"></script>
    <script src="~/Scripts/angular/VaiTro/service/VaiTroService.js"></script>
    <script src="~/Scripts/angular/PhanQuyen/service/PhanQuyenService.js"></script>
    <script src="~/Scripts/angular/PhanQuyen/controller/PhanQuyenListCtrl.js"></script>
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/service/ExcelExport.js"></script>
}
