@*
thử nghiệm tại phiếu công tác list và edit    
*@
@if (ViewBag.Html != null && (bool)ViewBag.Html == true)
{
        <!-- popup danh sách nhân viên -->
    <div class="panel panel-primary ui-draggable collapse fade hidden-print" id="{{ctrl.controllerId}}" ng-controller="NhanVienListCtrl as ctrl" ng-init="ctrl.onInitView(@(ViewBag.onInitView))">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title clearfix">
                <span><i class="fa fa-fw fa-star-o"></i><span ng-bind="::ctrl.title"></span></span>
                <a class="btn btn-xs btn-primary pull-right" ng-click="ctrl.action.close()"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        <div class="panel-body" style="width:auto;height:auto;">
            <form class="form-inline">
                <div class="form-group form-group-sm">
                    <span><i class="fa fa-fw fa-star-o"></i>Tìm kiếm nhân viên</span>
                </div>
                <div class="form-group form-group-sm">
                    <div class="input-group input-group-sm">
                        <input class="form-control" ng-model="ctrl.data.inputSearch.searchString" autofocus />
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.search()"><i class="fa fa-fw fa-search"></i>Tìm kiếm</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive" style="width:auto; height: 400px;" ng-if="ctrl.data.showList">
            <table class="table table-bordered table-condensed table-hover table-responsive table-striped" st-table="ctrl.data.listNhanVien" st-pipe="ctrl.action.getPage">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 50px;"></th>
                        <th class="text-center" ng-repeat="cot in ctrl.data.listCot|filter:cot.HienThiYN=true" ng-bind="::cot.TenCot"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.data.isLoading">
                        <td colspan="100" class="text-center info">
                            <i class="fa fa-fw fa-spinner fa-pulse"></i>
                        </td>
                    </tr>
                    <tr ng-if="ctrl.data.error.code>0">
                        <td colspan="100" class="text-center danger" ng-bind="ctrl.data.error.message"></td>
                    </tr>
                    <tr ng-repeat="nhanvien in ctrl.data.listNhanVien" ng-class="(nhanvien.isSelected==true)?'info':''">
                        <td class="text-primary text-center" st-select-row="nhanvien" st-select-mode="{{ctrl.data.selectMode}}"><i class="fa fa-fw" ng-class="nhanvien.isSelected==true?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td ng-repeat="cot in ctrl.data.listCot|filter:cot.HienThiYN=true" ng-switch="cot.MaCot">
                            <a href="javascript:void(0)" ng-click="ctrl.action.xemNhanVien(nhanvien.NhanVienId)" ng-switch-when="Ten" ng-bind="::nhanvien['Ho']+' '+nhanvien[cot.MaCot]"></a>
                            <a href="javascript:void(0)" ng-click="ctrl.action.xemNhanVien(nhanvien.NhanVienId)" ng-switch-when="Ma" ng-bind="::nhanvien[cot.MaCot]"></a>
                            <span ng-switch-when="NgayTuyenDung" ng-bind="ctrl.action.convertDateFormat(nhanvien[cot.MaCot],'YYYY-MM-DD','DD/MM/YYYY')"></span>
                            <span ng-switch-default ng-bind="::nhanvien[cot.MaCot]"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center hidden-print">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer hidden-print">
            <a class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</a>
            <a class="btn btn-sm btn-default"  ng-click="ctrl.action.close()">Đóng</a>
        </div>
    </div><!-- /popup danh sách nhân viên -->
}
else if (ViewBag.ImportStyles != null && (bool)ViewBag.ImportStyles == true) { }
else if (ViewBag.SetupStyles != null && (bool)ViewBag.SetupStyles == true) { }
else if (ViewBag.ImportScripts != null && (bool)ViewBag.ImportScripts == true) { }
else if (ViewBag.SetupScripts != null && (bool)ViewBag.SetupScripts == true) { }
else if (ViewBag.ImportAngular != null && (bool)ViewBag.ImportAngular == true)
{
    <script src="~/Scripts/angular/NhanVien/List/controller/NhanVienListPopupCtrl.js"></script>
    <script src="~/Scripts/angular/NhanVien/List/service/NhanVienService.js"></script>
}


