USE [MSSQL_QLDN_QLNS]
GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienDuAn_DeleteOne]    Script Date: 05/24/2017 10:15:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- Stored procedure generated by CodeTrigger
-- This script was generated on 3/26/2017 9:09:15 PM
------------------------------------------------------------
ALTER PROCEDURE [dbo].[sp_NhanVienDuAn_DeleteOne]
@DuAnId int
AS
-- delete all matching from the table
DELETE [dbo].[NhanVienDuAn]
WHERE 
[DuAnId] = @DuAnId
select @@ROWCOUNT
