
@{
    ViewBag.Title = "Kế hoạch mua sắm";
}
<div class="container-fluid">

    <div ng-controller="DuyetMuaListCtrl as ctrl" class="panel panel-default" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <span><i class="fa fa-fw fa-star-o"></i>Duyệt kế hoạch mua sắm</span>
                <div class="pull-right">
                    <form class="form-inline">
                        <div class="form-group form-group-sm">
                            <div class="input-group input-group-sm">
                                <input class="form-control" id="txtsearch" ng-model="ctrl.data.searchString" ng-keypress="$event.keyCode===13?ctrl.action.getPage():0" autofocus />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" ng-click="ctrl.action.getPage()"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</button>

                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="panel-heading" style="height: 51px;">
            <span ng-if="ctrl.data.showButtonDuyet && ctrl.data.RowChecked">
                <a class="btn btn-sm btn-primary" ng-click="ctrl.action.DongY()"><i class="fa fa-check" aria-hidden="true"></i> Duyệt</a>&nbsp;&nbsp;&nbsp;
            </span>
            <button ng-if="ctrl.data.showButtonDuyet && ctrl.data.RowChecked" class="btn btn-sm btn-default" ng-click="ctrl.action.OpenTuChoi()">Từ chối</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div style="float:right">
                <label class="radio-inline">
                    <input style="margin-right: 5px;" type="radio" ng-checked="true" ng-click="ctrl.action.GetPageByDuyetId('0')" value="1" name="Loai" class="ng-pristine ng-untouched ng-valid ng-not-empty"><span>Chưa duyệt</span>
                </label>
                <label class="radio-inline">
                    <input style="margin-right: 5px;" type="radio" value="2" name="Loai" ng-click="ctrl.action.GetPageByDuyetId('1,2')" class="ng-pristine ng-untouched ng-valid ng-not-empty"><span>Đã duyệt</span>
                </label>
                <label class="radio-inline">
                    <input style="margin-right: 5px;" type="radio" value="3" name="Loai" ng-click="ctrl.action.GetPageByDuyetId('')" class="ng-pristine ng-untouched ng-valid ng-not-empty"><span>Tất cả</span>
                </label>
            </div>
        </div>
        <div class="table-container panel-body"> 
            <table st-table="ctrl.data.DuyetMuaList" st-pipe="ctrl.action.getPage" class="table table-bordered table-condensed table-responsive table-hover ">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="width: 50px;">Chọn</th>
                        <th class="text-center" style="width: 200px;" st-sort="TenCoSo">Cơ sở đề nghị</th>
                        <th class="text-center" style="width: 100px;" st-sort="Nam">Năm</th>
                        <th class="text-center" st-sort="NoiDung">Nội dung</th>
                        <th class="text-center" style="width: 100px;" st-sort="NgayTao">Ngày gửi</th>
                        <th class="text-center" style="width: 130px;" st-sort="TenNhanVien">Người gửi</th>
                        <th class="text-center"  style="width: 150px;" st-sort="TrangThai">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="DuyetMua in ctrl.data.DuyetMuaList" ng-click="ctrl.action.getPageChiTiet(DuyetMua.MuaSamId)" id="row_{{DuyetMua.MuaSamId}}" ng-class="(DuyetMua.isSelected==true)?'info':''">
                        <td st-select-row="DuyetMua" st-select-mode="single" ng-click="ctrl.action.CheckRow(DuyetMua.DuyetId!='0'?false:true)" class="text-center"><i class="fa fa-fw text-primary" ng-class="(DuyetMua.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td>
                            <span ng-bind="DuyetMua.TenCoSo"></span>
                        </td>
                        <td><a ng-bind="DuyetMua.Nam" href="~/KeHoachMuaSam/edit/{{DuyetMua.MuaSamId}}"></a></td>
                        <td><a ng-bind="DuyetMua.NoiDung" href="~/KeHoachMuaSam/edit/{{DuyetMua.MuaSamId}}"></a></td>
                        <td>
                            <span>{{ DuyetMua.NgayTao | date : 'dd/MM/yyyy'}}</span>
                        </td>
                        <td>
                            <span ng-bind="DuyetMua.TenNhanVien"></span>
                        </td>
                        <td ng-if="DuyetMua.DuyetId==0" style="padding-left: 3.5%;">
                            <span class="form-control label label-warning" ng-bind="DuyetMua.TrangThai"></span>

                        </td>
                        <td ng-if="DuyetMua.DuyetId==1" style="padding-left: 3.5%;">
                            <span class="form-control label label-success" ng-if="DuyetMua.DuyetId==1" ng-bind="DuyetMua.TrangThai"></span>
                        </td>
                        <td ng-if="DuyetMua.DuyetId==2" style="padding-left: 3.5%;">
                            <span class="form-control label label-danger" ng-if="DuyetMua.DuyetId==2" ng-bind="DuyetMua.TrangThai"></span> <i class="fa fa-question-circle-o" ng-if="DuyetMua.NoiDungDuyet ? true:false" aria-hidden="true" data-placement="left" title="{{DuyetMua.NoiDungDuyet}}"></i>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-heading">
            <span>Thông tin chi tiết</span>
        </div>
        <div class="table-containe panel-body">
            <table st-table="ctrl.data.DuyetMuaChiTietList" class="table table-bordered table-condensed  table-responsive table-hover ">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="min-width: 150px;vertical-align:middle">Chức năng</th>
                        <th class="text-center" style="width: 50px;vertical-align:middle">STT</th>
                        <th class="text-center" style="width: 300px;vertical-align:middle" st-sort="TenTaiSan">Tên tài sản</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="TenLoai">Loại tài sản</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="TenPhuongThuc">Phương thức HT</th>
                        <th class="text-center" style="width: 70px;vertical-align:middle" st-sort="DonViTinh">ĐVT</th>
                        <th class="text-center" style="width: 200px;vertical-align:middle" st-sort="MoTa">Mô tả</th>
                        <th class="text-center" style="width: 120px;vertical-align:middle" st-sort="Ngay">Ngày DK</th>
                        <th class="text-center" style="width: 120px;vertical-align:middle" st-sort="SoLuong">Số Lượng DK</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="DonGia">Đơn giá DK</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="TenHinhThuc">Hình thức</th>
                        <th class="text-center" style="width: 150px;vertical-align:middle" st-sort="DuToan">Dự toán</th>
                        <th class="text-center" style="width: 100px;vertical-align:middle" st-sort="GhiChu">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="DuyetMua in ctrl.data.DuyetMuaChiTietList" ng-class="(DuyetMua.isSelected==true)?'info':''">
                        <td class="text-center" style="vertical-align:middle">
                            <div class="btn-group btn-group-circle" ng-if="(DuyetMua.DuyetId==1||DuyetMua.DuyetId==2) ? false:true">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.action.DongYChiTiet(DuyetMua)">Duyệt</button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.action.TuChoiChiTiet(DuyetMua)">Từ chối</button>
                            </div>
                            <div ng-if="DuyetMua.DuyetId==1 ? true:false">
                                <span class="form-control label label-success">Đồng ý</span>
                            </div>
                            <div ng-if="DuyetMua.DuyetId==2 ? true:false">
                                <span class="form-control label label-danger">Từ chối</span>
                            </div>
                        </td>
                        <td class="text-center">{{$index + 1}}</td>
                        <td><span ng-bind="DuyetMua.TenTaiSan"></span></td>
                        <td><span ng-bind="DuyetMua.TenLoai"></span></td>
                        <td><span ng-bind="DuyetMua.TenPhuongThuc"></span></td>
                        <td><span ng-bind="DuyetMua.DonViTinh"></span></td>
                        <td><span ng-bind="DuyetMua.MoTa"></span></td>
                        <td><span ng-bind="DuyetMua.Ngay"></span></td>
                        <td><span ng-bind="DuyetMua.SoLuong"></span></td>
                        <td><span ng-bind="DuyetMua.DonGia"></span></td>
                        <td><span ng-bind="DuyetMua.TenHinhThuc"></span></td>
                        <td><span ng-bind="DuyetMua.DuToan"></span></td>
                        <td><span ng-bind="DuyetMua.GhiChu"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" >
                            <p class="text-danger">Tổng số : {{ctrl.data.TongSo}}</p>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
        <div class="panel panel-primary ui-draggable fade collapse" id="TuChoiPopup" aria-expanded="true">
            <div class="panel-heading ui-draggable-handle">
                <div class="panel-title">
                    <span>Thông tin từ chối</span>
                    <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#TuChoiPopup" ng-click="ctrl.action.closeEdit()" aria-expanded="true">
                        <i class="fa fa-fw fa-remove">
                        </i>
                    </a>
                </div>
            </div>
            <div class="panel-body" style="width: 500px;">
                <form class="form-horizontal ng-pristine ng-valid ng-valid-required">

                    <!-- Input row Ngày-->
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-2">Ngày</label>
                        <div class="form-inline col-sm-9">
                            <input type="text" id="tungayedit" class="form-control datetimepicker date ng-pristine ng-untouched ng-valid ng-not-empty" placeholder="dd/mm/yyyy" ng-model="ctrl.data.objTuChoi.Ngay">

                        </div>
                    </div>
                    <!-- Input row Lý do -->
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-2">Lý do</label>
                        <div class="col-sm-10">
                            <textarea id="txtLyDo" rows="2" class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="ctrl.data.objTuChoi.LyDo"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <a class="btn btn-sm btn-primary ng-scope" ng-click="ctrl.action.TuChoi()"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</a>&nbsp;&nbsp;&nbsp;

                <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#TuChoiPopup" aria-expanded="true">Đóng</a>

            </div>
        </div> 
    </div>

</div>


@section ImportStyles{}
@section SetupStyles{
    <style type="text/css">
        .st-sort-ascent:before {
            content: '\25B2';
        }

        .st-sort-descent:before {
            content: '\25BC';
        }

        .select-page {
            width: 50px;
            text-align: center;
        }

        .pagination li a input {
            padding: 0;
            margin: -5px 0;
        }

        .top-alert {
            position: fixed;
            top: 10px;
            width: 100%;
            z-index: 100000;
            left: 0;
            padding: 20px;
            display: inline-block;
            text-align: center;
        }

            .top-alert .alert {
                width: auto !important;
                height: 100%;
                display: inline;
                position: relative;
                margin: 0;
            }

                .top-alert .alert .close {
                    position: absolute;
                    top: 11px;
                    right: 10px;
                    color: inherit;
                    margin: -13px -7px;
                }
                .label {
            font-size: 90% !important;
        }
    </style>
    <link href="~/lib/bootstrap/css/loadingPage.css" rel="stylesheet" />
}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/DuyetMua/service/DuyetMuaService.js"></script>
    <script src="~/Scripts/angular/DuyetMua/controller/DuyetMuaListCtrl.js"></script>
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/directive/keyboard.directive.js"></script>
}




