@{
    /*****************************************************************************
    1. Create Date : 2017.07.27
    2. Creator     : Nguyen Thanh Binh
    3. Description : Thông tin phiếu bảo hành
    4. History     : 2017.07.27 (Nguyen Thanh Binh) - thiết kế giao diện
    *****************************************************************************/
    ViewBag.Title = "Thông tin phiếu bảo hành";
    ViewBag.UserInfo = ViewBag.UserInfo ?? "{}";
    ViewBag.id = ViewBag.id ?? 0;
    ViewBag.isEdit = ViewBag.isEdit ?? false;
}

<div class="container-fluid" ng-controller="MainCtrl as mainCtrl" keyboard="mainCtrl.keys" ng-init="mainCtrl.onInitView({userInfo:@(ViewBag.UserInfo),isEdit:@(ViewBag.isEdit)})">
    <div class="panel panel-default" id="{{ctrl.controllerId}}" ng-controller="PhieuBaoHanhEditCtrl as ctrl" ng-init="ctrl.onInitView({controllerId:mainCtrl.ctrl.phieuBaoHanhEdit,phieuBaoHanhId:@(ViewBag.id),userInfo:@(ViewBag.UserInfo),linkUrl:'@(Url.Content("~/khophieubaohanh/"))'})">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="fa fa-fw fa-star-o"></i>
                <span>Thông tin phiếu bảo hành</span>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <h3 class="text-center">Phiếu bảo hành </h3>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.LoaiBaoHanh?'has-error':''">
                            <label class="control-label col-sm-4">Bảo hành với</label>
                            <div class="col-sm-8">
                                <div class="checkbox" >
                                    <label>
                                        <input type="radio" ng-disabled="ctrl.isEdit" ng-model="ctrl.data.phieuBaoHanh.LoaiBaoHanh" value="Y" />
                                        <span>Khách hàng</span>
                                    </label>
                                    <label>
                                        <input type="radio"  ng-disabled="ctrl.isEdit" ng-model="ctrl.data.phieuBaoHanh.LoaiBaoHanh" value="N" />
                                        <span>Nhà cung cấp</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                  

                </div>

                @*-----------------------------------------------------------------------------*@

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.SeriesNo?'has-error':''">
                            <label class="control-label col-sm-4">Serial / IMEI (*)</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input class="form-control" type="text"  ng-disabled="ctrl.isEdit" ng-model="ctrl.data.phieuBaoHanh.SeriesNo" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="SeriesNo" data-next="DienThoai" autofocus />
                                    <a class="btn btn-default input-group-addon" href="javascript:void(0)" ng-if="!ctrl.isEdit" ng-click="ctrl.action.getThongTinBySeries()"><i class="fa fa-fw fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.SeriesNo?'has-error':''">
                            <label class="control-label col-sm-4">Ngày nhập/xuất</label>
                            <div class="col-sm-8">
                                <span class="form-control" ng-bind="ctrl.data.phieuBaoHanh.NgayNhapXuat|date:'dd/MM/yyyy'"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">                  

                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.DienThoai?'has-error':''">
                            <label class="control-label col-sm-4">Điện thoại (*)</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm" >
                                    <input class="form-control" type="text"  ng-model="ctrl.data.phieuBaoHanh.DienThoai" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="DienThoai" data-next="TenKhachHang" />
                                    <a class="btn btn-default input-group-addon" href="javascript:void(0)"  ng-if="!ctrl.isEdit" ng-click="ctrl.action.getThongTinByDienThoai()"><i class="fa fa-fw fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.ThoiGianBaoHanh?'has-error':''">
                            <label class="control-label col-sm-4">Thời gian bảo hành</label>
                            <div class="col-sm-8">
                                <span class="form-control" ng-bind="ctrl.data.phieuBaoHanh.ThoiGianBaoHanh"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.TenKhachHang?'has-error':''">
                            <label class="control-label col-sm-4">Tên khách hàng (*)</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" ng-model="ctrl.data.phieuBaoHanh.TenKhachHang" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="TenKhachHang" data-next="TenThietBi" />
                            </div>
                        </div>
                    </div>                                  

                    <div class="col-sm-6">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.NgayHetHanBaoHanh?'has-error':''">
                            <label class="control-label col-sm-4">Ngày hết hạn bảo hành</label>
                            <div class="col-sm-8">                                
                                <span class="form-control" ng-bind="ctrl.data.phieuBaoHanh.NgayHetHanBaoHanh|date:'dd/MM/yyyy'"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.TenThietBi?'has-error':''">
                            <label class="control-label col-sm-4">Tên thiết bị (*)</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="ctrl.data.phieuBaoHanh.TenThietBi" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="TenThietBi" data-next="HangSanXuat" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.ThoiGianBaoHanhConLai?'has-error':''">
                            <label class="control-label col-sm-4">Thời gian BH còn lại</label>
                            <div class="col-sm-8">
                                <span class="form-control" ng-bind="ctrl.data.phieuBaoHanh.ThoiGianBaoHanhConLai"></span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.HangSanXuat?'has-error':''">
                            <label class="control-label col-sm-4">Hãng sản xuất (*)</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="ctrl.data.phieuBaoHanh.HangSanXuat" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="HangSanXuat" data-next="TrangThaiTiepNhan" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm" ng-class="ctrl.error.SeriesNo?'has-error':''">
                            <label class="control-label col-sm-4">Email khách hàng</label>
                            <div class="col-sm-8">
                                <div class="input-group input-group-sm">
                                    <input class="form-control" type="text" placeholder="example@gmail.com" ng-model="ctrl.data.phieuBaoHanh.Email" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="Email" data-next="ChuanDoan" />
                                    <a class="btn btn-default input-group-addon" href="javascript:void(0)" ng-click="ctrl.action.sendEmail()"><i class="fa fa-fw fa-send"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

             

                <div class="row">
                    <div class="col-sm-6">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.TrangThaiTiepNhan?'has-error':''">
                            <label class="control-label col-sm-4">Trạng thái tiếp nhận (*)</label>
                            <div class="col-sm-8">
                                <div class="form-control auto-height">
                                    <a class="pull-right" href="javascript:void(0)"><i class="fa fa-fw fa-remove"></i></a>
                                    <a href="javascript:void(0)" ng-click="ctrl.action.getListTrangThaiTiepNhan()" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="TrangThaiTiepNhan" data-next="NgayHen">
                                        <div>
                                            <i class="fa fa-fw fa-search"></i>
                                            <span ng-bind="ctrl.data.phieuBaoHanh.TenTrangThaiTiepNhan"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.NgayHen?'has-error':''">
                            <label class="control-label col-sm-4">Thời gian hẹn (*)</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control datetimepicker date" ng-model="ctrl.data.phieuBaoHanh.NgayHen" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="NgayHen" data-next="SanPhamCty" />
                            </div>
                        </div>
                    </div>
                </div>

                @*
                <div class="row form-group form-group-sm" ng-class="ctrl.error.SanPhamCty?'has-error':''">
                    <label class="control-label col-sm-2">Sản phẩm</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="radio" ng-model="ctrl.data.phieuBaoHanh.SanPhamCty" value="Y" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="SanPhamCty" data-next="ChuanDoan" />
                                <span>Cty</span>
                            </label>
                            <label>
                                <input type="radio" ng-model="ctrl.data.phieuBaoHanh.SanPhamCty" value="N" />
                                <span>Ngoài cty</span>
                            </label>
                        </div>
                    </div>
                </div>
                *@

          
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.ChuanDoan?'has-error':''">
                            <label class="control-label col-sm-2">Chẩn đoán</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="ctrl.data.phieuBaoHanh.ChuanDoan"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.YeuCauKhachHang?'has-error':''">
                            <label class="control-label col-sm-2">Yêu cầu khách hàng</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="ctrl.data.phieuBaoHanh.YeuCauKhachHang"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.PhuKienKemTheo?'has-error':''">
                            <label class="control-label col-sm-2">Phụ kiện kèm theo</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="ctrl.data.phieuBaoHanh.PhuKienKemTheo"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="panel-body">
            <h3 class="text-center no-margin">Chi tiết bảo hành</h3>
            <span ng-if="ctrl.action.checkQuyenTacVu('M') ">
                <a class="btn btn-sm btn-primary" href="javascript:void(0);" ng-click="ctrl.action.createChiTiet()">Thêm chi tiết (F2)</a>&nbsp;&nbsp;&nbsp;
            </span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped" st-table="ctrl.data.listChiTiet">
                <thead class="text-primary">
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center"></th>
                        <th class="text-center">Thiết bị bảo hành</th>
                        <th class="text-center">Mô tả</th>
                        <th class="text-center">Thiết bị thay thế</th>
                        <th class="text-center">Chi phí</th>
                        <th class="text-center">VAT (%)</th>
                        <th class="text-center">Khuyến mãi</th>
                        <th class="text-center">Thành tiền</th>
                        <th class="text-center">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoadingChiTiet">
                        <td colspan="100" class="text-center info">
                            <i class="fa fa-fw fa-spinner fa-pulse"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="row in ctrl.data.listChiTiet track by $index">
                        <td class="text-center"><span ng-bind="$index+1"></span></td>
                        <td class="text-center">
                            <a class="btn btn-xs btn-danger" ng-click="ctrl.action.deleteChiTiet(row)"><i class="fa fa-fw fa-remove"></i></a>
                        </td>
                        <td><a href="javascript:void(0)" ng-click="ctrl.action.editChiTiet(row)" ng-bind="row.TenThietBi"></a></td>
                        <td><span ng-bind="row.MoTa"></span></td>
                        <td><span ng-bind="row.TenThietBiThayThe"></span></td>
                        <td class="text-right"><span ng-bind="row.ChiPhi|number:'':'':2"></span></td>
                        <td class="text-right"><span ng-bind="(row.ThueVAT|number:'':'':2)+'%'"></span></td>
                        <td class="text-right"><span ng-bind="row.KhuyenMai|number:'':'':2"></span></td>
                        <td class="text-right"><span ng-bind="row.ThanhTien|number:'':'':2"></span></td>
                        <td><span ng-bind="row.TenTrangThaiThietBi"></span></td>
                    </tr>
                </tbody>
                <tfoot class="tb-footer">
                    <tr>
                        <td class="text-right" colspan="8">Thanh toán:</td>
                        <td class="text-right"><span ng-bind="(ctrl.data.listChiTiet | sumOfValue:'ThanhTien')|number:'':'':2"></span></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <span ng-if="ctrl.action.checkQuyenTacVu('N') || ctrl.action.checkQuyenTacVu('M')">
                <a class="btn btn-sm btn-primary" href="javascript:void(0);" ng-click="ctrl.action.save()">Lưu (F8)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="ctrl.action.checkQuyenTacVu('D')">
                <a class="btn btn-sm btn-default" href="javascript:void(0);" ng-click="ctrl.action.xoaChon()">Xóa</a>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="ctrl.action.checkQuyenTacVu('V')">
                <a class="btn btn-sm btn-default" href="~/khophieubaohanh/list">Quay lại</a>&nbsp;&nbsp;&nbsp;
            </span>
            @*
            <span ng-if="ctrl.action.checkQuyenTacVu('V')">
                <a class="btn btn-sm btn-default" href="javascript:void(0);">In</a>&nbsp;&nbsp;&nbsp; 
            </span> *@
            <span ng-if="ctrl.action.checkQuyenTacVu('V')">
                <a class="btn btn-sm btn-default" href="javascript:void(0);" ng-click="ctrl.action.xemLuocSu(ctrl.data.phieuCongTac.PhieuCongTacId)">H</a>&nbsp;&nbsp;&nbsp;
            </span>
        </div>
    </div>
    <!-- popup phiếu bảo hành chi tiết edit -->
    <div class="panel panel-primary hidden-print collapse fade ui-draggable" id="{{mainCtrl.ctrl.phieuBaoHanhChiTietEdit}}" ng-controller="PhieuBaoHanhChiTietEditCtrl as ctrl" ng-init="ctrl.onInitView({controllerId:mainCtrl.ctrl.phieuBaoHanhChiTietEdit,phieuBaoHanhId:@(ViewBag.id),userInfo:@(ViewBag.UserInfo)})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <i class="fa fa-fw fa-spinner fa-pulse" ng-if="ctrl.status.isLoading"></i>
                <i class="fa fa-fw fa-star-o" ng-if="!ctrl.status.isLoading"></i>
                <span>Chi thiết thiết bị</span>
                <a class="btn btn-xs btn-primary pull-right" ng-click="ctrl.action.close()"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        <div class="panel-body" style="width:600px; height:auto;">
            <form class="form-horizontal">
                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.TenThietBi}">
                    <label class="control-label col-sm-3">Thiết bị (*)</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-if="ctrl.data.chiTiet.ThietBi?false:true" ng-model="ctrl.data.chiTiet.TenThietBi" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="TenThietBi" data-next="MoTa" autofocus />
                    </div>
                    @*
                    <div class="col-sm-9">
                        <div class="input-group input-group-sm">
                            <!--<a class="btn input-group-addon" ng-click="ctrl.action.getThietBi()"><i class="fa fa-fw fa-search"></i></a> -->
                            <input type="text" class="form-control" ng-if="ctrl.data.chiTiet.ThietBi?false:true" ng-model="ctrl.data.chiTiet.TenThietBi" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="TenThietBi" data-next="MoTa" autofocus />
                            <!--<span class="form-control" ng-if="ctrl.data.chiTiet.ThietBi>0" ng-bind="ctrl.data.chiTiet.TenThietBi"></span> -->
                            <!--<a class="btn input-group-addon" ng-click="ctrl.action.clearThietBi()"><i class="fa fa-fw fa-remove"></i></a>-->
                        </div>
                    </div>
                    *@
                </div>
                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.MoTa}">
                    <label class="control-label col-sm-3">Mô tả</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="ctrl.data.chiTiet.MoTa" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="MoTa" data-next="TenThietBiThayThe" />
                    </div>
                </div>
                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.TenThietBiThayThe}">
                    <label class="control-label col-sm-3">Thiết bị thay thế</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-if="ctrl.data.chiTiet.ThietBiThayThe?false:true" ng-model="ctrl.data.chiTiet.TenThietBiThayThe" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="TenThietBiThayThe" data-next="ChiPhi" />
                    </div>
                    @*
    <div class="col-sm-9">
        <div class="input-group input-group-sm">
            <a class="btn input-group-addon" ng-click="ctrl.action.getThietBiThayThe()"><i class="fa fa-fw fa-search"></i></a>
            <input type="text" class="form-control" ng-if="ctrl.data.chiTiet.ThietBiThayThe?false:true" ng-model="ctrl.data.chiTiet.TenThietBiThayThe" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="TenThietBiThayThe" data-next="ChiPhi" />
            <span class="form-control" ng-if="ctrl.data.chiTiet.ThietBiThayThe>0" ng-bind="ctrl.data.chiTiet.TenThietBiThayThe"></span>
            <a class="btn input-group-addon" ng-click="ctrl.action.clearThietBiThayThe()"><i class="fa fa-fw fa-remove"></i></a>
        </div>
    </div>
                    *@
                </div>
                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.ChiPhi}">
                    <label class="control-label col-sm-3">Chi phí</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="ctrl.data.chiTiet.ChiPhi" ng-change="ctrl.action.tinhThue()" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="ChiPhi" data-next="TrangThaiThietBi" number-format />
                    </div>
                </div>
                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.TrangThaiThietBi}">
                    <label class="control-label col-sm-3">Trạng thái thiết bị (*)</label>
                    <div class="col-sm-9">
                        <div class="form-control auto-height">
                            <a class="pull-right" href="javascript:void(0)" ng-click="ctrl.action.clearTrangThaiThietBi()"><i class="fa fa-fw fa-remove"></i></a>
                            <a href="javascript:void(0)" ng-click="ctrl.action.getTrangThaiThietBi()" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="TrangThaiThietBi" data-next="ThueVAT">
                                <div>
                                    <i class="fa fa-fw fa-search"></i>
                                    <span ng-bind="ctrl.data.chiTiet.TenTrangThaiThietBi"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.ThueVAT}">
                    <label class="control-label col-sm-3">Thuế VAT (%)</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="ctrl.data.chiTiet.ThueVAT" ng-change="ctrl.action.tinhThue()" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="ThueVAT" data-next="KhuyenMai" number-format maxlength="3" />
                    </div>
                </div>
                <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.KhuyenMai}">
                    <label class="control-label col-sm-3">Thuế</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="ctrl.data.chiTiet.TienThue" ng-keypress="ctrl.action.keyPressEnter($event)" number-format />
                    </div>
                </div>
            <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.error.KhuyenMai}">
                    <label class="control-label col-sm-3">Khuyến mãi</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="ctrl.data.chiTiet.KhuyenMai" ng-keypress="ctrl.action.keyPressEnter($event)" data-name="KhuyenMai" data-next="btnSave" number-format />
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-primary" href="javascript:void(0);" ng-click="ctrl.action.save()" data-name="btnSave">Lưu</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-default" href="javascript:void(0);" ng-click="ctrl.action.xoaChon()">Xóa</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-default" ng-click="ctrl.action.close()">Đóng</a>&nbsp;&nbsp;&nbsp;
            &nbsp;
        </div>
    </div><!--/ popup phiếu bảo hành chi tiết edit -->
    <!-- popup danh sách Thiết bị -->
    <div class="panel panel-primary hidden-print collapse fade ui-draggable" ng-controller="KhoHangHoaListPopCtrl as ctrl" id="{{mainCtrl.ctrl.ThietBiListPopup}}" ng-init="ctrl.onInitView({controllerId:mainCtrl.ctrl.ThietBiListPopup,loai:'1'})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span>Thiết bị</span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#{{mainCtrl.ctrl.ThietBiListPopup}}"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        <div class="panel-body" style="width:auto; height:auto;">
            <form class="form-inline">
                <div class="form-group form-group-sm">
                    <span><i class="fa fa-fw fa-star-o"></i>Tìm kiếm hàng hóa</span>
                </div>
                <div class="form-group form-group-sm">
                    <div class="input-group input-group-sm">
                        <input class="form-control" ng-model="ctrl.data.searchString" autofocus />
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.getPage()"><i class="fa fa-fw fa-search"></i>Tìm kiếm</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-responsive table-hover " st-table="ctrl.data.listKhoHangHoa" st-pipe="ctrl.action.getPage">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="width: 50px;">Chọn</th>
                        <th class="text-center" st-sort="MaHangHoa">Mã hàng</th>
                        <th class="text-center" st-sort="TenHangHoa">Tên hàng</th>
                        <th class="text-center" st-sort="DonGiaNhap">Giá mua</th>
                        <!--<th class="text-center" st-sort="DonGiaXuat">Giá bán</th>-->
                        <th class="text-center" st-sort="TonKho">Tồn kho</th>
                        <!--<th class="text-center" st-sort="{{cot.MaKho}}" ng-repeat="cot in ctrl.data.listKhoHang|filter:cot.KhoHangId" ng-bind="::cot.TenKho"></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tonkho in ctrl.data.listKhoHangHoa">
                        <td st-select-row="tonkho" @*st-select-mode="multiple"*@ class="text-center"><i class="fa fa-fw text-primary" ng-class="(tonkho.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td><a href="javascript:void(0)" ng-bind="tonkho.MaHangHoa"></a></td>
                        <td><a href="javascript:void(0)" ng-bind="tonkho.TenHangHoa"></a></td>
                        <td style="text-align:right"><span ng-bind="tonkho.DonGiaNhap"></span></td>
                        <!--<td style="text-align:right"><span ng-bind="tonkho.DonGiaXuat"></span></td>-->
                        <td style="text-align:right"><span ng-bind="tonkho.TonKho"></span></td>
                        <!--<td style="text-align:right" ng-repeat="cot in ctrl.data.listKhoHang|filter:cot.KhoHangId" ng-switch="cot.TenKho">
                            <span ng-switch-default ng-bind="::tonkho[cot.MaKho]"></span>
                        </td>
                        -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center hidden-print">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html">
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</button>
            <button class="btn btn-sm btn-default" data-toggle="collapse" data-target="#{{mainCtrl.ctrl.ThietBiListPopup}}">Đóng</button>
        </div>
    </div><!-- /popup danh sách Thiết bị -->
    
    <!-- popup danh sách Thiết bị thay thế -->
    <div class="panel panel-primary hidden-print collapse fade ui-draggable" ng-controller="KhoHangHoaListPopCtrl as ctrl" id="{{mainCtrl.ctrl.ThietBiThayTheListPopup}}" ng-init="ctrl.onInitView({controllerId:mainCtrl.ctrl.ThietBiThayTheListPopup,loai:'1'})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span>Thiết bị thay thế</span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#{{mainCtrl.ctrl.ThietBiThayTheListPopup}}"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        <div class="panel-body" style="width:auto; height:auto;">
            <form class="form-inline">
                <div class="form-group form-group-sm">
                    <span><i class="fa fa-fw fa-star-o"></i>Tìm kiếm hàng hóa</span>
                </div>
                <div class="form-group form-group-sm">
                    <div class="input-group input-group-sm">
                        <input class="form-control" ng-model="ctrl.data.searchString" autofocus />
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.getPage()"><i class="fa fa-fw fa-search"></i>Tìm kiếm</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-responsive table-hover " st-table="ctrl.data.listKhoHangHoa" st-pipe="ctrl.action.getPage">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="width: 50px;">Chọn</th>
                        <th class="text-center" st-sort="MaHangHoa">Mã hàng</th>
                        <th class="text-center" st-sort="TenHangHoa">Tên hàng</th>
                        <th class="text-center" st-sort="DonGiaNhap">Giá mua</th>
                        <!--<th class="text-center" st-sort="DonGiaXuat">Giá bán</th>-->
                        <th class="text-center" st-sort="TonKho">Tồn kho</th>
                        <!--<th class="text-center" st-sort="{{cot.MaKho}}" ng-repeat="cot in ctrl.data.listKhoHang|filter:cot.KhoHangId" ng-bind="::cot.TenKho"></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tonkho in ctrl.data.listKhoHangHoa">
                        <td st-select-row="tonkho" @*st-select-mode="multiple"*@ class="text-center"><i class="fa fa-fw text-primary" ng-class="(tonkho.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td><a href="javascript:void(0)" ng-bind="tonkho.MaHangHoa"></a></td>
                        <td><a href="javascript:void(0)" ng-bind="tonkho.TenHangHoa"></a></td>
                        <td style="text-align:right"><span ng-bind="tonkho.DonGiaNhap"></span></td>
                        <!--<td style="text-align:right"><span ng-bind="tonkho.DonGiaXuat"></span></td>-->
                        <td style="text-align:right"><span ng-bind="tonkho.TonKho"></span></td>
                        <!--<td style="text-align:right" ng-repeat="cot in ctrl.data.listKhoHang|filter:cot.KhoHangId" ng-switch="cot.TenKho">
                            <span ng-switch-default ng-bind="::tonkho[cot.MaKho]"></span>
                        </td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center hidden-print">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html">
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</button>
            <button class="btn btn-sm btn-default" data-toggle="collapse" data-target="#{{mainCtrl.ctrl.ThietBiThayTheListPopup}}">Đóng</button>
        </div>
    </div><!-- /popup danh sách Thiết bị thay thế -->
    <!-- danh sách khách hàng từ phiếu xuất -->
    <div class="panel panel-primary ui-draggable collapse fade hidden-print" id="{{ctrl.controllerId}}" ng-controller="ThongTinDienThoaiCtrl as ctrl" ng-init="ctrl.onInitView({controllerId:mainCtrl.ctrl.ThongTinDienThoaiCtrl,userInfo:@(ViewBag.UserInfo)})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span ng-bind="ctrl.title"></span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#{{ctrl.controllerId}}"><i class="fa fa-fw fa-remove"></i></a>
            </div>
        </div>
        <div class="table-responsive" style="height: 400px;width:600px;">
            <table class="table table-bordered table-condensed table-hover table-striped" st-table="ctrl.data.listKhachHang">
                <thead>
                    <tr class="text-primary">
                        <th class="text-center" style="width: 35px;" ng-if="ctrl.status.isSelectOne"></th>
                        <th class="text-center" style="width: 35px;" ng-if="!ctrl.status.isSelectOne" ng-click="ctrl.action.checkAll()"><i class="fa fa-fw" ng-class="ctrl.status.isSelectedAll ? 'fa-check-square-o':'fa-square-o'"></i></th>
                        <th class="text-center" style="width: {{cot.DoRong}}px;" st-sort="{{cot.MaCot}}" ng-repeat="cot in ctrl.data.listCot|filter:ctrl.action.HienThiYN=true">
                            <span ng-bind="cot.TenCot"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="row in ctrl.data.listKhachHang" ng-class="(row.isSelected==true)?'info':''">
                        <td class="text-primary text-center" st-select-row="row" st-select-mode="{{ctrl.status.isSelectOne?'':'multiple'}}" ng-click="ctrl.action.autoCheckAll()"><i class="fa fa-fw" ng-class="row.isSelected==true?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td ng-repeat="cot in ctrl.data.listCot|filter:cot.HienThiYN=true" ng-switch="cot.MaCot">
                            <a href="javascript:void(0)" ng-click="ctrl.action.selectedItem(row)" ng-switch-when="TenKhachHang,DienThoai" ng-switch-when-separator="," ng-bind="row[cot.MaCot]"></a>
                            <span ng-switch-when="NgayXuat" ng-switch-when-separator="," ng-bind="row[cot.MaCot]|date:'dd/MM/yyyy'"></span>
                            <span ng-switch-default ng-bind="row[cot.MaCot]"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</button>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-default" href="javascript:void(0)" data-toggle="collapse" data-target="#{{ctrl.controllerId}}">Đóng</a>&nbsp;&nbsp;&nbsp;
        </div>
    </div><!--/ danh sách khách hàng từ phiếu xuất -->

    @{Html.RenderPartial("~/views/TrangThai/_ListPopup.cshtml", new ViewDataDictionary { { "Html", true }, { "onInitView", "{userInfo:" + ViewBag.userInfo + ",controllerId:mainCtrl.ctrl.TrangThaiTiepNhanListPopup,title:'Trạng thái tiếp nhận',isSelectOne:true,showTable:true,chucNang:'KhoPhieuBaoHanh'}" } });}
    @{Html.RenderPartial("~/views/TrangThai/_ListPopup.cshtml", new ViewDataDictionary { { "Html", true }, { "onInitView", "{userInfo:" + ViewBag.userInfo + ",controllerId:mainCtrl.ctrl.TrangThaiThietBiListPopup,title:'Trạng thái thiết bị',isSelectOne:true,showTable:true,chucNang:'PhieuBaoHanhChiTiet'}" } });}
</div>

@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/directive/keyboard.directive.js"></script>

    <script src="~/Scripts/angular/KhoPhieuBaoHanh/controller/PhieuBaoHanhChiTietEditCtrl.js"></script>
    <script src="~/Scripts/angular/KhoPhieuBaoHanh/service/PhieuBaoHanhService.js"></script>
    <script src="~/Scripts/angular/KhoPhieuBaoHanh/controller/MainEditCtrl.js"></script>
    <script src="~/Scripts/angular/KhoPhieuBaoHanh/controller/PhieuBaoHanhEditCtrl.js"></script>
    @{Html.RenderPartial("~/views/TrangThai/_ListPopup.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    <script src="~/Scripts/angular/KhoHangHoa/controller/KhoHangHoaListPopCtrl.js"></script>
    <script src="~/Scripts/angular/KhoHangHoa/service/KhoHangHoaService.js"></script>
    <script src="~/Scripts/angular/TuyChonFormCot/service/TuyChonCotService.js"></script>

}
