@{
    ViewBag.Title = "Thông tin sử dụng";
    ViewBag.id = ViewBag.id ?? 0;
    ViewBag.userInfo = ViewBag.userInfo ?? "{ }";
}

<div class="container-fluid" keyboard="mainCtrl.keys">
    <div class="panel panel-default" ng-controller="SuDungEditCtrl as ctrl" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo, SuDungId:@(ViewBag.id), linkUrl:'@(Url.Content("~/"))'})">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-fw fa-star-o"></i>{{ctrl.data.Tilte}} sử dụng</span>
        </div>

        <div class="panel-body">
            <form class="form-horizontal">
                <div class="row"><!--627-->
                    <div class="col-sm-3">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.KyLap?'has-error':''">
                            <label class="control-label col-sm-4">Kỳ lập</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="cbxKyLap" style="padding:0px 10px" data-placeholder="Loại Thay thế" ng-model="ctrl.data.phieuSuDung.KyLap">
                                    <option value="1">Cả năm</option>
                                    <option value="2">Quý I</option>
                                    <option value="3">Quý II</option>
                                    <option value="4">Quý III</option>
                                    <option value="5">Quý IV</option>
                                    <option value="6">Tháng 1</option>
                                    <option value="7">Tháng 2</option>
                                    <option value="8">Tháng 3</option>
                                    <option value="9">Tháng 4</option>
                                    <option value="10">Tháng 5</option>
                                    <option value="11">Tháng 6</option>
                                    <option value="12">Tháng 7</option>
                                    <option value="13">Tháng 8</option>
                                    <option value="14">Tháng 9</option>
                                    <option value="15">Tháng 10</option>
                                    <option value="16">Tháng 11</option>
                                    <option value="17">Tháng 12</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.Nam?'has-error':''">
                            <label class="control-label col-sm-2">Năm</label>
                            <div class="col-sm-6">
                                <input type="number" min="1990" id="txtNam" class="form-control text-center" ng-model="ctrl.data.phieuSuDung.Nam" ng-keypress="ctrl.action.keyPressSuDung(ctrl.data.phieuSuDung.Nam,'txtNam','txtNoiDung',$event)"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group form-group-sm" ng-class="ctrl.error.NoiDung?'has-error':''">
                    <label class="control-label col-sm-1" style="">Nội dung</label>
                    <div class="col-sm-10" style="">
                        <textarea rows="2" type="text" class="form-control" id="txtNoiDung" ng-model="ctrl.data.phieuSuDung.NoiDung"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-heading">
            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.add()" ng-if="ctrl.data.showButtonNew">
                <i class="fa fa-plus"></i>
                Thêm chi tiết (F2)
            </button>
        </div>

        <div class="panel-body table-responsive" style="max-height:300px;min-height:300px">
            <table st-table="ctrl.data.listChiTiet" class="table table-bordered table-condensed table-hover ng-isolate-scope table-striped" style="min-width:1000px;border: 1px solid #ddd;">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="min-width: 40px; vertical-align:middle">#</th>
                        <th class="text-center" style="min-width: 50px; vertical-align:middle">Xóa</th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">Mã tài sản   <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 250px; vertical-align:middle">Tên tài sản</th>
                        <th class="text-center" style="min-width: 150px; vertical-align:middle">Bộ phận</th>
                        <th class="text-center" style="min-width: 150px; vertical-align:middle">Cán bộ</th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">Số sản phẩm PV <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">ĐVT sản phẩm PV<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">Tổng số NVLSD</th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">ĐVT NVLSD</th>
                        <th class="text-center" style="min-width: 200px; vertical-align:middle">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="SuDungChiTiet in ctrl.data.listChiTiet" ng-class="SuDungChiTiet.isError ? 'danger':''">
                        <td class="text-center">{{$index + 1}}</td>
                        <td class="text-center">
                            <a class="btn btn-xs btn-danger"
                               ng-click="ctrl.data.listChiTiet.splice($index,1)" ng-if="ctrl.data.showButtonXoa">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <input type="text" id="txtMaTaiSan{{$index}}" class="form-control text-left" ng-model="SuDungChiTiet.MaTaiSan" ng-keydown="ctrl.action.keyPress(SuDungChiTiet.MaTaiSan,'txtMaTaiSan'+$index,'txtSoSanPhamPhucVu'+$index,$index,$event)" />
                        </td>
                        <td class="form-group form-group-sm">
                            <cbo-tai-san-su-dung id="cbxTaiSan{{$index}}" data-function-code="CN0035" data-value="SuDungChiTiet.TaiSanId" data-phong-ban="SuDungChiTiet.PhongBanId" data-nhan-vien="SuDungChiTiet.NhanVienId" ma-tai-san="SuDungChiTiet.TempMaTaiSan" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/taisan/showview?viewname=cbotaisansudung"
                                                 on-selected="ctrl.action.getDataTaiSan(data, {$index})"></cbo-tai-san-su-dung>
                        </td>
                        <td class="form-group form-group-sm">
                            <span class="form-control text-left" style="background:#eeeeee" ng-bind="SuDungChiTiet.TenPhongBan" />
                        </td>
                        <td class="form-group form-group-sm">
                            <span class="form-control text-left" style="background:#eeeeee" ng-bind="SuDungChiTiet.TenNhanVien" />
                        </td>
                        <td class="form-group form-group-sm">
                            <input type="text" id="txtSoSanPhamPhucVu{{$index}}" class="form-control text-right" ng-model="SuDungChiTiet.SoSanPhamPhucVu" number-format ng-keypress="ctrl.action.keyPress(SuDungChiTiet.SoSanPhamPhucVu,'txtSoSanPhamPhucVu'+$index,'txtDonViTinhSanPham'+$index,$index,$event)" />
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <input type="text" id="txtDonViTinhSanPham{{$index}}" class="form-control text-left" ng-model="SuDungChiTiet.DonViTinhSanPham" ng-keypress="ctrl.action.keyPress(SuDungChiTiet.DonViTinhSanPham,'txtDonViTinhSanPham'+$index,'txtSoNguyenLieuSuDung'+$index,$index,$event)" />
                        </td>
                        <td class="form-group form-group-sm">
                            <input type="text" id="txtSoNguyenLieuSuDung{{$index}}" class="form-control text-right " ng-model="SuDungChiTiet.SoNguyenLieuSuDung" number-format ng-keypress="ctrl.action.keyPress(SuDungChiTiet.SoNguyenLieuSuDung,'txtSoNguyenLieuSuDung'+$index,'txtDonViTinhNguyenLieu'+$index,$index,$event)" />
                        </td>
                        <td class="form-group form-group-sm">
                            <input type="text" id="txtDonViTinhNguyenLieu{{$index}}" class="form-control text-left " ng-model="SuDungChiTiet.DonViTinhNguyenLieu" ng-keypress="ctrl.action.keyPress(SuDungChiTiet.DonViTinhNguyenLieu,'txtDonViTinhNguyenLieu'+$index,'txtGhiChu'+$index,$index,$event)" />
                        </td>

                        <td class="form-group form-group-sm">
                            <input type="text" id="txtGhiChu{{$index}}" class="form-control text-left" ng-model="SuDungChiTiet.GhiChu" ng-keypress="ctrl.action.keyPress(SuDungChiTiet.GhiChu,'txtGhiChu'+$index,'txtMaTaiSan'+$index,$index,$event)" />
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <span ng-if="ctrl.data.showButtonSave">
                <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.save()"><i class="fa fa-save"></i> Lưu (F8)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="ctrl.data.showButtonXoa">
                <a class="btn btn-sm btn-danger" href="javascript:void(0)" ng-click="ctrl.action.removePhieuSuDung()"><i class="fa fa-trash-o"></i> Xóa</a>&nbsp;&nbsp;&nbsp;
            </span>
            <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="ctrl.action.In()"><i class="fa fa-print"></i> In</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-default" ng-click="ctrl.action.goBack()"><i class="fa fa-arrow-left"></i> Quay lại</a>&nbsp;&nbsp;&nbsp;
        </div>

    </div>

    <div class="modal fade bs-example-modal-full" id="reportmodal" style="z-index:2000" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-full" style="margin: 0px; width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Phiếu sử dụng tài sản</h4>
                </div>
                <div class="modal-body">
                    <iframe src="" width="100%" height="1000px"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/SuDung/controller/SuDungListCtrl.js"></script>
    <script src="~/Scripts/angular/SuDung/service/SuDungService.js"></script>
    <script src="~/Scripts/angular/SuDung/controller/SuDungFilterCtrl.js"></script>
    <script src="~/Scripts/angular/SuDung/controller/SuDungEditCtrl.js"></script>
    <script src="~/Scripts/angular/TuyChonFormCot/controller/TuyChonCotListCtrl.js"></script>
    <script src="~/Scripts/angular/TuyChonFormCot/service/TuyChonCotService.js"></script>
    @{Html.RenderPartial("~/views/TaiSan/cboTaiSan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/TaiSan/cboTaiSanSuDung.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    <script src="~/Scripts/angular/KhoaSoLieu/service/KhoaSoLieuService.js"></script>
}