
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Oops</title>
</head>
<body>
    <div> 
        <h3>Yêu cầu của bạn không hợp lệ hoặc trang bạn yêu cầu đang bảo trì vui lòng quay lại sau !</h3>
    </div>
</body>
</html>
