@{
    Layout = null;
}
<!DOCTYPE html>
<input hidden id="bag" value="@ViewBag.error" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <title>Support</title>
</head>
<body>
    <div class="row">
        <img src="~/Images/topsupport.png" style="width:100%" />

    </div>
    <div class="inner contact" style="margin-top:30px;">
        <!-- Form Area -->

        <div class="contact-form">
            <!-- Form -->
            @using (Html.BeginForm("Send", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <form id="contact-us" method="post" action="#" novalidate>
        <!-- Left Inputs -->
        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
            <!-- Name -->
            <input type="text" name="name" id="name" required="required" class="form" placeholder="Nhập họ tên" />
            <!-- Email -->
            <input type="number" name="sdt" maxlength="11" id="sdt" required="required" class="form" placeholder="Nhập số điện thoại" />
            <!-- Subject -->
            <input type="text" name="coquan" id="coquan" required="required" class="form" placeholder="Nhập Cơ quan-Địa chỉ cơ quan" />
            <input type="text" name="idmay" id="name" required="required" class="form" placeholder="Nhập Id" />

            <label class="radio-inline"><input type="radio" checked name="optradio" value="1">Sử dụng teamviewer</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="2">Sử dụng anydesk</label>

        </div><!-- End Left Inputs -->
        <!-- Right Inputs -->
        <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">

            <!-- Message -->
            <textarea name="noidung" id="noidung" required="required" class="form textarea" placeholder="Nội dung cần hỗ trợ"></textarea>
            <input type="text" name="pass" id="pass" class="form" placeholder="Nhập mật khẩu teamviewer" />
        </div><!-- End Right Inputs -->
        <!-- Bottom Submit -->
        <div class="relative fullwidth col-xs-12">

            <!-- Send Button -->
            <button type="submit" id="submit" name="submit" class="form-btn semibold">Gửi Yêu Cầu Hỗ Trợ</button>
        </div><!-- End Bottom Submit -->
        <!-- Clear -->
        <div class="clear"></div>
    </form>
}


        </div><!-- End Contact Form Area -->
    </div><!-- End Inner -->

</body>
</html>
<style>
    #contact {
        padding: 10px 0 10px;
    }

    .contact-text {
        margin: 45px auto;
    }

    .mail-message-area {
        width: 100%;
        padding: 0 15px;
    }

    .mail-message {
        width: 100%;
        background: rgba(255,255,255, 0.8) !important;
        -webkit-transition: all 0.7s;
        -moz-transition: all 0.7s;
        transition: all 0.7s;
        margin: 0 auto;
        border-radius: 0;
    }

    .not-visible-message {
        height: 0px;
        opacity: 0;
    }

    .visible-message {
        height: auto;
        opacity: 1;
        margin: 25px auto 0;
    }

    /* Input Styles */

    .form {
        width: 100%;
        padding: 15px;
        background: #f8f8f8;
        border: 1px solid rgba(0, 0, 0, 0.075);
        margin-bottom: 25px;
        color: #727272 !important;
        font-size: 13px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

        .form:hover {
            border: 1px solid #8BC3A3;
        }

        .form:focus {
            color: white;
            outline: none;
            border: 1px solid #8BC3A3;
        }

    .textarea {
        height: 200px;
        max-height: 200px;
        max-width: 100%;
    }

    /* Generic Button Styles */

    .button {
        padding: 8px 12px;
        background: #0A5175;
        display: block;
        width: 120px;
        margin: 10px 0 0px 0;
        border-radius: 3px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
        font-size: 0.8em;
        box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
        -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
        -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    }

        .button:hover {
            background: #8BC3A3;
            color: white;
        }

    /* Send Button Styles */

    .form-btn {
        width: 180px;
        display: block;
        height: auto;
        padding: 15px;
        color: #fff;
        background: #8BC3A3;
        border: none;
        border-radius: 3px;
        outline: none;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin: auto;
        box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
        -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
        -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    }

        .form-btn:hover {
            background: #111;
            color: white;
            border: none;
        }

        .form-btn:active {
            opacity: 0.9;
        }

    center {
        margin-top: 330px;
    }

    input {
        position: relative;
        z-index: 9999;
    }
</style>
<script>
    $(document).ready(function(){
        if($('#bag').val()!=""){
            toastr.success($('#bag').val());
        }
    })

    $('input:radio[name="optradio"]').change(function () {
        if ($(this).is(':checked') && $(this).val() == '2') {
            $('#pass').hide();
        }
        if ($(this).is(':checked') && $(this).val() == '1') {
            $('#pass').show();
        }
    });


</script>