@{
    ViewBag.Title = "Thông tin đề nghị trang cấp";
    ViewBag.id = ViewBag.id ?? 0;
    ViewBag.userInfo = ViewBag.userInfo ?? "{ }";
}

<div class="container-fluid" keyboard="mainCtrl.keys">
    <div class="panel panel-default" ng-controller="DeNghiTrangCapEditCtrl as ctrl" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo, deNghiId:@(ViewBag.id), linkUrl:'@(Url.Content("~/"))'})">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-fw fa-star-o"></i>{{ctrl.data.Tilte}} đề nghị trang cấp</span>
        </div>

        <div class="panel-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.NgayLap?'has-error':''">
                            <label class="control-label col-sm-2">Ngày lập <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="txtNgayLap" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.phieuDeNghi.Ngay" ng-keypress="ctrl.action.keyPressDeNghi(ctrl.data.phieuDeNghi.Ngay,'txtNgayLap','txtSoPhieu',$event)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.SoPhieu?'has-error':''">
                            <label class="control-label col-sm-3">Số phiếu <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></label>
                            <div class="col-sm-7">
                                <input type="text" id="txtSoPhieu" class="form-control" placeholder="" ng-model="ctrl.data.phieuDeNghi.SoPhieu" ng-keypress="ctrl.action.keyPressDeNghi(ctrl.data.phieuDeNghi.Ngay,'txtSoPhieu','cbxPhanLoai',$event)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.PhanLoai?'has-error':''">
                            <label class="control-label col-sm-2">Phân loại</label>
                            <div class="col-sm-7">
                                <select class="form-control" id="cbxPhanLoai" style="padding:0px 10px" data-placeholder="Chọn phân loại" ng-model="ctrl.data.phieuDeNghi.PhanLoaiId">
                                    <option value="1">Đề nghị</option>
                                    <option value="2">Quyết định</option>
                                    <option value="3">Khác</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row form-group form-group-sm" ng-class="ctrl.error.BoPhanId?'has-error':''">
                            <label class="control-label col-sm-3">Bộ phận đề nghị</label>
                            <div class="col-sm-7">
                                <cbo-phong-ban id="cbxPhongBan" data-value="ctrl.data.phieuDeNghi.PhongBanId" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/phongban/showview?viewname=cbophongban"></cbo-phong-ban>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group form-group-sm" ng-class="ctrl.error.NoiDung?'has-error':''">
                    <label class="control-label col-sm-1">Nội dung</label>
                    <div class="col-sm-10">
                        <textarea rows="2" type="text" class="form-control" id="txtNoiDung" ng-model="ctrl.data.phieuDeNghi.NoiDung"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-heading">
            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.add()" ng-if="ctrl.data.showButtonNew">
                <i class="fa fa-plus"></i>
                Thêm chi tiết (F2)
            </button>
        </div>

        <div class="panel-body table-responsive" style="max-height:300px;min-height:300px">
            <table st-table="ctrl.data.listChiTiet" class="table table-bordered table-condensed table-hover ng-isolate-scope table-striped" style="min-width:1000px;border: 1px solid #ddd;">
                <thead class="bg-default text-primary">
                    <tr>
                        <th class="text-center" style="min-width: 50px; vertical-align:middle">#</th>
                        <th class="text-center" style="min-width: 50px; vertical-align:middle">Xóa</th>
                        <th class="text-center" style="min-width: 300px; vertical-align:middle">Tên tài sản   <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 200px; vertical-align:middle">Mô tả đặc điểm</th>
                        <th class="text-center" style="min-width: 220px; vertical-align:middle">Loại tài sản <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">Số lượng      <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 70px; vertical-align:middle">ĐVT   <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 150px; vertical-align:middle">Phương thức   <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 120px; vertical-align:middle">Ngày đề nghị   <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">Dự toán        <span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 160px; vertical-align:middle">Dự toán được duyệt<span class="text-danger" data-toggle="tooltip" title="Bắt buộc nhập !">&nbsp;*</span></th>
                        <th class="text-center" style="min-width: 100px; vertical-align:middle">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="ctrl.status.isLoading">
                        <td colspan="100" class="text-center">
                            <i class="fa fa-fw fa-spin fa-spinner"></i>
                        </td>
                    </tr>
                    <tr ng-repeat="DenNghiTrangCapChiTiet in ctrl.data.listChiTiet" ng-class="DenNghiTrangCapChiTiet.isError ? 'danger':''">
                        <td class="text-center">{{$index + 1}}</td>
                        <td class="text-center">
                            <a class="btn btn-xs btn-danger"
                               ng-click="ctrl.data.listChiTiet.splice($index,1)" ng-if="ctrl.data.showButtonXoa">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                        <td class="form-group form-group-sm">
                            <!--ten tai san-->
                            <input type="text" id="txtTenTaiSan{{$index}}" class="form-control text-left" ng-model="DenNghiTrangCapChiTiet.TenTaiSan" ng-keypress="ctrl.action.keyPress(DenNghiTrangCapChiTiet.TenTaiSan,'txtTenTaiSan'+$index,'txtMoTa'+$index,$index,$event)" />
                        </td>
                        <td class="form-group form-group-sm">
                            <!--mo ta-->
                            <input type="text" id="txtMoTa{{$index}}" class="form-control text-left " ng-model="DenNghiTrangCapChiTiet.MoTa" ng-keypress="ctrl.action.keyPress(DenNghiTrangCapChiTiet.MoTa,'txtMoTa'+$index,'cbxLoaiTaiSan'+$index,$index,$event)" />
                        </td>
                        <td class="form-group form-group-sm">
                            <!--loai tai san-->
                            <cbo-loai-tai-san id="cbxLoaiTaiSan{{$index}}" data-value="DenNghiTrangCapChiTiet.LoaiId" data-config="{userInfo:@(ViewBag.userInfo)}" template-url="~/loaitaisan/showview?viewname=cboloaitaisan"></cbo-loai-tai-san>
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <!--soluong-->
                            <input type="text" id="txtSoLuong{{$index}}" class="form-control text-right" ng-model="DenNghiTrangCapChiTiet.SoLuong" number-format ng-keypress="ctrl.action.keyPress(DenNghiTrangCapChiTiet.SoLuong,'txtSoLuong'+$index,'txtDonViTinh'+$index,$index,$event)" />
                        </td>
                        <td class="form-group form-group-sm">
                            <!--dvtinh-->
                            <input type="text" id="txtDonViTinh{{$index}}" class="form-control text-left " ng-model="DenNghiTrangCapChiTiet.DonViTinh" ng-keypress="ctrl.action.keyPress(DenNghiTrangCapChiTiet.DonViTinh,'txtDonViTinh'+$index,'cbxPhuongThuc'+$index,$index,$event)" />
                        </td>
                        <td class="form-group form-group-sm">
                            <!--phuong thuc-->
                            <select class="form-control" id="cbxPhuongThuc{{$index}}" style="padding:0px 10px" data-placeholder="Phương thức" ng-model="DenNghiTrangCapChiTiet.PhuongThucId">
                                <option value="1">Mua sắm</option>
                                <option value="2">Nhận bằng hiện vật</option>
                                <option value="3">Xây mới</option>
                            </select>
                        </td>

                        <td class="form-group form-group-sm">
                            <!--ngay de nghi-->
                            <input type="text" id="txtNgayDeNghi{{$index}}" class="form-control datetimepicker date" ng-model="DenNghiTrangCapChiTiet.NgayDeNghi" ng-keypress="ctrl.action.keyPress(DenNghiTrangCapChiTiet.NgayDeNghi,'txtNgayDeNghi'+$index,'txtDuToan'+$index,$index,$event)" />
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <input type="text" id="txtDuToan{{$index}}" class="form-control text-right" ng-model="DenNghiTrangCapChiTiet.DuToan" number-format ng-keypress="ctrl.action.keyPress(DenNghiTrangCapChiTiet.DuToan,'txtDuToan','txtDuToanDuocDuyet'+$index,$index,$event)" />
                        </td>
                        <td class="text-right form-group form-group-sm">
                            <input type="text" id="txtDuToanDuocDuyet{{$index}}" class="form-control text-right" ng-model="DenNghiTrangCapChiTiet.DuToanDuocDuyet" number-format ng-keypress="ctrl.action.keyPress(DenNghiTrangCapChiTiet.DuToanDuocDuyet,'txtDuToanDuocDuyet'+$index,'txtGhiChu'+$index,$index,$event)" />
                        </td>
                        <td class="text-center form-group form-group-sm">
                            <input type="text" id="txtGhiChu{{$index}}" class="form-control text-right" ng-model="DenNghiTrangCapChiTiet.GhiChu" ng-keypress="ctrl.action.keyPress(DenNghiTrangCapChiTiet.GhiChu,'txtGhiChu'+$index,'txtTenTaiSan',$index,$event)" />
                        </td>
                    </tr>
                </tbody>
                @*<tfoot>
                        <tr>
                            <td colspan="100" class="text-center">
                                <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                            </td>
                        </tr>
                    </tfoot>*@
            </table>
        </div>

        <div class="panel-footer">
            <span ng-if="ctrl.data.showButtonSave  && (ctrl.data.phieuDeNghi.DuyetId==0?true:false)">
                <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.save()"><i class="fa fa-save"></i> Lưu (F8)</a>&nbsp;&nbsp;&nbsp;
            </span>
            <span ng-if="ctrl.data.showButtonXoa  && (ctrl.data.phieuDeNghi.DuyetId==0?true:false)">
                <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="ctrl.action.removePhieuDeNghi()"><i class="fafa-remove"></i> Xóa</a>&nbsp;&nbsp;&nbsp;
            </span>
            <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="ctrl.action.In()"><i class="fa fa-print"></i> In</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-sm btn-default" ng-click="ctrl.action.goBack()"><i class="fa fa-arrow-left"></i> Quay lại</a>&nbsp;&nbsp;&nbsp;
        </div>

    </div>

    <div class="modal fade bs-example-modal-full" id="reportmodal" style="z-index:2000" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-full" style="margin: 0px; width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Phiếu đề nghị trang cấp</h4>
                </div>
                <div class="modal-body">
                    <iframe src="" width="100%" height="1000px"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


@section ImportStyles{}
@section SetupStyles{
    <style type="text/css">
        .st-sort-ascent:before {
            content: '\25B2';
        }

        .st-sort-descent:before {
            content: '\25BC';
        }

        .select-page {
            width: 50px;
            text-align: center;
        }

        .pagination li a input {
            padding: 0;
            margin: -5px 0;
        }

        .col-sm-2 {
            width: 18%;
        }

        .col-sm-1 {
            width: 9%;
        }
    </style>
    <link href="~/lib/bootstrap/css/loadingPage.css" rel="stylesheet" />
}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/DeNghiTrangCap/controller/DeNghiTrangCapListCtrl.js"></script>
    <script src="~/Scripts/angular/DeNghiTrangCap/service/DeNghiTrangCapService.js"></script>
    <script src="~/Scripts/angular/DeNghiTrangCap/controller/DenNghiTrangCapFilterCtrl.js"></script>
    <script src="~/Scripts/angular/DeNghiTrangCap/controller/DeNghiTrangCapEditCtrl.js"></script>
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/shared/directive/keyboard.directive.js"></script>
    @{Html.RenderPartial("~/views/PhongBan/cboPhongBan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/PhongBan/Combobox.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/LoaiTaiSan/cboLoaiTaiSan.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
}




