@{
    ViewBag.Title = "Báo cáo công khai";
}

<div class="container-fluid">
    <div ng-controller="BaoCaoCongKhaiListCtrl as ctrl" class="panel panel-default" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo,linkUrl:'@(Url.Content("~/"))'})">
        <div class="panel-heading">
            <strong>
                Báo Cáo Công Khai
            </strong>
        </div>

        <div class="panel-body" style="width:600px; margin:0 auto">
            <form class="form-horizontal">
                <div class="form-group">
                    <label>Chọn Biểu</label>
                    <select class="form-control" id="cbxPhanLoai" style="padding:0px 10px" data-placeholder="Chọn biểu in" ng-model="ctrl.data.bieuIn">
                        <option value="3">Quản lý, sử dụng trụ sở làm việc, cơ sở hoạt động sự nghiệp (Biểu số 3)</option>
                        <option value="1">Kế hoạch mua sắm tài sản nhà nước (Biểu số 1)</option>
                        <option value="2">Kết quả mua sắm tài sản nhà nước (Biểu số 2)</option>
                        <option value="5">Thuê tài sản nhà nước (Biểu số 5)</option>
                        <option value="6">Tình hình xử lý tài sản (Biểu số 6)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Báo Cáo Theo</label>
                    <select class="form-control" id="cbxPhanLoai" style="padding:0px 10px" data-placeholder="Chọn phân loại" ng-change="ctrl.action.getValCondition()" ng-model="ctrl.data.condition">
                        <option value="1">Ngày</option>
                        <option value="2">Quý</option>
                        <option value="3">Năm</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-4 nam" style="width:32%; display:none">
                        <div class="form-group">
                            <label>Chọn Năm</label>
                            <select class="form-control" id="nam" ng-change="ctrl.action.getValNam()" ng-model="ctrl.data.nam">
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 quy" style="width:32%; display:none">
                        <div class="form-group">
                            <label>Chọn Quý</label>
                            <select class="form-control" id="quy" ng-change="ctrl.action.getValQuy()" ng-model="ctrl.data.quy">
                                <option value="1">Quý 1</option>
                                <option value="2">Quý 2</option>
                                <option value="3">Quý 3</option>
                                <option value="4">Quý 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" style="width:32%; margin-left:6px">
                        <div class="form-group">
                            <label>Từ Ngày</label>
                            <input type="text" id="tungay" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.startDate">
                        </div>
                    </div>
                    <div class="col-md-4" style="width:32%; margin-left:6px">
                        <div class="form-group">
                            <label>Đến Ngày</label>
                            <input type="text" id="denngay" class="form-control datetimepicker date" placeholder="dd/mm/yyyy" ng-model="ctrl.data.endDate">
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div class="panel-footer">
            <div style="text-align:center">
                <a class="btn btn-sm btn-primary" href="javascript:void(0)" ng-click="ctrl.action.XuatExcel()"><i class="fa fa-file-excel-o"></i> Xuất Excel</a>
                <a class="btn btn-sm btn-primary" ng-click="ctrl.action.In()" style="margin-left:60px"><i class="fa fa-print"></i> In Danh Sách</a>
            </div>

        </div>

    </div>

    <div class="modal fade bs-example-modal-full" id="reportmodal" style="z-index:2000" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-full" style="margin: 0px; width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">In báo cáo</h4>
                </div>
                <div class="modal-body">
                    <iframe src="" width="100%" height="1000px"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


@section ImportStyles{}
@section SetupStyles{}
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/BaoCaoCongKhai/controller/BaoCaoCongKhaiListCtrl.js"></script>
}